<template>
  <div class="content-wrapper">
    <breadcrumb :header="$t('menu.trainers')" :items="[{ text: 'Home', to: '/' }, { text: $t('menu.trainers'), to: '/trainers' }, { text: $t('form.detail') }]" />
    <section class="content">
      <div class="container-fluid">
        <b-row>
          <b-col sm="4" class="mt-3">
            <b-card no-body class="card-primary card-outline">
              <b-form-group class="mb-0">
                <div class="avatar-upload">
                  <div class="avatar-preview">
                    <div
                      id="avatarPreview"
                      :style="`background-image: url('${mTrainer.avatar}')`"
                    />
                  </div>
                  <h3 class="profile-username text-center">
                    {{ mTrainer.name }}
                  </h3>
                  <p class="text-muted text-center mb-1">
                    <span v-if="mTrainer.age">{{ mTrainer.age }}</span>
                    <span v-if="Number(mTrainer.weight) > 0">{{ ' &bull; ' + mTrainer.weight + ' ' + mSettings.weight_unit }}</span>
                    <span v-if="mTrainer.height > 0">{{ ' &bull; ' + mTrainer.height + ' ' + mSettings.height_unit }}</span>
                  </p>
                  <p v-if="mTrainer.phone" class="text-muted text-center mb-1">
                    {{ mTrainer.phone }}
                  </p>
                </div>
              </b-form-group>
              <b-form-group>
                <div class="photo-upload">
                  <div class="photo-preview">
                    <b-img
                      block
                      fluid-grow
                      :src="mTrainer.photo"
                    />
                  </div>
                </div>
              </b-form-group>
            </b-card>
          </b-col>
          <b-col sm="8" class="mt-3">
            <b-card no-body class="card-primary card-outline">
              <b-form class="av-tooltip tooltip-label-bottom">
                <b-tabs pills card>
                  <b-tab :title="$t('form.profile')" active>
                    <div style="overflow: auto">
                      <span v-html="mTrainer.profile" />
                    </div>
                  </b-tab>
                  <!-- <b-tab no-body :title="$t('menu.live_classes')" class="p-1">
                    <div v-for="(live_class, i) in live_classes" :key="i" class="list-group-item">
                      <b-row>
                        <b-col sm="6">
                          <vac v-if="live_class.status === 'active' || live_class.status === 'live'" :start-time="new Date(live_class.start_time).getTime() - 86399000" :end-time="live_class.start_time">
                            <template
                              #process="{ timeObj }"
                            >
                              <span class="text-white time-left text-shadow">{{ `${timeObj.h}:${timeObj.m}:${timeObj.s}` }}</span>
                            </template>
                            <template
                              #finish
                            >
                              <span v-if="new Date(live_class.end_time) > new Date()" class="bg-danger live time-left rounded px-1">
                                <i class="fa fa-circle" /> Live
                              </span>
                              <span v-else class="text-white time-left text-shadow">Finished</span>
                            </template>
                          </vac>
                          <b-img
                            :src="live_class.photo"
                            :class="live_class.photo ? 'img-fluid' : 'img-blank'"
                            :blank="live_class.photo ? false : true"
                            blank-color="#777"
                            alt="Photo"
                          />
                        </b-col>
                        <b-col>
                          <h5>
                            <b-link :to="`/live-classes/${live_class.id}`">
                              {{ live_class.name }}
                            </b-link>
                          </h5>
                          <em>{{ $helper.reduceToString(live_class.training_types, 'name') }}</em>
                          <p class="text-muted">
                            {{ intl.formatDate(typeof live_class.start_time === 'string' ? new Date(live_class.start_time) : live_class.start_time, {
                              type: 'date',
                              skeleton: 'full'
                            }) }} <br>
                            {{ intl.formatDate(typeof live_class.start_time === 'string' ? new Date(live_class.start_time) : live_class.start_time, { skeleton: 'hm' }) + (live_class.duration % 60 === 0 ? ' - ' + (live_class.duration / 60) + ' Hr' : ' - ' + (live_class.duration % 60) + ' Min') }}
                          </p>
                        </b-col>
                      </b-row>
                    </div>
                    <b-row>
                      <b-col>
                        <div class="float-sm-right">
                          <b-pagination v-model="currentpage" :per-page="perpage" :total-rows="totalrows" aria-controls="live_classes-table" />
                        </div>
                      </b-col>
                    </b-row>
                  </b-tab> -->
                  <b-tab :title="$t('form.feedbacks')">
                    <!--  -->
                  </b-tab>
                </b-tabs>
              </b-form>
            </b-card>
          </b-col>
        </b-row>
      </div>
    </section>
  </div>
</template>

<script>
import { Internationalization } from '@syncfusion/ej2-base'
export default {
  async asyncData ({ $axios, params }) {
    let mTrainer = null
    let mSettings = null
    await $axios.$get(`/trainer/trainers/${params.trainer}`)
      .then((res) => {
        mTrainer = res.trainer
        mSettings = res.settings
      })
      .catch(() => { })
    return { mTrainer, mSettings }
  },
  data () {
    return {
      intl: new Internationalization(),
      perpage: 3,
      currentpage: 1,
      sortBy: 'live_class_date',
      sortDirection: 'desc',
      totalrows: 0,
      live_classes: []
    }
  },
  watch: {
    perpage () {
      this.drawLiveClasses()
    },
    currentpage () {
      this.drawLiveClasses()
    }
  },
  mounted () {
    this.drawLiveClasses()
  },
  methods: {
    async drawLiveClasses () {
      // await this.$axios.$get('/liveclasses', {
      //   params: {
      //     per_page: this.perpage,
      //     page: this.currentpage,
      //     sort_by: this.sortBy,
      //     sort_direction: this.sortDirection,
      //     trainer_id: this.mTrainer.id
      //   }
      // })
      //   .then((res) => {
      //     this.live_classes = res.live_classes
      //     this.totalrows = res.total_rows
      //   })
      //   .catch(() => { })
    }
  }
}
</script>

<style lang="scss" scoped>
.time-left {margin-top: 1%;margin-left: 5%;position: absolute;font-size: clamp(12px, 1.1vw, 28px);}
.img-blank {
  min-height: clamp(150px, 15vw, 500px);
  width: 100%;
}

.img-container img {
  max-width: 100%;
  height: 360px;
}
.avatar-upload {
  position: relative;
  max-width: 150px;
  margin: 20px auto 15px auto;

  .avatar-preview {
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #f8f8f8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);

    > div {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.photo-upload {
  width: calc(100% - 10px);
  padding-top: 150%; /* 1:1.5 Aspect Ratio */
  position: relative; /* If you want text inside of it */
  margin: 5px;

  .photo-preview {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 6px solid #f8f8f8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);

    > div {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
</style>
