<template>
  <div class="content-wrapper">
    <breadcrumb :header="$t('menu.clients')" :items="[{ text: 'Home', to: '/' }, { text: $t('menu.clients') }]" />
    <section class="content">
      <div class="container-fluid">
        <div class="card card-solid card-primary card-outline">
          <div class="card-body p-2">
            <b-row>
              <b-col cols="6">
                <b-form-input
                  v-model="filter"
                  class="mb-2"
                  type="search"
                  size="sm"
                  placeholder="Search"
                  debounce="750"
                />
              </b-col>
              <b-col cols="3">
                <b-form-select v-model="sortBy" :options="[{text: 'Name', value: 'name'}, {text: 'Age', value: 'age'}, {text: 'Height', value: 'height'}]" size="sm" />
              </b-col>
              <b-col cols="3">
                <b-form-select v-model="sortDirection" :options="[{text: 'ASC', value: 'asc'}, {text: 'DESC', value: 'desc'}]" size="sm" />
              </b-col>
            </b-row>
            <div class="row">
              <div v-for="(client, i) in mClients" :key="i" class="col col-12 col-sm-6 col-md-4 col-xl-3 col-xxl-3 d-flex align-items-stretch flex-column mt-1 mb-1">
                <div class="card d-flex flex-fill mb-0">
                  <div class="card-header text-muted border-bottom-0">
                    {{ client.name }}
                  </div>
                  <div class="card-body pt-0">
                    <div class="row">
                      <div class="col-7">
                        <p class="text-muted text-sm">
                          <span v-if="client.age">{{ client.age }}<br></span>
                          <span v-if="Number(client.weight) > 0">{{ client.weight + ' ' + mSettings.weight_unit }}<br></span>
                          <span v-if="client.height > 0">{{ client.height + ' ' + mSettings.height_unit }}</span>
                        </p>
                        <ul v-if="client.phone" class="ml-4 mb-0 fa-ul text-muted">
                          <li class="small">
                            <span class="fa-li"><i class="fas fa-lg fa-phone" /></span> {{ client.phone }}
                          </li>
                        </ul>
                      </div>
                      <div class="col-5 text-center">
                        <b-img :src="client.avatar" :blank="client.avatar ? false : true" alt="avatar" class="img-circle elevation-2" fluid-grow />
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="text-right">
                      <b-link :to="`/clients/${client.id}`" class="btn btn-sm btn-primary">
                        <i class="fas fa-user" /> View Profile
                      </b-link>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <b-row>
          <b-col sm="5" />
          <b-col sm="7">
            <div class="float-sm-right">
              <b-pagination v-model="currentpage" :per-page="perpage" :total-rows="totalrows" />
            </div>
          </b-col>
        </b-row>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  async asyncData ({ $axios, store }) {
    let mClients = []
    let mSettings = null
    let totalrows = 0
    await $axios.$get('/trainer/clients')
      .then((res) => {
        mClients = res.clients
        mSettings = res.settings
        totalrows = res.total_rows
      })
      .catch(() => { })
    return { mClients, mSettings, totalrows }
  },
  data () {
    return {
      perpage: 9,
      currentpage: 1,
      filter: '',
      sortBy: 'name',
      sortDirection: 'asc',
      isDesc: false,
      isBusy: false
    }
  },
  watch: {
    perpage () {
      this.drawClients()
    },
    currentpage () {
      this.drawClients()
    },
    filter () {
      this.drawClients()
    },
    sortBy () {
      this.drawClients()
    },
    sortDirection () {
      this.drawClients()
    }
  },
  mounted () {
    //
  },
  methods: {
    async drawClients () {
      this.isBusy = true
      await this.$axios.$get('/trainer/clients', {
        params: {
          per_page: this.perpage,
          page: this.currentpage,
          filter: this.filter,
          sort_by: this.sortBy,
          sort_direction: this.sortDirection
        }
      })
        .then((res) => {
          this.mClients = res.clients
          this.mSettings = res.settings
          this.totalrows = res.total_rows
        }).then(() => {
          this.isBusy = false
        })
        .catch(() => {
          this.isBusy = false
        })
    }
  }
}
</script>

<style>

</style>
