<template>
  <div class="content-wrapper">
    <breadcrumb :header="$t('menu.clients')" :items="[{ text: 'Home', to: '/' }, { text: $t('menu.clients'), to: '/clients' }, { text: $t('form.detail') }]" />
    <section class="content">
      <div class="container-fluid">
        <b-row>
          <b-col sm="4" class="mt-3">
            <b-card no-body class="card-primary card-outline">
              <b-form-group class="mb-0">
                <div class="avatar-upload">
                  <div class="avatar-preview">
                    <div
                      id="avatarPreview"
                      :style="`background-image: url('${mClient.avatar}')`"
                    />
                  </div>
                  <h3 class="profile-username text-center">
                    {{ mClient.name }}
                  </h3>
                  <p class="text-muted text-center mb-1">
                    <span v-if="mClient.age">{{ mClient.age + ' &bull; ' }}</span>
                    <span v-if="Number(mClient.weight) > 0">{{ mClient.weight + ' ' + mSettings.weight_unit + ' &bull; ' }}</span>
                    <span v-if="mClient.height > 0">{{ mClient.height + ' ' + mSettings.height_unit }}</span>
                  </p>
                  <p v-if="mClient.phone" class="text-muted text-center mb-1">
                    {{ mClient.phone }}
                  </p>
                </div>
              </b-form-group>
              <div>
                <div style="max-width:400px;margin:1rem auto;">
                  <div class="photo-upload">
                    <div class="photo-preview">
                      <b-img
                        block
                        fluid-grow
                        :src="mClient.photo"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </b-card>
          </b-col>
          <b-col sm="8" class="mt-3">
            <b-card no-body class="card-primary card-outline">
              <b-form class="av-tooltip tooltip-label-bottom">
                <b-tabs pills card>
                  <b-tab :title="$t('form.trainings')" active>
                    <b-table
                      id="sessions-table"
                      :items="sessions"
                      :fields="sessionFields"
                      :outlined="true"
                      :per-page="sessionPerPage"
                      :sort-by.sync="sessionSortBy"
                      :sort-desc.sync="sessionIsDesc"
                      :sort-direction.sync="sessionSortDirection"
                      :no-local-sorting="true"
                      :busy="isSessionBusy"
                      responsive
                      show-empty
                      striped
                      @sort-changed="sessionSortChanged"
                    >
                      <template #table-busy>
                        <div class="text-center my-2">
                          <b-spinner class="align-middle" />
                          <strong>Loading...</strong>
                        </div>
                      </template>
                      <template #cell(booking_id)="data">
                        <label class="mb-0 hov-pointer text-primary" @click="showBookingDetails(data.item.booking_id)">
                          {{ "B-" + data.item.booking_id }}
                        </label>
                      </template>
                      <template #cell(session_date)="data">
                        {{ getTimeRange(data.item) }}
                      </template>
                      <template #cell(techniques)="data">
                        <div v-if="data.item.techniques && data.item.techniques.length > 0" class="e-description-details e-text-ellipsis">
                          {{ Array.prototype.map.call(data.item.techniques, s => s.name).join(', ') }}
                        </div>
                        <div v-else class="e-description-details e-text-ellipsis text-danger">
                          {{ $t('form.techniques_not_set') }}
                        </div>
                      </template>
                      <template #cell(status)="data">
                        <div>
                          <span v-if="data.item.status.toLowerCase() === 'pending'" class="text-warning text-capitalize">
                            <i class="fas fa-exclamation-circle" /> {{ data.item.status }}
                          </span>
                          <span v-else-if="['cancelled', 'rejected', 'expired'].includes(data.item.status.toLowerCase())" class="text-danger text-capitalize">
                            <i class="fas fa-stop-circle" /> {{ data.item.status }}
                          </span>
                          <span v-else-if="['coming','arrived','start_training','finished_training'].includes(data.item.status.toLowerCase())" class="text-success">
                            <i v-if="data.item.status.toLowerCase() === 'coming'" class="fas fa-shipping-fast fa-blink" />
                            <i v-else-if="data.item.status.toLowerCase() === 'arrived'" class="fas fa-map-marker-alt fa-blink" />
                            <i v-else-if="data.item.status.toLowerCase() === 'start_training'" class="fas fa-dumbbell fa-blink" />
                            <i v-else-if="data.item.status.toLowerCase() === 'finished_training'" class="fas fa-flag-checkered" />
                          </span>
                          <span v-else :class="(data.item.status === 'confirmed' || data.item.status === 'completed') ? 'text-success' : 'text-warning'" class="text-capitalize">
                            <i class="fas fa-check-circle" /> {{ data.item.status }}
                          </span>
                        </div>
                      </template>
                    </b-table>
                    <b-row class="mt-1">
                      <b-col>
                        <div class="float-sm-right">
                          <b-pagination v-model="sessionCurrentPage" :per-page="sessionPerPage" :total-rows="sessionTotalRows" aria-controls="sessions-table" />
                        </div>
                      </b-col>
                    </b-row>
                  </b-tab>
                  <b-tab no-body lazy :title="$t('menu.live_classes')" class="p-1">
                    <div v-for="(live_class, i) in live_classes" :key="i" class="list-group-item">
                      <b-row>
                        <b-col sm="6">
                          <vac v-if="live_class.status === 'active' || live_class.status === 'live'" :start-time="new Date(live_class.start_time).getTime() - 86399000" :end-time="live_class.start_time">
                            <template
                              #process="{ timeObj }"
                            >
                              <span class="text-white time-left text-shadow">{{ `${timeObj.h}:${timeObj.m}:${timeObj.s}` }}</span>
                            </template>
                            <template
                              #finish
                            >
                              <span v-if="new Date(live_class.end_time) > new Date()" class="bg-danger live time-left rounded px-1">
                                <i class="fa fa-circle" /> Live
                              </span>
                              <span v-else class="text-white time-left text-shadow">Finished</span>
                            </template>
                          </vac>
                          <b-img
                            :src="live_class.photo"
                            :class="live_class.photo ? 'img-fluid' : 'img-blank'"
                            :blank="live_class.photo ? false : true"
                            blank-color="#777"
                            alt="Photo"
                          />
                        </b-col>
                        <b-col>
                          <h5 class="mt-1 mt-sm-0">
                            <b-link :to="`/live-classes/${live_class.id}`">
                              {{ live_class.name }}
                            </b-link>
                          </h5>
                          <em>{{ $helper.reduceToString(live_class.training_types, 'name') }}</em>
                          <p class="text-muted">
                            {{ intl.formatDate(typeof live_class.start_time === 'string' ? new Date(live_class.start_time) : live_class.start_time, {
                              type: 'date',
                              skeleton: 'full'
                            }) }} <br>
                            {{ intl.formatDate(typeof live_class.start_time === 'string' ? new Date(live_class.start_time) : live_class.start_time, { skeleton: 'hm' }) + (live_class.duration % 60 === 0 ? ' - ' + (live_class.duration / 60) + ' Hr' : ' - ' + (live_class.duration % 60) + ' Min') }}
                          </p>
                          <p>
                            <span v-if="live_class.status.toLowerCase() === 'pending'" class="text-warning text-capitalize">
                              <i class="fas fa-exclamation-circle" /> {{ live_class.status }}
                            </span>
                            <span v-else-if="['cancelled', 'rejected', 'cancelled'].includes(live_class.status.toLowerCase())" class="text-danger text-capitalize">
                              <i class="fas fa-stop-circle" /> {{ live_class.status }}
                            </span>
                            <span v-else :class="['booked','finished'].includes(live_class.status.toLowerCase()) ? 'text-success' : 'text-warning'" class="text-capitalize">
                              <i class="fas fa-check-circle" /> {{ live_class.status }}
                            </span>
                          </p>
                        </b-col>
                      </b-row>
                    </div>
                    <b-row>
                      <b-col>
                        <div class="float-sm-right">
                          <b-pagination v-model="currentpage" :per-page="perpage" :total-rows="totalrows" aria-controls="live_classes-table" />
                        </div>
                      </b-col>
                    </b-row>
                  </b-tab>
                  <b-tab :title="$t('form.medical')" lazy>
                    <div
                      v-for="(item, i) in mQuestionnaires"
                      :key="i"
                      class="card"
                    >
                      <div class="card-header py-2">
                        {{ item.question }}
                      </div>
                      <div class="card-body py-3">
                        <b-form-rating
                          v-if="item.input_type === 'star_rating'"
                          v-model="item.answer"
                          no-border
                          inline
                          show-value
                          show-value-max
                          readonly
                        />
                        <b-form-rating
                          v-else-if="item.input_type === 'scale_of_1_to_10'"
                          v-model="item.answer"
                          stars="10"
                          no-border
                          inline
                          show-value
                          show-value-max
                          readonly
                        />
                        <span v-else>
                          {{ item.answer }}
                        </span>
                      </div>
                    </div>
                  </b-tab>
                </b-tabs>
              </b-form>
            </b-card>
          </b-col>
        </b-row>
      </div>
    </section>
  </div>
</template>

<script>
import { Internationalization } from '@syncfusion/ej2-base'
export default {
  async asyncData ({ $axios, params }) {
    let mClient = null
    let mQuestionnaires = null
    let mSettings = null
    await $axios.$get(`/trainer/clients/${params.client}`)
      .then((res) => {
        mClient = res.client
        mQuestionnaires = res.questionnaires
        mSettings = res.settings
      })
      .then(() => {
        mQuestionnaires.forEach((q) => {
          const answer = mClient.answers.find(a => a.questionnaire_id === q.id)
          q.questionnaire_id = q.id
          q.answer = answer ? answer.answer : null
        })
      })
      .catch(() => { })
    return { mClient, mQuestionnaires, mSettings }
  },
  data () {
    return {
      intl: new Internationalization(),
      sessionPerPage: 10,
      sessionCurrentPage: 1,
      sessionSortBy: 'session_date',
      sessionSortDirection: 'desc',
      sessionIsDesc: true,
      sessionTotalRows: 0,
      isSessionBusy: false,
      sessions: [],
      perpage: 3,
      currentpage: 1,
      sortBy: 'live_class_date',
      sortDirection: 'desc',
      totalrows: 0,
      live_classes: [],
      sessionFields: [
        {
          key: 'booking_id',
          class: 'w-5 text-truncate',
          thClass: 'text-center align-middle',
          label: this.$t('form.no'),
          sortable: true
        },
        {
          key: 'session_date',
          class: 'w-25 text-truncate',
          thClass: 'text-center align-middle',
          label: this.$t('form.date'),
          sortable: true
        },
        {
          key: 'techniques',
          class: 'w-30 text-truncate',
          thClass: 'text-center align-middle',
          label: this.$t('form.techniques')
        },
        {
          key: 'status',
          class: 'w-10 text-nowrap',
          thClass: 'text-center align-middle',
          label: this.$t('form.status'),
          sortable: true
        }
      ]
    }
  },
  watch: {
    perpage () {
      this.drawLiveClasses()
    },
    currentpage () {
      this.drawLiveClasses()
    },
    sessionPerPage () {
      this.drawSessions()
    },
    sessionCurrentPage () {
      this.drawSessions()
    }
  },
  mounted () {
    this.drawSessions()
    this.drawLiveClasses()
  },
  methods: {
    async drawLiveClasses () {
      await this.$axios.$get(`/trainer/clients/${this.mClient.id}/liveclasses`, {
        params: {
          per_page: this.perpage,
          page: this.currentpage,
          sort_by: this.sortBy,
          sort_direction: this.sortDirection
        }
      })
        .then((res) => {
          this.live_classes = res.live_classes
          this.totalrows = res.total_rows
        })
        .catch(() => { })
    },
    async drawSessions () {
      this.isSessionBusy = true
      await this.$axios.$get(`/trainer/clients/${this.mClient.id}/trainings`, {
        params: {
          per_page: this.sessionPerPage,
          page: this.sessionCurrentPage,
          sort_by: this.sessionSortBy,
          sort_direction: this.sessionSortDirection
        }
      })
        .then((res) => {
          this.sessions = res.sessions
          this.sessionTotalRows = res.total_rows
        })
        .then(() => {
          this.isSessionBusy = false
        })
        .catch(() => { })
    },
    showBookingDetails (id) {
      this.$router.push(`/bookings/${id}`)
    },
    sessionSortChanged (ctx) {
      if (this.sessionSortBy !== ctx.sortBy) {
        this.sessionIsDesc = false
        this.sessionSortDirection = 'asc'
      } else {
        this.sessionSortDirection = ctx.sortDesc ? 'desc' : 'asc'
      }
      this.sessionSortBy = ctx.sortBy

      this.drawSessions()
    },
    getTimeRange (data) {
      const start = new Date(data.session_date)
      const end = new Date(data.session_date)
      end.setMinutes(end.getMinutes() + data.duration)
      return (
        this.intl.formatDate(start, {
          type: 'date',
          skeleton: 'medium'
        }) +
        ' (' +
        this.intl.formatDate(start, { skeleton: 'hm' }) +
        ' - ' +
        this.intl.formatDate(end, { skeleton: 'hm' }) +
        ')'
      )
    }
  }
}
</script>

<style lang="scss" scoped>
.time-left {margin-top: 1%;margin-left: 5%;position: absolute;font-size: clamp(12px, 1.1vw, 28px);}
.img-blank {
  min-height: clamp(150px, 15vw, 500px);
  width: 100%;
}

.img-container img {
  max-width: 100%;
  height: 360px;
}
.avatar-upload {
  position: relative;
  max-width: 150px;
  margin: 20px auto 15px auto;

  .avatar-preview {
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #f8f8f8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);

    > div {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.photo-upload {
  width: calc(100% - 10px);
  padding-top: 150%; /* 1:1.5 Aspect Ratio */
  // padding-top: clamp(150%, 150%, 600px);
  position: relative; /* If you want text inside of it */
  margin: 5px;

  .photo-preview {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 6px solid #f8f8f8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);

    > div {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
</style>
