<template>
  <div class="content-wrapper">
    <breadcrumb :header="$t('menu.calendar')" :items="[{ text: 'Home', to: '/' }, { text: $t('menu.calendar') }]" />
    <section class="content">
      <div class="container-fluid">
        Hello
      </div>
    </section>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
