//
// Core: Preloader
//

.preloader {
  display: flex;
  background-color: $main-bg;
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: $zindex-preloader;
}

.preloader.h-0 {
  height: 0;
  transition: height 200ms linear;
}

@include dark-mode () {
  .preloader {
    background-color: $dark-main-bg;
    color: $white;
  }
}

//
