
@include dark_mode() {
  .vc-container {
    background-color: #343a40;
  }
  .vc-title {
    color: rgba($color: #fff, $alpha: 0.7);
  }
  .vc-text {
    color: rgba($color: #fff, $alpha: 0.7);
  }
  .vc-btn {
    background-color: #343a40;
    &:hover:enabled {
      background-color:  darken(#343a40, 8%);
    }
  }
}
