
.date-time-picker, .date-time-picker input, .date-time-picker label, .date-time-picker p, .date-time-picker span {
  font-family: $font-family-base
}


.bg-input {
  background-color: $main-bg !important;
}

@include dark-mode() {
  .bg-input {
    background-color: $dark-main-bg;
  }
}
