@include dark_mode() {
  .ql-snow {
    .ql-stroke {
      stroke: #ccc;
    }
    .ql-fill {
      fill: #ccc;
    }
    .ql-stroke.ql-fill {
      fill: #ccc;
    }
    .ql-picker {
      color: #ccc;
    }
  }
}
