// Responsive Typography
h3.responsive-typo {
  font-size: 1.3rem;
  @include media-breakpoint-up(sm) {
    font-size: 1.75rem;
  }
}

.responsive-typo {
  font-size: 0.8rem;
  line-height: 1.2;
  @include media-breakpoint-up(sm) {
    font-size: 1rem;
    line-height: 1.5;
  }
}

/*[ Width & Height ]
-----------------------------------------------------------
*/
.sizefull {
  width: 100%;
  height: 100%;
}
.w-full {
  width: 100%;
}
@for $i from 1 through 100 {
  .w-#{$i} {
    width: #{percentage($i/100)} !important;
  }
}
.h-full {
  height: 100%;
}
@for $i from 1 through 100 {
  .h-#{$i} {
    height: #{percentage($i/100)} !important;
  }
}
.max-w-full {
  max-width: 100%;
}
.max-h-full {
  max-height: 100%;
}
.min-w-full {
  min-width: 100%;
}
.min-h-full {
  min-height: 100%;
}

/*[ Hover ]
-----------------------------------------------------------
*/
.hov-pointer:hover {
  cursor: pointer;
}

.cursor-pointer:hover {
  cursor: pointer;
}

/* ------------------------------------ */
.lh-1-0 {
  line-height: 1;
}
.lh-1-1 {
  line-height: 1.1;
}
.lh-1-2 {
  line-height: 1.2;
}
.lh-1-3 {
  line-height: 1.3;
}
.lh-1-4 {
  line-height: 1.4;
}
.lh-1-5 {
  line-height: 1.5;
}
.lh-1-6 {
  line-height: 1.6;
}
.lh-1-7 {
  line-height: 1.7;
}
.lh-1-8 {
  line-height: 1.8;
}
.lh-1-9 {
  line-height: 1.9;
}
.lh-2-0 {
  line-height: 2;
}
.lh-2-1 {
  line-height: 2.1;
}
.lh-2-2 {
  line-height: 2.2;
}
.lh-2-3 {
  line-height: 2.3;
}
.lh-2-4 {
  line-height: 2.4;
}
.lh-2-5 {
  line-height: 2.5;
}
.lh-2-6 {
  line-height: 2.6;
}
.lh-2-7 {
  line-height: 2.7;
}
.lh-2-8 {
  line-height: 2.8;
}
.lh-2-9 {
  line-height: 2.9;
}
