@include dark_mode() {

$separator-color: #6c757d;
$secondary-color: #fff;
$primary-color: rgba(#fff, .7);
$theme-color-1: #4083ff;
$foreground-color: #343A40;
$button-text-color: #6c757d;
$input-background: #343A40;

.v-select.vs--disabled {
	.vs__selected-options {
		background-color: $separator-color !important;
		> input {
      background-color: $separator-color !important;
    }
	}
}


.v-select {
    color: $primary-color;

    .vs__actions {
      color: $secondary-color;
    }

    .vs__selected-options {
      background: $foreground-color !important;
    }

    .vs__dropdown-menu {
      background: $foreground-color;
      border-color: rgba($theme-color-1, 0.6) !important;

      .vs__dropdown-option {
        background: $foreground-color !important;
        color: $primary-color !important;
        &.vs__dropdown-option--highlight {
          background: rgba($theme-color-1, 0.6) !important;
          color: $button-text-color !important;
        }
      }
    }

    .vs__dropdown-toggle {
      border: 1px solid $separator-color !important;
      background: $input-background !important;
    }

    .vs__open-indicator {
      fill: $separator-color;
      border-color: $separator-color !important;
    }

    &.vs--open {
      .vs__dropdown-toggle {
        border-color: rgba($theme-color-1, 0.6) !important;
      }
    }

    .vs__actions,
    &.vs--open .vs__actions {
      &:active,
      &:focus,
      &:hover {
        color: $theme-color-1 !important;
      }
    }

    &.vs--single .vs__selected {
      color: $primary-color !important;
    }
  }
}
