<template>
  <div class="content-wrapper">
    <breadcrumb :header="$t('menu.bookings')" :items="[{ text: 'Home', to: '/' }, { text: $t('menu.bookings'), to: '/bookings' }, { text: $t('form.detail') }]" />
    <section class="content">
      <div class="container-fluid">
        <div class="invoice p-3 mb-3">
          <div id="printArea">
            <b-row>
              <b-col cols="auto">
                <img src="/icon.png" alt="KMax Logo" class="img-circle elevation-2" style="max-height: 33px;">
              </b-col>
              <b-col>
                <h4 class="mt-2">
                  KMax Fitness
                </h4>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="6" sm="3" lg="2">
                {{ $t('form.no') }}
              </b-col>
              <b-col>
                {{ 'P-' + mPayment.id }}
              </b-col>
              <b-col class="d-none d-lg-block" lg="2" />
              <b-col cols="6" sm="3" lg="2">
                {{ $t('form.date') }}
              </b-col>
              <b-col>
                {{ intl.formatDate(new Date(mPayment.payment_date), {format:'MMM d, yyyy'}) }}
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="6" sm="3" lg="2">
                {{ $t('form.trainer') }}
              </b-col>
              <b-col>
                {{ $auth.user.name }}
              </b-col>
              <b-col class="d-none d-lg-block" lg="2" />
              <b-col cols="6" sm="3" lg="2">
                {{ $t('form.total') }}
              </b-col>
              <b-col>
                {{ intl.formatNumber(mPayment.total, {format: '#,###.## Ks' }) }}
              </b-col>
            </b-row>
            <b-table
              id="remaining-commissions-table"
              class="mt-2"
              :items="mCommissions"
              :fields="remainingCommissionFields"
              :outlined="true"
              responsive
              show-empty
              striped
            >
              <template #table-busy>
                <div class="text-center my-2">
                  <b-spinner class="align-middle" />
                  <strong>Loading...</strong>
                </div>
              </template>
              <template #cell(id)="data">
                <label class="mb-0 hov-pointer text-primary" @click="showRemainingDetails(data.item)">
                  {{ (data.item.type === 'training' ? "B-" : "L-") + data.item.model_id }}
                </label>
              </template>
              <template #cell(date)="data">
                {{ intl.formatDate(new Date(data.item.date), {format:'MMM d, yyyy, h:mm a'}) }}
              </template>
              <template #cell(type)="data">
                <span class="text-capitalize">
                  {{ data.item.type.split('_').join(' ') }}
                </span>
              </template>
              <template #cell(trainer_commission)="data">
                {{ intl.formatNumber(data.item.trainer_commission, {format: '#,###.## Ks' }) }}
              </template>
            </b-table>
          </div>
          <div class="mt-2">
            <a class="btn btn-default" @click="print"><i class="fas fa-print" /> Print</a>
            <b-button-group class="float-right">
              <b-button variant="warning" @click="$router.push(`/wallet`)">
                {{ $t('form.back') }}
              </b-button>
            </b-button-group>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { Internationalization } from '@syncfusion/ej2-base'
export default {
  async asyncData ({ $axios, params }) {
    let mPayment = null
    let mCommissions = []
    await $axios.$get(`/trainer/payments/${params.payment}`)
      .then((res) => {
        mPayment = res.payment
        mCommissions = res.commissions
      })
      .catch(() => {})
    return { mPayment, mCommissions }
  },
  data () {
    return {
      intl: new Internationalization(),
      remainingCommissionFields: [
        {
          key: 'id',
          class: 'w-5 text-truncate',
          sortable: true,
          label: this.$t('form.no')
        },
        {
          key: 'date',
          class: 'w-15 text-truncate',
          sortable: true,
          label: this.$t('form.date')
        },
        {
          key: 'type',
          class: 'w-5 text-truncate',
          sortable: true,
          label: this.$t('form.type')
        },
        {
          key: 'name',
          class: 'w-15 text-nowrap',
          sortable: true,
          label: this.$t('form.name')
        },
        {
          key: 'trainer_commission',
          class: 'w-15 text-truncate',
          sortable: true,
          label: this.$t('form.commission')
        }
      ]
    }
  },
  methods: {
    async print () {
      await this.$store.dispatch('print/set', document.getElementById('printArea').innerHTML)
        .then(() => {
          const w = window.open('/print', '', '')
          w.onafterprint = async () => {
            w.close()
            await this.$store.dispatch('print/set', '')
          }
        })
    },
    showRemainingDetails (item) {
      if (item.type === 'training') {
        this.$router.push(`/bookings/${item.model_id}`)
      } else {
        this.$router.push(`/live-classes/${item.model_id}`)
      }
    }
  }
}
</script>

<style>

</style>
