<template>
  <div class="content-wrapper">
    <breadcrumb :header="$t('menu.bookings')" :items="[{ text: 'Home', to: '/' }, { text: $t('menu.bookings'), to: '/bookings' }, { text: $t('form.detail') }]" />
    <section class="content">
      <div class="container-fluid">
        <div class="invoice p-3 mb-3">
          <div id="printArea">
            <b-row>
              <b-col cols="auto">
                <img src="/icon.png" alt="KMax Logo" class="img-circle elevation-2" style="max-height: 33px;">
              </b-col>
              <b-col>
                <h4 class="mt-2">
                  KMax Fitness
                </h4>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="6" sm="3" lg="2">
                {{ $t('form.no') }}
              </b-col>
              <b-col>
                {{ 'B-' + mBooking.id }}
              </b-col>
              <b-col class="d-none d-lg-block" lg="2" />
              <b-col cols="6" sm="3" lg="2">
                {{ $t('form.date') }}
              </b-col>
              <b-col>
                {{ intl.formatDate(new Date(mBooking.created_at), {format:'MMM d, yyyy, h:mm a'}) }}
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="6" sm="3" lg="2">
                {{ $t('form.sessions') }}
              </b-col>
              <b-col>
                {{ mBooking.sessions.length }}
              </b-col>
              <b-col class="d-none d-lg-block" lg="2" />
              <b-col cols="6" sm="3" lg="2">
                {{ $t('form.invitations') }}
              </b-col>
              <b-col>
                {{ mBooking.invitations.length }}
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="6" sm="3" lg="2">
                {{ $t('form.status') }}
              </b-col>
              <b-col class="text-capitalize">
                <span v-if="mBooking.status.toLowerCase() === 'pending'" class="text-warning text-capitalize">
                  <i class="fas fa-exclamation-circle" /> {{ mBooking.status }}
                </span>
                <span v-else-if="['cancelled', 'rejected', 'expired'].includes(mBooking.status.toLowerCase())" class="text-danger text-capitalize">
                  <i class="fas fa-stop-circle" /> {{ mBooking.status }}
                </span>
                <span v-else :class="(mBooking.status === 'confirmed' || mBooking.status === 'completed') ? 'text-success' : 'text-warning'" class="text-capitalize">
                  <i class="fas fa-check-circle" /> {{ mBooking.status }}
                </span>
              </b-col>
              <b-col class="d-none d-lg-block" lg="2" />
              <b-col cols="6" sm="3" lg="2" />
              <!-- <b-col v-if="mBooking.status === 'pending' && mBooking.trainer_state === 'pending'">
                <b-button variant="primary" size="sm" :disabled="processing" @click="acceptBooking">
                  {{ $t('form.accept') }}
                </b-button>
                <b-button variant="danger" size="sm" :disabled="processing" @click="declineBooking">
                  {{ $t('form.decline') }}
                </b-button>
              </b-col> -->
            </b-row>
            <div v-if="mBooking.substitute_session">
              <b-row>
                <b-col cols="6" sm="3" lg="2" class="text-danger">
                  {{ $t('form.notes') }}
                </b-col>
                <b-col class="text-danger">
                  This booking was automatically created due to trainer change of session
                  ({{ getTimeRange(mBooking.substitute_session) }})
                </b-col>
              </b-row>
            </div>
            <b-row class="mt-2">
              <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column mb-2">
                <div class="card card-primary card-outline d-flex flex-fill mb-0">
                  <div class="card-header border-bottom-0 py-2">
                    {{ $t('form.client') }}
                  </div>
                  <div class="card-body pt-0">
                    <div class="row">
                      <div class="col-7">
                        <h2 class="lead">
                          <b><b-link :to="`/clients/${mBooking.client.id}`">{{ mBooking.client.name }}</b-link></b>
                        </h2>
                        <p class="text-muted text-sm">
                          <span v-if="mBooking.client.age">{{ mBooking.client.age }}<br></span>
                          <span v-if="Number(mBooking.client.weight) > 0">{{ mBooking.client.weight + ' ' + mSettings.weight_unit }}<br></span>
                          <span v-if="mBooking.client.height > 0">{{ mBooking.client.height + ' ' + mSettings.height_unit }}</span>
                        </p>
                        <ul v-if="mBooking.client.phone" class="ml-4 mb-0 fa-ul text-muted">
                          <li class="small">
                            <span class="fa-li"><i class="fas fa-lg fa-phone" /></span> {{ mBooking.client.phone }}
                          </li>
                        </ul>
                      </div>
                      <div class="col-5 text-center">
                        <b-img :src="mBooking.client.avatar" :blank="mBooking.client.avatar ? false : true" alt="avatar" class="img-circle elevation-2" fluid-grow />
                      </div>
                    </div>
                  </div>
                  <!-- <div class="card-footer">
                    <div class="text-right">
                      <a href="#" class="btn btn-sm bg-teal">
                        <i class="fas fa-comments" />
                      </a>
                      <b-link :to="`/trainers/${mBooking.trainer.id}`" target="_blank" class="btn btn-sm btn-primary">
                        <i class="fas fa-user" /> {{ $t('form.view_profile') }}
                      </b-link>
                    </div>
                  </div> -->
                </div>
              </div>
              <div v-for="(invitation, k) in mBooking.invitations" :key="k" class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column mb-2">
                <div class="card card-primary card-outline d-flex flex-fill mb-0">
                  <div class="card-header border-bottom-0 py-2">
                    {{ $t('form.client') }}
                  </div>
                  <div class="card-body pt-0">
                    <div class="row">
                      <div class="col-7">
                        <h2 class="lead">
                          <b><b-link :to="`/clients/${invitation.client.id}`">{{ invitation.client.name }}</b-link></b>
                        </h2>
                        <p class="text-muted text-sm">
                          <span v-if="invitation.client.age">{{ invitation.client.age + ' yr' }}<br></span>
                          <span v-if="Number(invitation.client.weight) > 0">{{ invitation.client.weight + ' ' + mSettings.weight_unit }}<br></span>
                          <span v-if="invitation.client.height > 0">{{ invitation.client.height + ' ' + mSettings.height_unit }}</span>
                        </p>
                        <ul v-if="invitation.client.phone" class="ml-4 mb-0 fa-ul text-muted">
                          <li class="small">
                            <span class="fa-li"><i class="fas fa-lg fa-phone" /></span> {{ invitation.client.phone }}
                          </li>
                        </ul>
                      </div>
                      <div class="col-5 text-center">
                        <b-img :src="invitation.client.avatar" :blank="invitation.client.avatar ? false : true" alt="avatar" class="img-circle elevation-2" fluid-grow />
                      </div>
                    </div>
                  </div>
                  <!-- <div class="card-footer">
                    <div class="text-right">
                      <a href="#" class="btn btn-sm bg-teal">
                        <i class="fas fa-comments" />
                      </a>
                      <b-link :to="`/trainers/${mBooking.trainer.id}`" target="_blank" class="btn btn-sm btn-primary">
                        <i class="fas fa-user" /> {{ $t('form.view_profile') }}
                      </b-link>
                    </div>
                  </div> -->
                </div>
              </div>
              <div class="col-12 d-flex align-items-stretch flex-column">
                <div class="card card-primary card-outline d-flex flex-fill mb-0">
                  <div class="card-header border-bottom-0 py-2">
                    {{ $t('form.sessions') }}
                  </div>
                  <div class="card-body pt-0 pb-2">
                    <div v-for="(session, i) in mBooking.sessions" :key="i" class="callout" :class="['rejected', 'cancelled'].includes(session.status.toLowerCase()) ? 'callout-danger' : ['coming','arrived','start_training','finished_training'].includes(session.status.toLowerCase()) ? 'callout-success' : ['changed'].includes(session.status.toLowerCase()) ? 'callout-warning' : 'callout-secondary'">
                      <span class="mb-5">
                        {{ getTimeRange(session) }}
                        <span v-if="['rejected', 'cancelled', 'expired'].includes(session.status.toLowerCase())" class="text-danger text-capitalize small">
                          <i class="fas fa-stop-circle" /> {{ session.status }}
                        </span>
                        <span v-else-if="['coming','arrived','start_training','finished_training'].includes(session.status.toLowerCase())" class="text-success text-capitalize small">
                          <i v-if="session.status.toLowerCase() === 'coming'" class="fas fa-shipping-fast fa-blink" />
                          <i v-else-if="session.status.toLowerCase() === 'arrived'" class="fas fa-map-marker-alt fa-blink" />
                          <i v-else-if="session.status.toLowerCase() === 'start_training'" class="fas fa-dumbbell fa-blink" />
                          <i v-else-if="session.status.toLowerCase() === 'finished_training'" class="fas fa-flag-checkered" /> {{ session.status.split('_').join(' ') }}
                        </span>
                      </span>
                      <div v-if="['changed'].includes(session.status.toLowerCase())" class="alert alert-warning mb-0">
                        <i class="icon fas fa-exclamation-triangle" />
                        New Booking was created for this session.
                      </div>
                      <div v-else>
                        <ejs-multiselect
                          v-model="session.technique_ids"
                          popup-height="250px"
                          :allow-filtering="true"
                          mode="Box"
                          filter-type="contains"
                          :data-source="mTechniques"
                          :fields="{ text: 'name', value: 'id' }"
                          :css-class="`no-print no-print-${session.id}`"
                          placeholder="Choose technique(s)"
                          :enabled="['pending', 'confirmed'].includes(session.status.toLowerCase()) && !processing"
                        />
                        <div :id="`print-only-${session.id}`" class="d-none">
                          <span>
                            {{ Array.prototype.map.call(session.techniques, s => s.name).join(', ') }}
                          </span>
                        </div>
                        <div>
                          <vac v-if="mBooking.status === 'confirmed' && session.status === 'confirmed'" :start-time="new Date(session.session_date).getTime() - 3600000" :end-time="new Date(session.session_date).getTime() + (60000 * Number(session.duration))">
                            <template
                              #process="{}"
                            >
                              <b-button size="sm" class="mt-1" variant="success" :disabled="processing" @click="updateStatus($event, session, 'coming')">
                                {{ $t('form.coming') }}
                              </b-button>
                            </template>
                          </vac>
                          <b-button
                            v-if="session.status === 'coming'"
                            size="sm"
                            class="mt-1"
                            variant="success"
                            :disabled="processing"
                            @click="updateStatus($event, session, 'arrived')"
                          >
                            {{ $t('form.arrived') }}
                          </b-button>
                          <b-button
                            v-else-if="session.status === 'arrived'"
                            size="sm"
                            class="mt-1"
                            variant="success"
                            :disabled="processing"
                            @click="updateStatus($event, session, 'start_training')"
                          >
                            {{ $t('form.start_training') }}
                          </b-button>
                          <!-- <b-button v-else-if="session.status === 'start_training'" size="sm" class="mt-1" variant="success" @click="updateStatus($event, session, 'finished_training')">
                            {{ $t('form.finished_training') }}
                          </b-button> -->
                        </div>
                      </div>
                    </div>
                    <div class="text-right">
                      <b-button
                        variant="primary"
                        size="sm"
                        class="mt-1 mr-3 no-print no-print-a"
                        :disabled="processing || !['pending', 'confirmed'].includes(mBooking.status)"
                        @click="updateTechniques"
                      >
                        {{ $t('form.update') }}
                      </b-button>
                      <span id="print-only-a" class="d-none" />
                    </div>
                  </div>
                </div>
              </div>
            </b-row>
          </div>
          <div class="mt-2">
            <a class="btn btn-default" @click="print"><i class="fas fa-print" /> Print</a>
            <b-button-group class="float-right">
              <b-button variant="warning" :disabled="processing" @click="back">
                {{ $t('form.back') }}
              </b-button>
              <!-- <b-button v-if="['pending','confirmed'].includes(mBooking.status.toLowerCase())" variant="danger" :disabled="processing" @click="cancelBooking">
                {{ $t('form.cancel') }}
              </b-button> -->
            </b-button-group>
          </div>
          <div class="mb-3 mt-2">
            <b-tabs content-class="mt-3">
              <b-tab :title="$t('form.activity')">
                <div class="timeline timeline-inverse">
                  <div v-for="(activity, i) in activities" :key="i">
                    <div class="time-label">
                      <span class="bg-danger">
                        {{ intl.formatDate(new Date(activity.date), { type: 'date', skeleton: 'medium' }) }}
                      </span>
                    </div>
                    <div v-for="(child, j) in activity.activities" :key="j">
                      <i v-if="child.parent_id === null" class="fas fa-calendar-plus bg-primary" />
                      <i v-else class="fas fa-envelope bg-primary" />

                      <div class="timeline-item">
                        <span :id="`target-${child.id}`" class="time">
                          <i class="far fa-clock" />
                          <timeago :datetime="child.booking_id ? child.updated_at : child.created_at" :auto-update="30" />
                        </span>
                        <b-tooltip :target="`target-${child.id}`" noninteractive triggers="hover">
                          {{ intl.formatDate(new Date(child.booking_id ? child.updated_at : child.created_at), { type: 'dateTime', skeleton: 'medium' }) }}
                        </b-tooltip>

                        <h3 v-if="child.booking_id" class="timeline-header">
                          {{ `Session ${getTimeRange(child)} was ` }}
                          <span v-if="['rejected','cancelled','expired'].includes(child.status)" class="text-danger text-capitalize">{{ child.status.split('_').join(' ') }}</span>
                          <span v-else-if="['changed'].includes(child.status)">
                            <span class="text-warning text-capitalize">{{ child.status.split('_').join(' ') }}</span>
                          </span>
                          <span v-else class="text-success text-capitalize">{{ child.status.split('_').join(' ') }}</span>
                        </h3>
                        <h3 v-else class="timeline-header">
                          {{ 'Booking was created.' }}
                          <span v-if="child.parent_id === null || (child.parent_id !== null)">
                            <span v-if="child.status.toLowerCase() === 'pending'" class="text-warning text-capitalize">
                              <i class="fas fa-exclamation-circle" /> {{ child.status }}
                            </span>
                            <span v-else-if="['cancelled', 'rejected', 'expired'].includes(child.status.toLowerCase())" class="text-danger text-capitalize">
                              <i class="fas fa-stop-circle" /> {{ child.status }}
                            </span>
                            <span v-else :class="(child.status === 'confirmed' || child.status === 'completed') ? 'text-success' : 'text-warning'" class="text-capitalize">
                              <i class="fas fa-check-circle" /> {{ child.status }}
                            </span>
                          </span>
                        </h3>

                        <b-row v-if="child.booking_id === undefined && child.parent_id === null && child.status !== 'pending'">
                          <b-col offset-md="2" class="px-3 py-2">
                            <span>Booking was </span>
                            <span v-if="['confirmed','completed'].includes(child.status)" class="text-success text-capitalize">
                              {{ child.status }}
                            </span>
                            <span v-else>
                              <span class="text-danger text-capitalize">
                                {{ child.status }}
                              </span>
                              <span v-if="child.status === child.trainer_state">
                                by you.
                              </span>
                              <span v-else-if="child.status === child.client_state">
                                by client.
                              </span>
                            </span>
                            <span class="small text-muted">
                              <span :id="`status-target-${child.id}`" class="time">
                                <i class="far fa-clock" />
                                <timeago :datetime="child.updated_at" :auto-update="30" />
                              </span>
                              <b-tooltip :target="`status-target-${child.id}`" noninteractive triggers="hover">
                                {{ intl.formatDate(new Date(child.updated_at), { type: 'dateTime', skeleton: 'medium' }) }}
                              </b-tooltip>
                            </span>
                          </b-col>
                        </b-row>

                        <!-- <b-row v-else-if="child.booking_id === undefined && child.status.toLowerCase() === 'pending' && child.trainer_state === 'pending'" class="timeline-footer">
                          <b-col cols="auto" offset-sm="1" offset-md="2">
                            <b-button variant="primary" size="sm" :disabled="processing" @click="acceptBooking">
                              {{ $t('form.accept') }}
                            </b-button>
                            <b-button variant="danger" size="sm" :disabled="processing" @click="declineBooking">
                              {{ $t('form.decline') }}
                            </b-button>
                          </b-col>
                        </b-row> -->

                        <b-row v-if="child.invitations && child.invitations.length > 0" class="timeline-body">
                          <b-col cols="12" md="auto" offset-md="2">
                            {{ $t('form.invitations') }}
                          </b-col>
                          <b-col>
                            <b-row v-for="(invitation, k) in child.invitations" :key="k">
                              <b-col cols="auto">
                                {{ invitation.client.name }}
                              </b-col>
                              <b-col cols="auto">
                                <span v-if="invitation.status.toLowerCase() === 'invited'" class="text-capitalize text-warning small"><i class="fas fa-exclamation-circle" /> {{ invitation.status }}</span>
                                <span v-else-if="['cancelled', 'rejected', 'expired'].includes(invitation.status.toLowerCase())" class="text-capitalize text-danger small"><i class="fas fa-stop-circle" /> {{ invitation.status }}</span>
                                <span v-else :class="(invitation.status === 'accepted') ? 'text-success' : 'text-warning'" class="text-capitalize small"><i class="fas fa-check-circle" /> {{ invitation.status }}</span>
                              </b-col>
                              <b-col>
                                <span v-if="invitation.status.toLowerCase() !== 'invited'" class="text-muted small">
                                  <span :id="`invitation-target-${invitation.id}`" class="time">
                                    <i class="far fa-clock" />
                                    <timeago :datetime="invitation.updated_at" :auto-update="30" />
                                  </span>
                                  <b-tooltip :target="`invitation-target-${invitation.id}`" noninteractive triggers="hover">
                                    {{ intl.formatDate(new Date(invitation.updated_at), { type: 'dateTime', skeleton: 'medium' }) }}
                                  </b-tooltip>
                                </span>
                              </b-col>
                            </b-row>
                          </b-col>
                        </b-row>
                      </div>
                    </div>
                  </div>
                  <div v-if="activities.length > 0">
                    <i class="fas fa-clock bg-gray" />
                  </div>
                </div>
              </b-tab>
              <!-- <b-tab :title="$t('form.comments')" disabled>
                <p>I'm a disabled tab!</p>
              </b-tab> -->
            </b-tabs>
          </div>
        </div>
        <b-modal
          id="cancel-modal"
          title="Confirmation"
          no-close-on-backdrop
          ok-title="Confirm"
          @ok="confirmCancel"
        >
          <template #modal-footer="{ ok, cancel }">
            <b-button :disabled="processing" @click="cancel()">
              Cancel
            </b-button>
            <b-button :disabled="processing" variant="primary" @click="ok()">
              Confirm
            </b-button>
          </template>
          <b-form-group :label="$t('form.cancel_reason')" label-cols-sm="2">
            <b-form-textarea v-model="form.reason" :state="submitted ? !$v.form.reason.$error : null" :disabled="processing" />
          </b-form-group>
        </b-modal>
      </div>
    </section>
  </div>
</template>

<script>
import { MultiSelect } from '@syncfusion/ej2-vue-inplace-editor'
import { Internationalization } from '@syncfusion/ej2-base'
const {
  required
} = require('vuelidate/lib/validators')
export default {
  provide: {
    inplaceeditor: [MultiSelect]
  },
  async asyncData ({ $axios, $helper, params }) {
    let mBooking = []
    let mTechniques = []
    let mSettings = null
    const activities = []
    await $axios.$get(`/trainer/bookings/${params.booking}`)
      .then((res) => {
        mBooking = res.booking
        mTechniques = res.techniques
        mSettings = res.settings
      })
      .then(() => {
        mBooking.sessions.forEach((s) => {
          s.techniques.forEach((t) => {
            s.technique_ids.push(t.id)
          })
        })
      })
      .then(() => {
        let a = activities.find(aa => aa.date === $helper.getDate(mBooking.created_at))
        if (a) {
          a.activities.push(mBooking)
        } else {
          const n = {
            date: $helper.getDate(mBooking.created_at),
            activities: [mBooking]
          }
          activities.push(n)
        }

        mBooking.sessions.forEach((s) => {
          if (!['pending', 'coming', 'arrived'].includes(s.status.toLowerCase())) {
            a = activities.find(aa => aa.date === $helper.getDate(s.updated_at))
            if (a) {
              a.activities.push(s)
            } else {
              const n = {
                date: $helper.getDate(s.updated_at),
                activities: [s]
              }
              activities.push(n)
            }
          }
        })
      })
      .catch(() => {})
    return { mBooking, mTechniques, mSettings, activities }
  },
  data () {
    return {
      intl: new Internationalization(),
      submitted: false,
      processing: false,
      form: {
        reason: null
      },
      packageFields: [
        {
          key: 'id',
          class: 'w-5 text-truncate',
          label: this.$t('form.no')
        },
        {
          key: 'purchase_date',
          class: 'w-15 text-truncate',
          label: this.$t('form.date')
        },
        {
          key: 'payment.payment_method.name',
          class: 'w-15 text-truncate',
          label: this.$t('form.payment')
        },
        {
          key: 'usages[0].usage',
          class: 'text-truncate w-10',
          label: this.$t('form.use')
        }
      ]
    }
  },
  validations: {
    form: {
      reason: {
        required
      }
    }
  },
  mounted () {
  },
  methods: {
    async updateTechniques () {
      this.processing = true
      await this.$axios.post(`/trainer/bookings/${this.mBooking.id}/techniques`, { data: JSON.stringify(this.mBooking.sessions.filter(s => ['pending', 'confirmed'].includes(s.status.toLowerCase()))) })
        .then((res) => {
          this.$snotify.success('Successfully updated sessions.')
        })
        .catch(() => {})
      this.processing = false
    },
    async updateStatus (e, session, status) {
      this.processing = true
      await this.$axios.post(`/trainer/bookings/${this.mBooking.id}/sessions/${session.id}/status?status=${status}`)
        .then((res) => {
          session.status = status
        })
        .catch(() => {})
      this.processing = false
    },
    cancelBooking () {
      this.$confirm({
        title: 'Confirmation',
        message: this.$t('form.confirm_cancel_booking'),
        button: {
          no: 'No',
          yes: 'Yes'
        },
        callback: async (confirm) => {
          if (confirm) {
            await this.$axios.post(`/trainer/bookings/${this.mBooking.id}/cancel`)
              .then(() => {
                this.$router.push('/bookings')
              })
              .catch(() => {})
          }
        }
      })
    },
    async acceptBooking () {
      this.processing = true
      await this.$axios.post(`/trainer/bookings/${this.mBooking.id}/accept`)
        .then((res) => {
          this.mBooking.status = res.data.booking.status
          this.mBooking.trainer_state = res.data.booking.trainer_state
          this.activities.forEach((a) => {
            a.activities.forEach((aa) => {
              if (aa.booking_id === undefined && aa.id === this.mBooking.id) {
                aa.trainer_state = res.data.booking.trainer_state
                aa.updated_at = new Date()
              }
            })
          })
        })
        .catch(() => {})
      this.processing = false
    },
    declineBooking () {
      this.submitted = false
      this.form.reason = null
      this.$bvModal.show('cancel-modal')
    },
    async confirmCancel (e) {
      e.preventDefault()
      this.submitted = true
      this.$v.form.$touch()
      if (!this.$v.form.$anyError) {
        this.processing = true
        let booking = null
        await this.$axios.post(`/trainer/bookings/${this.mBooking.id}/reject?reason=${this.form.reason}`)
          .then((res) => {
            booking = res.data.booking
            this.mBooking.status = booking.status
            this.mBooking.trainer_state = booking.trainer_state
          })
          .then(() => {
            this.activities = []
            let a = this.activities.find(aa => aa.date === this.$helper.getDate(booking.created_at))
            if (a) {
              a.activities.push(booking)
            } else {
              const n = {
                date: this.$helper.getDate(booking.created_at),
                activities: [booking]
              }
              this.activities.push(n)
            }

            booking.sessions.forEach((s) => {
              if (!['pending', 'coming', 'arrived'].includes(s.status.toLowerCase())) {
                a = this.activities.find(aa => aa.date === this.$helper.getDate(s.updated_at))
                if (a) {
                  a.activities.push(s)
                } else {
                  const n = {
                    date: this.$helper.getDate(s.updated_at),
                    activities: [s]
                  }
                  this.activities.push(n)
                }
              }
            })
          })
          .then(() => {
            this.mBooking.sessions.filter(s => ['pending', 'confirmed'].includes(s.status)).forEach((s) => {
              s.status = 'rejected'
              s.trainer_state = 'rejected'
              s.updated_at = new Date()
            })
            // this.mBooking.invitations.filter(i => ['invited'].includes(i.status)).forEach((i) => {
            //   i.status = 'cancelled'
            //   i.updated_at = new Date()
            // })
          })
          .then(() => {
            this.$bvModal.hide('cancel-modal')
          })
          .catch(() => {})
        this.processing = false
      }
    },
    getTimeRange (data) {
      const start = new Date(data.session_date)
      const end = new Date(data.session_date)
      end.setMinutes(end.getMinutes() + data.duration)
      return (
        this.intl.formatDate(start, {
          type: 'date',
          skeleton: 'medium'
        }) +
        ' (' +
        this.intl.formatDate(start, { skeleton: 'hm' }) +
        ' - ' +
        this.intl.formatDate(end, { skeleton: 'hm' }) +
        ')'
      )
    },
    async print () {
      let element = document.getElementById('printArea').innerHTML
      const ignores = document.getElementsByClassName('no-print')
      for (let i = 0; i < ignores.length; i++) {
        let id = null
        for (let j = 0; j < ignores[i].classList.length; j++) {
          if (ignores[i].classList[j].match(/^no-print-/)) {
            id = ignores[i].classList[j]
            break
          }
        }
        const replaceEle = document.getElementById(id.replace('no-print', 'print-only')).cloneNode(true)
        replaceEle.classList.remove('d-none')
        element = element.replace(ignores[i].outerHTML, replaceEle.outerHTML)
      }
      await this.$store.dispatch('print/set', element)
        .then(() => {
          const w = window.open('/print', '', '')
          w.onafterprint = async () => {
            w.close()
            await this.$store.dispatch('print/set', '')
          }
        })
    },
    back () {
      this.$router.push('/bookings')
    }
  }
}
</script>

<style>

</style>
