<template>
  <div>
    <b-row>
      <b-col>
        <b-form-group :label="label" :label-class="{ 'text-danger' : $v.item.client_id.$anyError}" class="has-float-label">
          <ejs-dropdownlist
            v-model="$v.item.client_id.$model"
            filter-type="contains"
            :allow-filtering="true"
            :enabled="!disabled"
            :data-source="mClients"
            :fields="{ text: 'name', value: 'id' }"
          />
        </b-form-group>
      </b-col>
      <b-col>
        <div class="d-flex flex-fill w-full">
          <b-form-group :label="$t('form.start_date')" class="has-float-label">
            <datetimepicker
              v-model="$v.item.start_date.$model"
              :only-date="true"
              :auto-close="true"
              :disabled="disabled"
            />
          </b-form-group>
          <i class="fas fa-minus-circle fsz-lg text-danger btn" @click="remove" />
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
const {
  required
} = require('vuelidate/lib/validators')
export default {
  props: {
    disabled: {
      type: Boolean,
      default: false
    },
    clients: {
      type: Array,
      default: null
    },
    item: {
      type: Object,
      default: null
    },
    label: {
      type: String,
      default: null
    }
  },
  data () {
    return {
      screenWidth: window.innerWidth,
      breakpoint: 576,
      mClients: []
    }
  },
  validations: {
    item: {
      client_id: {
        required
      },
      start_date: {
      },
      error: {}
    }
  },
  watch: {
    'item.client_id' (val) {
      this.changed()
    },
    'item.start_date' (val) {
      this.changed()
    },
    '$v.$anyError' (val) {
      this.$v.item.error.$model = val
    }
  },
  mounted () {
    this.mClients = JSON.parse(JSON.stringify(this.clients))
    this.$v.$touch()
  },
  methods: {
    remove () {
      this.$emit('remove', this.item.id)
    },
    changed () {
      setTimeout(() => {
        this.$emit('changed')
      }, 50)
    }
  }
}
</script>

<style>

</style>
