<template>
  <div class="content-wrapper">
    <breadcrumb :header="$t('menu.bodyweights')" :items="[{ text: 'Home', to: '/' }, { text: $t('menu.bodyweights') }]" />
    <section class="content">
      <div class="container-fluid">
        <b-card class="card-primary card-outline">
          <b-row>
            <b-col>
              <b-form-row class="align-items-center">
                <b-col cols="12" sm="4">
                  <b-form-group>
                    <ejs-dropdownlist
                      v-model="$v.form.client_id.$model"
                      :data-source="mClients"
                      filter-type="contains"
                      filter-bar-placeholder="Search"
                      :popup-height="dd_height"
                      :allow-filtering="true"
                      placeholder="Select a client"
                      :css-class="(form.submitted && $v.form.client_id.$error)? 'e-error': null"
                      :fields="{ text: 'name', value: 'id' }"
                    />
                  </b-form-group>
                </b-col>
                <b-col cols="12" sm="4">
                  <b-form-group>
                    <datetimepicker
                      v-model="$v.form.date_range.$model"
                      :only-date="true"
                      :auto-close="true"
                      :state="(form.submitted && !form.processing) ? !$v.form.date_range.$error : null"
                      :range="true"
                      :shortcut="'thisMonth'"
                      @input="validated"
                    />
                  </b-form-group>
                </b-col>
                <b-col>
                  <b-form-group>
                    <b-button variant="primary" :disabled="form.processing" @click="addBodyweight">
                      {{ $t('form.add_bodyweight') }}
                    </b-button>
                  </b-form-group>
                </b-col>
              </b-form-row>
            </b-col>
          </b-row>
          <ejs-chart :background="color" :primary-x-axis="primaryXAxis" :primary-y-axis="primaryYAxis" :tooltip="tooltip" :height="height">
            <e-series-collection>
              <e-series :data-source="form.body_weights" type="Line" x-name="measurement_date" y-name="weight" :marker="marker" />
            </e-series-collection>
          </ejs-chart>
        </b-card>
        <b-modal
          id="bodyweight-modal"
          size="lg"
          :title="$t('form.bodyweight')"
          no-close-on-backdrop
          ok-title="Save"
          @ok="saveBodyweight"
        >
          <b-form>
            <b-form-group
              :label="$t('form.date')"
              label-cols-sm="2"
            >
              <datetimepicker
                v-model="$v.form.bodyweight.date.$model"
                :disabled="form.processing"
                :only-date="true"
                :auto-close="true"
                :state="(form.submitted && !form.processing) ? !$v.form.bodyweight.date.$error : null"
              />
            </b-form-group>
            <b-form-group
              :label="$t('form.client')"
              label-cols-sm="2"
            >
              <ejs-dropdownlist
                v-model="$v.form.bodyweight.client_id.$model"
                :data-source="mClients"
                filter-type="contains"
                filter-bar-placeholder="Search"
                :popup-height="dd_height"
                :allow-filtering="true"
                placeholder="Select a client"
                :css-class="(form.submitted && $v.form.bodyweight.client_id.$error)? 'e-error': null"
                :fields="{ text: 'name', value: 'id' }"
              />
            </b-form-group>
            <b-form-group :label="$t('form.weight')" label-cols-sm="2">
              <b-input-group>
                <b-form-input
                  id="amount"
                  v-model="$v.form.bodyweight.weight.$model"
                  autocomplete="off"
                  type="number"
                  step="0.01"
                  :disabled="form.processing"
                  :state="(form.submitted && !form.processing) ? !$v.form.bodyweight.weight.$error : null"
                />
                <b-input-group-append>
                  <b-input-group-text>
                    {{ mSettings.weight_unit }}
                  </b-input-group-text>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-form>
        </b-modal>
      </div>
    </section>
  </div>
</template>

<script>
import { LineSeries, DataLabel, Tooltip, DateTime, DateTimeCategory } from '@syncfusion/ej2-vue-charts'
const {
  required, minValue
} = require('vuelidate/lib/validators')
export default {
  provide: {
    chart: [LineSeries, Tooltip, DataLabel, DateTime, DateTimeCategory]
  },
  async asyncData ({ $axios, $store }) {
    let mClients = null
    let mSettings = null
    await $axios.$get('/trainer/allclients')
      .then((res) => {
        mClients = res.clients
        mSettings = res.settings
      })
      .catch(() => {})
    return { mClients, mSettings }
  },
  data () {
    return {
      dd_height: '220px',
      form: {
        submitted: false,
        processing: false,
        date_range: null,
        client_id: null,
        body_weights: null,
        bodyweight: {
          date: null,
          client_id: null,
          weight: null
        }
      },
      height: '350px',
      primaryXAxis: {
        valueType: 'DateTimeCategory',
        labelFormat: 'd MMM',
        majorGridLines: { width: 0 }
      },
      primaryYAxis: {
        title: 'lbs',
        // interval: 1,
        rangePadding: 'Additional',
        majorGridLines: { width: 0 }
      },
      tooltip: {
        enable: true
      },
      marker: {
        visible: true,
        dataLabel: {
          visible: false
        }
      }
    }
  },
  validations: {
    form: {
      date_range: {
        start: {
          required
        },
        end: {
          required
        }
      },
      client_id: {
        required
      },
      bodyweight: {
        date: {
          required
        },
        client_id: {
          required
        },
        weight: {
          required,
          minValue: minValue(30)
        }
      }
    }
  },
  computed: {
    color () {
      if (this.$store.state.theme.mode.startsWith('dark')) {
        return '#343a40'
      } else {
        return '#f4f6f9'
      }
    }
  },
  watch: {
    'form.client_id' (val) {
      if (val != null) {
        this.renderChart()
      }
    }
  },
  mounted () {
    // this.renderChart()
  },
  methods: {
    validated () {
      if (this.form.date_range.start === null || this.form.date_range.end === null) {
        return
      }
      this.renderChart()
    },
    async renderChart () {
      this.$v.form.client_id.$touch()
      this.$v.form.date_range.$touch()
      if (this.$v.form.client_id.$anyError || this.$v.form.date_range.$anyError) {
        return
      }
      this.form.submitted = true
      this.form.processing = true
      this.form.body_weights = null
      await this.$axios.$get(`/trainer/clients/${this.form.client_id}/bodyweights`, {
        params: {
          start_date: this.form.date_range.start,
          end_date: this.form.date_range.end
        }
      })
        .then((res) => {
          this.form.body_weights = res.body_weights
        })
        .catch(() => { })
      this.form.processing = false
    },
    async saveBodyweight (e) {
      e.preventDefault()
      this.form.submitted = true
      this.$v.form.bodyweight.$touch()
      if (!this.$v.form.bodyweight.$anyError) {
        this.form.processing = true
        await this.$axios.post(`/trainer/clients/${this.form.bodyweight.client_id}/bodyweights`, { data: JSON.stringify(this.form.bodyweight) })
          .then((res) => {
            if (this.form.bodyweight.date >= this.form.date_range.start && this.form.bodyweight.date <= this.form.date_range.end) {
              this.renderChart()
            }
          })
          .then(() => {
            this.$bvModal.hide('bodyweight-modal')
          })
          .catch(() => {})
        this.form.processing = false
      }
    },
    addBodyweight () {
      this.resetFormBodyweight()
      this.$bvModal.show('bodyweight-modal')
    },
    resetFormBodyweight () {
      this.form.submitted = false
      this.form.bodyweight.date = this.$helper.formatDateTime(new Date())
      this.form.bodyweight.client_id = this.form.client_id
      this.form.bodyweight.weight = null
    }
  }
}
</script>

<style>
</style>
