<template>
  <div class="content-wrapper">
    <breadcrumb :header="$t('menu.leaves')" :items="[{ text: 'Home', to: '/' }, { text: $t('menu.leaves') }]" />
    <section class="content">
      <div class="container-fluid">
        <b-card no-body>
          <b-card-header>
            <div class="card-tools">
              <button type="button" class="btn btn-tool text-success" @click="addLeave">
                <i class="fas fa-plus-circle" />
              </button>
              <button type="button" class="btn btn-tool text-warning" :disabled="!selectedLeave" @click="editLeave">
                <i class="fas fa-pencil-alt" />
              </button>
              <button type="button" class="btn btn-tool text-danger" :disabled="!selectedLeave" @click="destroy">
                <i class="fas fa-trash-alt" />
              </button>
              <button type="button" class="btn btn-tool text-info" @click="refreshLeaves()">
                <i class="fas fa-sync" />
              </button>
            </div>
          </b-card-header>
          <b-card-body>
            <b-row>
              <b-col sm="6">
                <b-form-row>
                  <b-col md="4" lg="3">
                    <b-form-group label="Entries" class="has-float-label">
                      <v-select v-model="perPage" size="sm" :options="[10, 25, 50]" :clearable="false" />
                    </b-form-group>
                  </b-col>
                </b-form-row>
              </b-col>
              <b-col sm="6">
                <b-form-row class="float-sm-right">
                  <b-col>
                    <b-form-group>
                      <ejs-dropdownlist
                        v-model="trainer_id"
                        :data-source="mTrainers"
                        filter-type="contains"
                        filter-bar-placeholder="Search"
                        :allow-filtering="true"
                        :fields="{ text: 'name', value: 'id' }"
                        placeholder="Filter by trainer"
                        :show-clear-button="true"
                      />
                    </b-form-group>
                  </b-col>
                </b-form-row>
              </b-col>
            </b-row>

            <b-table
              id="leaves-table"
              :items="mLeaves"
              :fields="leaveFields"
              :outlined="true"
              :per-page="perPage"
              :sort-by.sync="sortBy"
              :sort-desc.sync="isDesc"
              :sort-direction.sync="sortDirection"
              :no-local-sorting="true"
              :busy="isBusy"
              responsive
              show-empty
              selectable
              select-mode="single"
              striped
              @row-selected="onLeaveRowSelected"
              @row-dblclicked="onLeaveRowDblClicked"
              @sort-changed="leaveSortChanged"
            >
              <template #table-busy>
                <div class="text-center my-2">
                  <b-spinner class="align-middle" />
                  <strong>Loading...</strong>
                </div>
              </template>
              <template #cell(trainer)="data">
                {{ data.item.trainer.name }}
              </template>
              <template #cell(date)="data">
                {{ intl.formatDate(new Date(data.item.start_date), {format:'MMM d, hh:mm a'}) + ' - ' + intl.formatDate(new Date(data.item.end_date), {format:'MMM d, hh:mm a'}) }}
              </template>
            </b-table>
            <b-pagination v-model="currentPage" :per-page="perPage" :total-rows="totalrows" aria-controls="payments-table" align="center" />
          </b-card-body>
        </b-card>
        <b-modal
          id="leave-modal"
          :title="(form.id === 0 || selectedLeave === null) ? `Create Trainer Leave` : `Edit Trainer Leave`"
          no-close-on-backdrop
          size="lg"
          ok-title="Save"
          @ok="confirmLeave"
        >
          <b-form-group :label="$t('form.trainer')" label-cols-sm="2">
            <ejs-dropdownlist
              v-model="form.trainer_id"
              :data-source="mTrainers"
              filter-type="contains"
              filter-bar-placeholder="Search"
              :allow-filtering="true"
              :fields="{ text: 'name', value: 'id' }"
              placeholder="Filter by trainer"
              :css-class="(submitted && $v.form.trainer_id.$anyError) ? 'e-error': null"
            />
          </b-form-group>
          <b-form-group :label="$t('form.start')" label-cols-sm="2">
            <datetimepicker
              v-model="$v.form.start_date.$model"
              :auto-close="false"
              :only-date="false"
              :min-date="intl.formatDate(new Date(), { format: 'yyyy-MM-dd HH:mm' })"
              :state="(submitted) ? !$v.form.start_date.$error : null"
            />
          </b-form-group>
          <b-form-group :label="$t('form.end')" label-cols-sm="2">
            <datetimepicker
              v-model="$v.form.end_date.$model"
              :auto-close="false"
              :only-date="false"
              :min-date="minEndDate"
              :state="(submitted) ? (!$v.form.end_date.$error && new Date(form.end_date) > new Date(form.start_date)) : null"
            />
          </b-form-group>
          <b-form-group :label="$t('form.reason')" label-cols-sm="2">
            <b-form-select
              v-model="$v.form.reason.$model"
              :state="submitted ? !$v.form.reason.$error : null"
              :options="[{value: 'sick',text:'Sick'},{value: 'personal',text:'Personal'},{value: 'holiday',text:'Holiday'}]"
            />
          </b-form-group>
          <b-form-group :label="$t('form.notes')" label-cols-sm="2">
            <b-form-textarea
              v-model="form.notes"
              placeholder="Enter something..."
              rows="2"
              max-rows="2"
            />
          </b-form-group>
        </b-modal>
      </div>
    </section>
  </div>
</template>

<script>
import { Internationalization } from '@syncfusion/ej2-base'
const {
  required
} = require('vuelidate/lib/validators')
export default {
  async asyncData ({ $axios, $preloader }) {
    $preloader.show()
    let mTrainers = []
    await $axios.$get('/admin/leaves/create')
      .then((res) => {
        mTrainers = res.trainers
      })
      .catch(() => {})
    return { mTrainers }
  },
  data () {
    return {
      intl: new Internationalization(),
      submitted: false,
      processing: false,
      totalrows: 0,
      perPage: 10,
      currentPage: 1,
      trainer_id: null,
      filter: '',
      sortBy: 'id',
      sortDirection: 'desc',
      isDesc: true,
      isBusy: false,
      mLeaves: [],
      minEndDate: null,
      selectedLeave: null,
      form: {
        trainer_id: null,
        start_date: null,
        end_date: null,
        reason: 'sick',
        notes: ''
      },
      leaveFields: [
        {
          key: 'trainer',
          class: 'w-15 text-truncate',
          sortable: true,
          label: this.$t('form.trainer')
        },
        {
          key: 'date',
          class: 'w-15 text-truncate',
          sortable: true,
          label: this.$t('form.date')
        },
        {
          key: 'reason',
          class: 'w-15 text-truncate text-capitalize',
          sortable: true,
          label: this.$t('form.reason')
        },
        {
          key: 'notes',
          class: 'w-15 text-truncate',
          label: this.$t('form.notes')
        }
      ]
    }
  },
  validations: {
    form: {
      trainer_id: {
        required
      },
      start_date: {
        required
      },
      end_date: {
        required
      },
      reason: {
        required
      }
    }
  },
  watch: {
    perPage () {
      this.drawLeaves()
    },
    currentPage () {
      this.drawLeaves()
    },
    trainer_id () {
      this.drawLeaves()
    },
    'form.start_date' (val) {
      this.minEndDate = this.intl.formatDate(new Date(this.form.start_date), { format: 'yyyy-MM-dd HH:mm' })
    }
  },
  mounted () {
    this.drawLeaves()
    this.$preloader.hide()
  },
  methods: {
    async drawLeaves () {
      this.isBusy = true
      await this.$axios.$get('/admin/leaves', {
        params: {
          per_page: this.perPage,
          page: this.currentPage,
          trainer_id: this.trainer_id,
          sort_by: this.sortBy,
          sort_direction: this.sortDirection
        }
      })
        .then((res) => {
          this.mLeaves = res.leaves
          this.totalrows = res.total_rows
        }).then(() => {
          this.isBusy = false
        })
        .catch(() => {
          this.isBusy = false
        })
    },
    addLeave () {
      this.submitted = false
      this.form.id = 0
      this.form.trainer_id = null
      this.form.start_date = null
      this.form.end_date = null
      this.form.reason = 'sick'
      this.form.notes = null
      this.$bvModal.show('leave-modal')
    },
    editLeave () {
      if (this.selectedLeave !== null) {
        this.submitted = false
        this.form.id = this.selectedLeave.id
        this.form.trainer_id = this.selectedLeave.trainer_id
        this.form.start_date = this.intl.formatDate(new Date(this.selectedLeave.start_date), { format: 'yyyy-MM-dd HH:mm' })
        this.form.end_date = this.intl.formatDate(new Date(this.selectedLeave.end_date), { format: 'yyyy-MM-dd HH:mm' })
        this.form.reason = this.selectedLeave.reason
        this.form.notes = this.selectedLeave.notes
        this.$bvModal.show('leave-modal')
      }
    },
    async confirmLeave (e) {
      e.preventDefault()
      this.submitted = true
      this.$v.$touch()
      if (new Date(this.form.end_date) < new Date(this.form.start_date)) {
        return
      }
      if (!this.$v.form.$anyError) {
        this.processing = true
        if (this.form.id > 0) {
          this.$axios.$put(`/admin/leaves/${this.form.id}`, { data: JSON.stringify(this.form) })
            .then((res) => {
              const index = this.mLeaves.findIndex(e => e.id === res.leave.id)
              this.mLeaves.splice(index, 1, res.leave)
            }).then(() => {
              this.$bvModal.hide('leave-modal')
            })
            .catch(() => {})
        } else {
          await this.$axios.$post('/admin/leaves', { data: JSON.stringify(this.form) })
            .then((res) => {
              this.mLeaves.push(res.leave)
            })
            .then(() => {
              this.$bvModal.hide('leave-modal')
            })
            .catch(() => {})
        }
        this.processing = false
      }
    },
    destroy () {
      this.$confirm({
        title: 'Confirmation',
        message: 'Are you sure want to delete?',
        button: {
          no: 'No',
          yes: 'Yes'
        },
        callback: async (confirm) => {
          if (confirm) {
            await this.$axios.$delete(`/admin/leaves/${this.selectedLeave.id}`)
              .then(() => {
                const index = this.mLeaves.findIndex(e => e.id === this.selectedLeave.id)
                this.mLeaves.splice(index, 1)
              })
              .catch(() => {})
          }
        }
      })
    },
    refreshLeaves () {
      this.currentPage = 1
      this.filter = ''
      this.drawLeaves()
    },
    onLeaveRowSelected (items) {
      if (items !== null && Array.isArray(items) && items.length === 1) {
        this.selectedLeave = items[0]
      } else {
        this.selectedLeave = null
      }
    },
    onLeaveRowDblClicked (item, index, event) {
      this.selectedLeave = item
      this.editLeave()
    },
    leaveSortChanged (ctx) {
      if (this.sortBy !== ctx.sortBy) {
        this.isDesc = false
        this.sortDirection = 'asc'
      } else {
        this.sortDirection = ctx.sortDesc ? 'desc' : 'asc'
      }
      this.sortBy = ctx.sortBy

      this.drawLeaves()
    }
  }
}
</script>

<style>

</style>
