<template>
  <div class="content-wrapper">
    <breadcrumb :header="$t('menu.bookings')" :items="[{ text: 'Home', to: '/' }, { text: $t('menu.bookings') }]" />
    <section class="content">
      <div class="container-fluid">
        <b-card class="card-primary card-outline">
          <b-row>
            <b-col sm="6">
              <b-button size="sm" variant="warning" class="text-right mb-2" :disabled="booking===null" @click="editBooking">
                <i class="fas fa-pencil-alt mr-1" />{{ $t('form.edit') }}
              </b-button>
              <b-button size="sm" variant="primary" class="text-right mb-2" @click="refreshBookings">
                <i class="fas fa-sync mr-1" /> {{ $t('form.refresh') }}
              </b-button>
            </b-col>
            <b-col sm="6">
              <div class="form-inline float-sm-right">
                <b-form-input v-model="filter" type="search" size="sm" placeholder="Search" debounce="750" />
              </div>
            </b-col>
          </b-row>

          <b-table
            id="bookings-table"
            :items="mBookings"
            :fields="bookingFields"
            :outlined="true"
            :per-page="perpage"
            :sort-by.sync="sortBy"
            :sort-desc.sync="isDesc"
            :sort-direction.sync="sortDirection"
            :no-local-sorting="true"
            :busy="isBusy"
            responsive
            show-empty
            selectable
            select-mode="single"
            striped
            @row-selected="onBookingRowSelected"
            @row-dblclicked="onBookingRowDblClicked"
            @sort-changed="sortChanged"
          >
            <template #table-busy>
              <div class="text-center my-2">
                <b-spinner class="align-middle" />
                <strong>Loading...</strong>
              </div>
            </template>
            <template #cell(id)="data">
              <label class="mb-0 hov-pointer text-primary" @click="showBookingDetails(data.item.id)">
                {{ "B-" + data.item.id }}
              </label>
            </template>
            <template #cell(sessions)="data">
              <div v-for="(session, i) in data.item.sessions" :key="i" class="e-date-time-wrapper e-text-ellipsis">
                {{ getTimeRange(session) }}
                <span v-if="['coming','arrived','start_training','finished_training'].includes(session.status.toLowerCase())" class="text-success small">
                  <i v-if="session.status.toLowerCase() === 'coming'" class="fas fa-shipping-fast fa-blink" />
                  <i v-else-if="session.status.toLowerCase() === 'arrived'" class="fas fa-map-marker-alt fa-blink" />
                  <i v-else-if="session.status.toLowerCase() === 'start_training'" class="fas fa-dumbbell fa-blink" />
                  <i v-else-if="session.status.toLowerCase() === 'finished_training'" class="fas fa-flag-checkered" />
                </span>
                <span v-else-if="['changed'].includes(session.status.toLowerCase())" class="text-warning small">
                  <i class="fas fa-exclamation-triangle" />
                </span>
              </div>
            </template>
            <template #cell(invitations)="data">
              <div v-for="(child, i) in data.item.invitations" :key="i" class="e-date-time-wrapper e-text-ellipsis">
                {{ child.client.name }}
                <i v-if="child.status.toLowerCase() === 'invited'" :id="`client-target-${child.id}`" class="fas fa-exclamation-circle text-warning small" />
                <i v-else-if="['cancelled', 'rejected', 'expired'].includes(child.status.toLowerCase())" :id="`client-target-${child.id}`" class="fas fa-stop-circle text-danger small" />
                <i v-else :id="`client-target-${child.id}`" :class="(child.status === 'accepted') ? 'text-success' : 'text-warning'" class="fas fa-check-circle small" />
                <b-tooltip :target="`client-target-${child.id}`" noninteractive triggers="hover">
                  <span v-if="child.status.toLowerCase() === 'invited'" class="text-warning text-capitalize">
                    <i class="fas fa-exclamation-circle" /> {{ child.status }}
                  </span>
                  <span v-else-if="['cancelled', 'rejected', 'expired'].includes(child.status.toLowerCase())" class="text-danger text-capitalize">
                    <i class="fas fa-stop-circle" /> {{ child.status }}
                  </span>
                  <span v-else :class="(child.status === 'accepted') ? 'text-success' : 'text-warning'" class="text-capitalize">
                    <i class="fas fa-check-circle" /> {{ child.status }}
                  </span>
                </b-tooltip>
              </div>
            </template>
            <template #cell(status)="data">
              <div>
                <span v-if="data.item.status.toLowerCase() === 'pending'" class="text-warning text-capitalize">
                  <i class="fas fa-exclamation-circle" /> {{ data.item.status }}
                </span>
                <span v-else-if="['cancelled', 'rejected', 'expired'].includes(data.item.status.toLowerCase())" class="text-danger text-capitalize">
                  <i class="fas fa-stop-circle" /> {{ data.item.status }}
                </span>
                <span v-else :class="(data.item.status === 'confirmed' || data.item.status === 'completed') ? 'text-success' : 'text-warning'" class="text-capitalize">
                  <i class="fas fa-check-circle" /> {{ data.item.status }}
                </span>
                <i v-if="data.item.status.toLowerCase() === 'pending'" :id="`target-${data.item.id}`" class="fas fa-info-circle fa-sm text-muted align-middle" />
                <b-tooltip v-if="data.item.status.toLowerCase() === 'pending'" :target="`target-${data.item.id}`" noninteractive triggers="hover">
                  {{ $t('form.trainer_state') }}
                  <span v-if="data.item.trainer_state.toLowerCase() === 'pending'" class="text-warning text-capitalize">
                    <i class="fas fa-exclamation-circle" /> {{ data.item.trainer_state }}
                  </span>
                  <span v-else :class="(data.item.trainer_state === 'accepted') ? 'text-success' : 'text-warning'" class="text-capitalize">
                    <i class="fas fa-check-circle" /> {{ data.item.trainer_state }}
                  </span>
                  <br>
                  {{ $t('form.client_state') }}
                  <span class="text-warning text-capitalize">
                    <i class="fas fa-spinner" /> {{ data.item.client_state.split('_').join(' ') }}
                  </span>
                </b-tooltip>
              </div>
            </template>
          </b-table>
          <b-row class="mt-1">
            <b-col sm="5" />
            <b-col sm="7">
              <div class="float-sm-right">
                <b-pagination v-model="currentpage" :per-page="perpage" :total-rows="totalrows" aria-controls="live_classes-table" />
              </div>
            </b-col>
          </b-row>
        </b-card>
      </div>
    </section>
  </div>
</template>

<script>
import { Internationalization } from '@syncfusion/ej2-base'
export default {
  async asyncData ({ $axios, store }) {
    let mBookings = []
    let mSettings = []
    let totalrows = 0
    await $axios.$get('/trainer/bookings')
      .then((res) => {
        mBookings = res.bookings
        mSettings = res.settings
        totalrows = res.total_rows
      })
      .catch(() => { })
    return { mBookings, mSettings, totalrows }
  },
  data () {
    return {
      intl: new Internationalization(),
      totalrows: 0,
      perpage: 10,
      currentpage: 1,
      filter: '',
      sortBy: 'created_at',
      sortDirection: 'desc',
      isDesc: true,
      isBusy: false,
      booking: null,
      bookingFields: [
        {
          key: 'id',
          class: 'w-5 text-truncate',
          thClass: 'text-center align-middle',
          label: this.$t('form.no'),
          sortable: true
        },
        {
          key: 'client.name',
          class: 'w-25 text-truncate',
          thClass: 'text-center align-middle',
          label: this.$t('form.client'),
          sortable: true
        },
        {
          key: 'sessions',
          class: 'w-30 text-truncate',
          thClass: 'text-center align-middle',
          label: this.$t('form.sessions')
        },
        {
          key: 'invitations',
          class: 'w-30 text-truncate',
          thClass: 'text-center align-middle',
          label: this.$t('form.invitations')
        },
        {
          key: 'status',
          class: 'w-10 text-nowrap',
          thClass: 'text-center align-middle',
          label: this.$t('form.status'),
          sortable: true
        }
      ]
    }
  },
  watch: {
    perpage () {
      this.drawBookings()
    },
    currentpage () {
      this.drawBookings()
    },
    filter () {
      this.drawBookings()
    }
  },
  mounted () {
  },
  methods: {
    async drawBookings () {
      this.isBusy = true
      await this.$axios.$get('/trainer/bookings', {
        params: {
          per_page: this.perpage,
          page: this.currentpage,
          filter: this.filter,
          sort_by: this.sortBy,
          sort_direction: this.sortDirection
        }
      })
        .then((res) => {
          this.mBookings = res.bookings
          this.totalrows = res.total_rows
        }).then(() => {
          this.isBusy = false
        })
        .catch()
    },
    addBooking () {
      this.$router.push('/bookings/create')
    },
    editBooking () {
      if (this.booking !== null) {
        this.$router.push(`/bookings/${this.booking.id}`)
      }
    },
    refreshBookings () {
      this.currentpage = 1
      this.filter = ''
      this.drawBookings()
    },
    getTimeRange (data) {
      const start = new Date(data.session_date)
      const end = new Date(data.session_date)
      end.setMinutes(end.getMinutes() + data.duration)
      return (
        this.intl.formatDate(start, {
          type: 'date',
          skeleton: 'medium'
        }) +
        ' (' +
        this.intl.formatDate(start, { skeleton: 'hm' }) +
        ' - ' +
        this.intl.formatDate(end, { skeleton: 'hm' }) +
        ')'
      )
    },
    onBookingRowSelected (items) {
      if (items !== null && Array.isArray(items) && items.length === 1) {
        this.booking = items[0]
      } else {
        this.booking = null
      }
    },
    onBookingRowDblClicked (item, index, event) {
      this.$router.push(`/bookings/${item.id}`)
    },
    showBookingDetails (id) {
      this.$router.push(`/bookings/${id}`)
    },
    sortChanged (ctx) {
      if (this.sortBy !== ctx.sortBy) {
        this.isDesc = false
        this.sortDirection = 'asc'
      } else {
        this.sortDirection = ctx.sortDesc ? 'desc' : 'asc'
      }
      this.sortBy = ctx.sortBy

      this.drawBookings()
    }
  }
}
</script>

<style>
@keyframes fa-blink {
     0% { opacity: 1; }
     25% { opacity: 0.25; }
     50% { opacity: 0.5; }
     75% { opacity: 0.75; }
     100% { opacity: 0; }
 }
.fa-blink {
   -webkit-animation: fa-blink 2s linear infinite;
   -moz-animation: fa-blink 2s linear infinite;
   -ms-animation: fa-blink 2s linear infinite;
   -o-animation: fa-blink 2s linear infinite;
   animation: fa-blink 2s linear infinite;
}
</style>
