<template>
  <b-navbar :type="dark?'dark':'light'" class="main-header">
    <b-navbar-nav>
      <b-nav-item>
        <sidebar-toggle />
      </b-nav-item>
      <b-nav-item-dropdown :text="$i18n.locale.toUpperCase()">
        <b-dropdown-item v-for="(l, i) in $i18n.locales" :key="i" class="fsz-sm" @click.prevent="changeLocale(l.code, l.direction)">
          {{ l.name }}
        </b-dropdown-item>
      </b-nav-item-dropdown>
    </b-navbar-nav>

    <b-navbar-nav class="ml-auto">
      <li class="nav-item mt-1 mr-2">
        <vue-switch v-model="dark" v-b-popover.hover="'Dark Mode'" class="align-middle" />
      </li>
      <b-nav-item v-b-popover.hover="'Fullscreen'" class="d-none d-md-block" @click="toggleFullScreen">
        <i :class="['fas', fullScreen ? 'fa-compress-arrows-alt' : 'fa-expand-arrows-alt']" />
      </b-nav-item>
      <!-- Messages Dropdown Menu -->
      <!-- <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="fas fa-comments" />
          <span class="badge badge-danger navbar-badge">3</span>
        </a>
      </li> -->
      <!-- Notifications Dropdown Menu -->
      <li ref="dropdown2" class="nav-item dropdown" :class="{show: showNotification}">
        <a class="nav-link" data-toggle="dropdown" href="#" :aria-expanded="showNotification" @click.prevent="toggleNotification">
          <i class="fas fa-bell" />
          <span class="badge badge-warning navbar-badge">{{ total }}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" :class="{show: showNotification}">
          <b-row style="padding: 0.5rem 1rem;" class="text-sm">
            <b-col>
              Notifications ({{ total }})
            </b-col>
            <b-col class="text-right">
              <a v-show="hasUnread" href="#" @click.prevent="markAllRead">Mark all as read</a>
            </b-col>
          </b-row>
          <div class="dropdown-divider" />
          <div class="overflow-auto" style="height:auto;max-height:350px;">
            <b-link
              v-for="notification in notifications"
              :key="notification.id"
              :to="notification.action_url"
              class="dropdown-item"
              @click.prevent="markAsRead(notification, false)"
            >
              <b-row>
                <b-col md="auto" sm="auto" lg="auto">
                  <div
                    class="image-preview"
                    :style="`background-image: url('${notification.image}')`"
                  />
                </b-col>
                <b-col>
                  <strong class="text-wrap pr-0">
                    {{ notification.title }}
                  </strong>

                  <div>
                    <small class="text-muted">
                      <timeago :datetime="notification.created" :auto-update="30" />
                    </small>
                  </div>
                </b-col>
                <b-col cols="auto" class="pl-0">
                  <a href="#" class="nav-link p-0 fa-sm" style="float: right;" title="Mark as read" @click.prevent="markAsRead(notification)">
                    <i class="fas fa-times" aria-hidden="true" />
                  </a>
                </b-col>
              </b-row>
            </b-link>
          </div>
          <div v-show="hasUnread" class="dropdown-divider" />

          <li v-if="!hasUnread" class="dropdown-item dropdown-footer">
            You don't have any unread notifications.
          </li>
          <a v-if="hasUnread" href="#" class="dropdown-item dropdown-footer" @click.prevent="fetch(null)">See All Notifications</a>
        </div>
      </li>
      <!-- <b-button variant="link" class="nav-link" @click.prevent="toggleNotification">
        <i class="fas fa-times" />
      </b-button>
      <b-link to="/live-classes" class="nav-link">
        Hello
      </b-link> -->
      <b-nav-item-dropdown right>
        <template #button-content>
          <i class="fas fa-user mr-1" /> {{ $auth.user.name }}
        </template>
        <b-dropdown-item to="/settings">
          <i class="fas fa-cogs" /> Settings
        </b-dropdown-item>
        <b-dropdown-item @click="logout">
          <i class="fas fa-sign-out-alt" /> Logout
        </b-dropdown-item>
      </b-nav-item-dropdown>
    </b-navbar-nav>
  </b-navbar>
</template>

<script>
import SidebarToggle from './SidebarToggle.vue'
export default {
  name: 'HeaderNav',
  components: { SidebarToggle },
  data () {
    return {
      fullScreen: false,
      total: 0,
      notifications: [],
      showNotification: false,
      dropDownHandled: false
    }
  },
  computed: {
    dark: {
      get () {
        return this.$store.state.theme.dark
      },
      set (value) {
        this.$store.commit('theme/dark', value)
      }
    },
    hasUnread () {
      return this.total > 0
    }
  },
  mounted () {
    this.fetch()
    this.listen()
    document.addEventListener('click', this.closeDropDowns)
  },
  beforeDestroy () {
    document.removeEventListener('click', this.closeDropDowns)
  },
  methods: {
    toggleFullScreen () {
      const isInFullScreen = this.isInFullScreen()

      const docElm = document.documentElement
      if (!isInFullScreen) {
        if (docElm.requestFullscreen) {
          docElm.requestFullscreen()
        } else if (docElm.mozRequestFullScreen) {
          docElm.mozRequestFullScreen()
        } else if (docElm.webkitRequestFullScreen) {
          docElm.webkitRequestFullScreen()
        } else if (docElm.msRequestFullscreen) {
          docElm.msRequestFullscreen()
        }
      } else if (document.exitFullscreen) {
        document.exitFullscreen()
      } else if (document.webkitExitFullscreen) {
        document.webkitExitFullscreen()
      } else if (document.mozCancelFullScreen) {
        document.mozCancelFullScreen()
      } else if (document.msExitFullscreen) {
        document.msExitFullscreen()
      }
      this.fullScreen = !isInFullScreen
    },
    isInFullScreen () {
      return (
        (document.fullscreenElement && document.fullscreenElement !== null) ||
        (document.webkitFullscreenElement &&
          document.webkitFullscreenElement !== null) ||
        (document.mozFullScreenElement &&
          document.mozFullScreenElement !== null) ||
        (document.msFullscreenElement && document.msFullscreenElement !== null)
      )
    },
    changeLocale (locale, direction) {
      this.$i18n.setLocale(locale)
    },
    async logout () {
      await this.$auth.logout()
        .then(() => {
          this.$router.push('/login')
        })
    },
    async fetch (limit = 5) {
      this.dropDownHandled = true
      await this.$axios
        .get('/trainer/notifications', { params: { limit } })
        .then((res) => {
          this.total = res.data.total_rows
          this.notifications = res.data.notifications.map(({ id, data, created }) => {
            return {
              id,
              title: data.title,
              body: data.body,
              created,
              action_url: data.action_url
            }
          })
        })
    },
    markAsRead ({ id }, handled = true) {
      this.dropDownHandled = handled
      const index = this.notifications.findIndex(n => n.id === id)

      if (index > -1) {
        this.total--
        this.notifications.splice(index, 1)
        this.$axios.post(`/trainer/notifications/${id}/read`)
      }
    },
    async markAllRead () {
      this.dropDownHandled = true
      await this.$axios.post('/trainer/notifications/markallread')
        .then(() => {
          this.total = 0
          this.notifications = []
        })
    },

    /**
     * Listen for Echo push notifications.
     */
    listen () {
      // Listen to messages
      if (!('serviceWorker' in navigator)) {
        // eslint-disable-next-line no-console
        console.log("Service workers aren't supported in this browser.")
        return
      }
      navigator.serviceWorker.onmessage = (event) => {
        if (event.data) {
          if (event.data.type === 'NOTI_ADD') {
            // Process response
            // console.log('Service worker sent message through client api')
            this.total++
            this.fetch()
            // this.notifications.unshift(event.data.noti);
          } else if (event.data.type === 'NOTI_READ') {
            const index = this.notifications.findIndex(
              n => n.id === event.data.noti.data.id
            )

            if (index > -1) {
              this.total--
              this.notifications.splice(index, 1)
            }
          } else if (event.data.type === 'NOTI_READ_ALL') {
            this.total = 0
            this.notifications = []
          }
        }
      }
    },
    toggleNotification () {
      this.dropDownHandled = true
      this.showNotification = !this.showNotification
    },
    closeDropDowns (e) {
      if (!this.dropDownHandled) {
        this.showNotification = false
      }
      this.dropDownHandled = false
    }
  }
}
</script>

<style>
.navbar .vue-switcher {
  margin-bottom: 0;
}

.image-preview {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  border: 1px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}
.image-preview  > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

</style>
