<template>
  <li :id="'menu.' + menu.id" :class="['nav-item', { 'menu-open': menu.subs && menu.subs.length > 0 && $route.path.indexOf(menu.to) > -1 }]">
    <a v-if="menu.subs && menu.subs.length > 0" :class="['nav-link', { 'active' : $route.path.indexOf(menu.to) > -1 }]" href="javascript:;" @click="toggle">
      <i :class="['nav-icon', menu.icon ? menu.icon : 'fa far fa-circle']" />
      <p>
        {{ $t(menu.label) }}
        <i class="right fas fa-angle-left" />
      </p>
    </a>
    <nuxt-link v-else class="nav-link" :to="menu.to" :class="{'active': $route.path === menu.to || (menu.to !== '/' && $route.path.indexOf(menu.to) > -1)}">
      <i :class="['nav-icon', menu.icon ? menu.icon : 'fa far fa-circle']" />
      <p>
        {{ $t(menu.label) }}
      </p>
    </nuxt-link>
    <ul v-if="menu.subs && menu.subs.length > 0" class="nav nav-treeview">
      <menu-item v-for="(sub, i) in menu.subs" :key="i" :menu="sub" />
    </ul>
  </li>
</template>

<script>
import $ from 'jquery'
export default {
  name: 'MenuItem',
  props: {
    menu: {
      type: Object,
      default: null
    }
  },
  methods: {
    toggle () {
      const $el = document.getElementById('menu.' + this.menu.id)
      const $nav = $el.querySelector('ul.nav')
      if ($el.classList.contains('menu-open')) {
        $($nav).stop().slideUp(300, () => {
          $el.classList.remove('menu-open')
          $nav.style.removeProperty('display')
        })
      } else {
        $($nav).stop().slideDown(300, () => {
          $el.classList.add('menu-open')
          $nav.style.removeProperty('display')
        })
      }
    }
  }
}
</script>

<style>

</style>
