<template>
  <div id="preloader" class="preloader flex-column justify-content-center align-items-center h-0">
    <img
      class="animation__wobble d-none"
      src="/img/AdminLTELogo.png"
      alt="AdminLTELogo"
      height="60"
      width="60"
    >
  </div>
</template>

<script>
export default {
  name: 'Preloader'
}
</script>

<style>

</style>
