<template>
  <aside :class="['main-sidebar', 'elevation-4', theme]">
    <nuxt-link to="/" class="brand-link">
      <img src="/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">{{ $config.SITE_NAME }}</span>
    </nuxt-link>

    <perfect-scrollbar>
      <div class="sidebar">
        <b-form v-show="false" inline class="mt-2" @submit.prevent="handelSearch">
          <b-input-group>
            <b-form-input class="form-control-sidebar" type="search" placeholder="Search" />
            <b-input-group-append>
              <b-button type="submit" class="btn-sidebar">
                <i class="fas fa-search fa-fw" />
              </b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form>

        <b-nav pills class="nav-sidebar mt-2 nav-child-indent text-sm">
          <menu-item v-for="(menu, index) in menus" :key="index" :menu="menu" />
        </b-nav>
      </div>
    </perfect-scrollbar>
  </aside>
</template>

<script>
import MenuItem from './MenuItem.vue'
import menus from '@/constants/menu'
export default {
  name: 'Sidebar',
  components: { MenuItem },
  data () {
    return {
      query: '',
      menus
    }
  },
  computed: {
    theme () {
      return this.$store.state.theme.dark ? 'sidebar-dark-primary' : 'sidebar-light-primary'
    }
  },
  methods: {
    handelSearch () {
      if (this.query) { this.$router.push(`/search?q=${this.query.trim()}`) }
    }
  }
}
</script>

<style>

</style>
