<template>
  <div class="content-wrapper">
    <breadcrumb :header="$t('menu.live_classes')" :items="[{ text: 'Home', to: '/' }, { text: $t('menu.live_classes'), to: '/live-classes' }, { text: $t('form.detail') }]" />
    <section class="content">
      <div class="container-fluid">
        <b-card>
          <b-row>
            <b-col sm="6" lg="6" xl="6">
              <div class="m-1">
                <vac v-if="mLiveClass.status === 'active' || mLiveClass.status === 'live'" :start-time="new Date(mLiveClass.start_time).getTime() - 86399000" :end-time="mLiveClass.start_time">
                  <template
                    #process="{ timeObj }"
                  >
                    <span class="text-white time-left text-shadow">{{ `${timeObj.h}:${timeObj.m}:${timeObj.s}` }}</span>
                  </template>
                  <template
                    #finish
                  >
                    <span v-if="new Date(mLiveClass.end_time) > new Date()" class="bg-danger live time-left rounded px-1">
                      <i class="fa fa-circle" /> Live
                    </span>
                    <span v-else class="text-white time-left text-shadow"><h6>Finished</h6></span>
                  </template>
                </vac>
                <b-img
                  block
                  :src="mLiveClass.photo"
                  :class="mLiveClass.photo ? 'img-fluid' : 'img-blank'"
                  :blank="mLiveClass.photo ? false : true"
                  blank-color="#777"
                />
              </div>
            </b-col>
            <b-col>
              <h4 class="mb-0">
                {{ mLiveClass.name }}
                <span class="badge badge-secondary">{{ mLiveClass.participants_count + '/' + mLiveClass.capacity }}</span>
              </h4>
              <p class="mt-0">
                <em>{{ $helper.reduceToString(mLiveClass.training_types, 'name') }}</em>
              </p>
              <p class="text-muted">
                {{ intl.formatDate(typeof mLiveClass.start_time === 'string' ? new Date(mLiveClass.start_time) : mLiveClass.start_time, {
                  type: 'date',
                  skeleton: 'full'
                }) }} <br>
                {{ intl.formatDate(typeof mLiveClass.start_time === 'string' ? new Date(mLiveClass.start_time) : mLiveClass.start_time, { skeleton: 'hm' }) + (mLiveClass.duration % 60 === 0 ? ' - ' + (mLiveClass.duration / 60) + ' Hr' : ' - ' + (mLiveClass.duration % 60) + ' Min') }}
                <br>
                <span v-if="mLiveClass.status.toLowerCase() === 'draft'" class="text-warning text-capitalize">
                  <i class="fas fa-exclamation-circle" /> {{ mLiveClass.status }}
                </span>
                <span v-else-if="['cancelled'].includes(mLiveClass.status.toLowerCase())" class="text-danger text-capitalize">
                  <i class="fas fa-stop-circle" /> {{ mLiveClass.status }}
                </span>
                <span v-else :class="['active','live','finished'].includes(mLiveClass.status.toLowerCase()) ? 'text-success' : 'text-warning'" class="text-capitalize">
                  <i class="fas fa-check-circle" /> {{ mLiveClass.status }}
                </span>
              </p>
              <div class="lh-1-3">
                {{ mLiveClass.description }}
              </div>
              <div class="row mt-2">
                <div :class="mLiveClass.assistant_trainer ? 'col-sm-6 col-md-6' : ''" class="col-12 d-flex align-items-stretch flex-column">
                  <div class="card bg-light d-flex flex-fill">
                    <div class="card-header text-muted border-bottom-0">
                      {{ $t('form.trainer') }}
                    </div>
                    <div class="card-body p-0">
                      <div class="row text-center">
                        <img :src="mLiveClass.trainer.avatar" alt="user-avatar" class="profile-user-img img-circle img-fluid">
                      </div>
                      <h6 class="text-center mt-1">
                        <b-link to="#">
                          {{ mLiveClass.trainer.name }}
                        </b-link>
                      </h6>
                    </div>
                  </div>
                </div>
                <div v-if="mLiveClass.assistant_trainer" class="col-12 col-sm-6 col-md-6 d-flex align-items-stretch flex-column">
                  <div class="card bg-light d-flex flex-fill">
                    <div class="card-header text-muted border-bottom-0">
                      {{ $t('form.assistant_trainer') }}
                    </div>
                    <div class="card-body p-0">
                      <div class="row text-center">
                        <img :src="mLiveClass.assistant_trainer.avatar" alt="user-avatar" class="profile-user-img img-circle img-fluid">
                      </div>
                      <h6 class="text-center mt-1">
                        <b-link to="#">
                          {{ mLiveClass.assistant_trainer.name }}
                        </b-link>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </b-col>
          </b-row>
          <div class="mb-3">
            <b-tabs content-class="mt-3">
              <b-tab :title="$t('form.details')" active>
                <div style="overflow: auto">
                  <span v-html="mLiveClass.details" />
                </div>
              </b-tab>
              <!-- <b-tab :title="$t('form.comments')" disabled>
                <p>I'm a disabled tab!</p>
              </b-tab> -->
            </b-tabs>
          </div>
        </b-card>
      </div>
    </section>
  </div>
</template>

<script>
import { Internationalization } from '@syncfusion/ej2-base'
export default {
  async asyncData ({ $axios, $helper, params }) {
    let mLiveClass = []
    await $axios.$get(`/trainer/myclasses/${params.liveclass}`)
      .then((res) => {
        mLiveClass = res.live_class
      })
      .catch(() => {})
    return { mLiveClass }
  },
  data () {
    return {
      intl: new Internationalization()
    }
  },
  mounted () {
    // this.$preloader.show()
    // setTimeout(() => {
    //   this.$preloader.hide()
    // }, 500)
  },
  methods: {
  }
}
</script>

<style scoped>
.time-left {margin-top: 1%;margin-left: 5%;position: absolute;font-size: clamp(12px, 1.1vw, 28px);}
.img-blank {min-height: clamp(200px, 18vw, 500px);width: 100%;}
.text-shadow {text-shadow: 0px 0px 10px black, 0px 0px 3px black;}
</style>
