<template>
  <div>
    <div v-if="data.elementType === 'cell'">
      <b-button id="add" class="e-flat" variant="primary" @click="addBooking">
        Add
      </b-button>
    </div>
    <div v-else class="content-area">
      <div v-if="data.event_type === 'booking'">
        <div class="e-resource pt-2">
          <i class="fas fa-user ej2-icon fa-fw" />
          <div class="e-resource-details e-text-ellipsis">
            {{ data.subject }}
            <span v-if="Number(data.invitations_count) > 0" class="badge badge-primary">+ {{ data.invitations_count }}</span>
          </div>
        </div>
        <div class="e-date-time pt-2">
          <i class="fas fa-clock ej2-icon fa-fw" />
          <div class="e-date-time-wrapper e-text-ellipsis">
            {{ getTimeRange(data) }}
          </div>
        </div>
        <div class="e-location pt-2">
          <i class="fas fa-map-marker-alt ej2-icon fa-fw" />
          <div class="e-location-details e-text-ellipsis">
            {{ data.booking.address }}
          </div>
        </div>
        <div class="e-description pt-2">
          <i class="fas fa-clipboard ej2-icon fa-fw" />
          <div v-if="data.techniques && data.techniques.length > 0" class="e-description-details e-text-ellipsis">
            <ul class="list-unstyled">
              <li v-for="(technique, id) in data.techniques" :key="id">
                {{ technique.name }}
                <ul>
                  <li>{{ technique.equipments }}</li>
                </ul>
              </li>
            </ul>
            <!-- {{ Array.prototype.map.call(data.techniques, s => s.name).join(', ') }} -->
          </div>
          <div v-else class="e-description-details e-text-ellipsis text-danger">
            {{ $t('form.techniques_not_set') }}
          </div>
        </div>
      </div>
      <div v-else>
        <div class="e-resource pt-2">
          <i class="fas fa-video ej2-icon fa-fw" style="margin-top: 3px" />
          <div class="e-resource-details e-text-ellipsis">
            {{ data.subject }}
            <span class="badge badge-secondary">{{ data.participants_count + '/' + data.capacity }}</span>
          </div>
        </div>
        <div class="e-resource pt-2">
          <i v-if="data.assistant_trainer" class="fas fa-user-friends ej2-icon fa-fw" />
          <i v-else class="fas fa-user ej2-icon fa-fw" />
          <div class="e-resource-details e-text-ellipsis">
            {{ data.trainer.name.concat(data.assistant_trainer ? ', ' + data.assistant_trainer.name : '') }}
          </div>
        </div>
        <div class="e-date-time pt-2">
          <i class="fas fa-clock ej2-icon fa-fw" />
          <div class="e-date-time-wrapper e-text-ellipsis">
            {{ getTimeRange(data) }}
          </div>
        </div>
        <div v-if="data.training_types.length > 0" class="e-description pt-2">
          <i class="fas fa-clipboard-list ej2-icon fa-fw" />
          <div class="e-description-details e-text-ellipsis">
            {{ Array.prototype.map.call(data.training_types, s => s.name).join(', ') }}
          </div>
        </div>
        <div v-if="data.equipments.length > 0" class="e-description pt-2">
          <i class="fas fa-dumbbell ej2-icon fa-fw" />
          <div class="e-description-details e-text-ellipsis">
            {{ Array.prototype.map.call(data.equipments, s => s.name).join(', ') }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Internationalization } from '@syncfusion/ej2-base'
export default {
  props: {
    roomData: {
      type: Array,
      default: null
    },
    test: {
      type: String,
      default: null
    }
  },
  data () {
    return {
      intl: new Internationalization(),
      fields: { text: 'Name', value: 'Id' },
      data: {}
    }
  },
  mounted () {
    // console.log(this.test)
  },
  methods: {
    addBooking () {
    },
    getEventType (data) {
      const scheduleObj = document.querySelector('.e-schedule').ej2_instances[0]
      const resources = scheduleObj.getResourceCollections().slice(-1)[0]
      // const resources = scheduleObj.getResourceCollections()[0]
      const resourceData = resources.dataSource.filter(resource => resource.Id === data.RoomId)[0]
      return resourceData.Name
    },
    getTimeRange (data) {
      return (
        this.intl.formatDate(data.start_time, {
          type: 'date',
          skeleton: 'full'
        }) +
        ' (' +
        this.intl.formatDate(data.start_time, { skeleton: 'hm' }) +
        ' - ' +
        this.intl.formatDate(data.end_time, { skeleton: 'hm' }) +
        ')'
      )
    }
  }
}
</script>

<style>
.content-area {
  margin: 0;
  padding: 0px 0px 0px 20px;
  width: auto;
}
</style>
