<template>
  <div class="quick-info-footer">
    <div v-if="data.elementType === 'cell'" class="cell-footer">
      <!-- <b-button id="more-details" class="e-flat" @click="buttonClickActions">
        More Details
      </b-button>
      <b-button id="add" class="e-flat" variant="primary" @click="addBooking">
        Add
      </b-button> -->
    </div>
    <div v-else class="event-footer">
      <!-- <b-button id="delete" class="e-flat" @click="buttonClickActions">
        Delete
      </b-button> -->
      <b-button id="more-details" size="sm" class="e-flat" variant="primary" @click="viewDetails">
        More Details
      </b-button>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      data: {}
    }
  },
  methods: {
    addBooking () {
    },
    viewDetails () {
      const scheduleObj = document.querySelector('.e-schedule').ej2_instances[0]
      const activeEvent = scheduleObj.activeEventData.event
      if (activeEvent.event_type === 'live_class') {
        this.$router.push(`/live-classes/${activeEvent.id}`)
      } else {
        this.$router.push(`/bookings/${activeEvent.booking_id}`)
      }
    },
    buttonClickActions (e) {
      const scheduleObj = document.querySelector('.e-schedule').ej2_instances[0]
      const quickPopup = scheduleObj.element.querySelector('.e-quick-popup-wrapper')
      const getSlotData = function () {
        const titleObj = quickPopup.querySelector('#title').ej2_instances[0]
        const notesObj = quickPopup.querySelector('#notes').ej2_instances[0]
        const eventTypeObj = quickPopup.querySelector('#eventType').ej2_instances[0]
        const cellDetails = scheduleObj.getCellDetails(scheduleObj.getSelectedElements())
        const addObj = {}
        addObj.Id = scheduleObj.getEventMaxID()
        addObj.Subject = titleObj.value
        addObj.StartTime = new Date(+cellDetails.startTime)
        addObj.EndTime = new Date(+cellDetails.endTime)
        addObj.Description = notesObj.value
        addObj.RoomId = eventTypeObj.value
        return addObj
      }
      if (e.target.id === 'add') {
        const addObj = getSlotData()
        scheduleObj.addEvent(addObj)
      } else if (e.target.id === 'delete') {
        const eventDetails = scheduleObj.activeEventData.event
        let currentAction = 'Delete'
        if (eventDetails.RecurrenceRule) {
          currentAction = 'DeleteOccurrence'
        }
        scheduleObj.deleteEvent(eventDetails, currentAction)
      } else {
        const isCellPopup = quickPopup.firstElementChild.classList.contains('e-cell-popup')
        const eventDetails = isCellPopup ? getSlotData() : scheduleObj.activeEventData.event
        let currentAction = isCellPopup ? 'Add' : 'Save'
        if (eventDetails.RecurrenceRule) {
          currentAction = 'EditOccurrence'
        }
        console.log(e.target.id, scheduleObj.activeEventData.event, currentAction)
        scheduleObj.openEditor(eventDetails, currentAction, true)
      }
      scheduleObj.closeQuickInfoPopup()
    }
  }
}
</script>

<style></style>
