<template>
  <div class="quick-info-header">
    <div v-if="data.elementType == 'cell'" class="quick-info-header-content" :style="{ 'align-items': 'center' }">
      <div class="quick-info-title">
        {{ getHeaderTitle(data) }}
      </div>
      <div class="duration-text">
        {{ getHeaderDetails(data) }}
      </div>
    </div>
    <div v-else>
      <!-- <div class="e-header-icon-wrapper">
        <button class="e-edit e-control e-btn e-lib e-flat e-round e-small e-icon-btn" title="Edit" data-ripple="true" />
        <button class="e-delete e-control e-btn e-lib e-flat e-round e-small e-icon-btn" title="Delete" data-ripple="true" />
        <button class="e-close e-control e-btn e-lib e-flat e-round e-small e-icon-btn" title="Close" data-ripple="true" />
      </div> -->
      <div class="quick-info-header-content" :style="getHeaderStyles(data)">
        <div class="quick-info-title">
          {{ getHeaderTitle(data) }}
        </div>
        <!-- <div class="duration-text">
          {{ getHeaderDetails(data) }}
        </div> -->
        <div class="text-capitalize">
          <span v-if="['draft','pending'].includes(data.status.toLowerCase())">
            <i class="fas fa-info-circle" /> {{ data.status.split('_').join(' ') }}
          </span>
          <span v-else-if="data.status.toLowerCase() === 'coming'">
            <i class="fas fa-shipping-fast fa-blink" /> {{ data.status.split('_').join(' ') }}
          </span>
          <span v-else-if="data.status.toLowerCase() === 'arrived'">
            <i class="fas fa-map-marker-alt fa-blink" /> {{ data.status.split('_').join(' ') }}
          </span>
          <span v-else-if="data.status.toLowerCase() === 'start_training'">
            <i class="fas fa-dumbbell fa-blink" /> {{ data.status.split('_').join(' ') }}
          </span>
          <span v-else-if="['finished','finished_training'].includes(data.status.toLowerCase())">
            <i class="fas fa-flag-checkered" /> {{ data.status.split('_').join(' ') }}
          </span>
          <span v-else-if="['cancelled', 'expired', 'rejected'].includes(data.status.toLowerCase())">
            <i class="fas fa-stop-circle" /> {{ data.status.split('_').join(' ') }}
          </span>
          <span v-else-if="data.status.toLowerCase() === 'live'">
            <i class="fas fa-video" /> {{ data.status.split('_').join(' ') }}
          </span>
          <span v-else>
            <i class="fas fa-check-circle" /> {{ data.status.split('_').join(' ') }}
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Internationalization } from '@syncfusion/ej2-base'
export default {
  data () {
    return {
      intl: new Internationalization(),
      data: {}
    }
  },
  methods: {
    getHeaderStyles (data) {
      if (data.elementType === 'cell') {
        return { 'align-items': 'center', color: '#919191' }
      } else {
        const scheduleObj = document.querySelector('.e-schedule').ej2_instances[0]
        const resources = scheduleObj.getResourceCollections().slice(-1)[0]
        const resourceData = resources.dataSource.filter(resource => resource.status.toLowerCase() === data.status.toLowerCase())[0]
        let calendarColor = '#3f51b5'
        if (resourceData) {
          calendarColor = (resourceData.color).toString()
        }
        return { background: calendarColor, color: '#FFFFFF' }
      }
    },
    getHeaderTitle (data) {
      return (data.elementType === 'cell') ? 'Add Booking' : data.event_type === 'booking' ? 'Booking Details' : 'Live Class Details'
    },
    getHeaderDetails (data) {
      return (
        this.intl.formatDate(data.start_time, {
          type: 'date',
          skeleton: 'full'
        }) +
        ' (' +
        this.intl.formatDate(data.start_time, { skeleton: 'hm' }) +
        ' - ' +
        this.intl.formatDate(data.end_time, { skeleton: 'hm' }) +
        ')'
      )
    }
  }
}
</script>
<style>

.quick-info-header {
  padding: 8px 18px;
}

.quick-info-header-content {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  padding: 5px 10px 5px;
}

.quick-info-title {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.48px;
  height: 22px;
}

.duration-text {
  font-size: 11px;
  letter-spacing: 0.33px;
  height: 14px;
}
</style>
