<template>
  <div id="wrapper" class="wrapper">
    <preloader />
    <header-nav />
    <sidebar />
    <nuxt />
    <vue-snotify />
    <vue-confirm-dialog />
    <foot />
  </div>
</template>

<script>
import Footer from './partials/Footer.vue'
import HeaderNav from './partials/HeaderNav.vue'
import Preloader from './partials/Preloader.vue'
import Sidebar from './partials/Sidebar.vue'
export default {
  components: { HeaderNav, Sidebar, foot: Footer, Preloader },
  head () {
    return {
      link: [{ rel: 'stylesheet', href: this.dark ? '/css/bootstrap-dark.min.css' : '/css/bootstrap.min.css' }],
      bodyAttrs: {
        class: ['sidebar-mini', 'layout-fixed', 'layout-footer-fixed', this.mode]
      }
    }
  },
  computed: {
    dark () {
      return this.$store.state.theme.dark
    },
    mode () {
      return this.$store.state.theme.mode
    }
  }
}
</script>

<style></style>
