<template>
  <div class="content-wrapper">
    <breadcrumb />
    <section v-if="statusCode === 404" class="content">
      <div class="error-page">
        <h2 class="headline text-warning">
          404
        </h2>
        <div class="error-content">
          <h3><i class="fas fa-exclamation-triangle text-warning" /> Oops! Page not found.</h3>
          <p>
            We could not find the page you were looking for.
            Meanwhile, you may <nuxt-link to="/">
              return to dashboard
            </nuxt-link> or try using the search form.
          </p>
        </div>
      </div>
    </section>
    <section v-else class="content">
      <div class="error-page">
        <h2 class="headline text-danger">
          500
        </h2>
        <div class="error-content">
          <h3><i class="fas fa-exclamation-triangle text-danger" /> Oops! Something went wrong.</h3>
          <p>
            We will work on fixing that right away.
            Meanwhile, you may <nuxt-link to="/">
              return to dashboard
            </nuxt-link> or try using the search form.
          </p>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  computed: {
    statusCode () {
      return (this.error && this.error.statusCode) || 500
    }
  },
  methods: {
    goBack () {
      if (this.$router.go(-1) === undefined) {
        this.$router.push('/')
      }
    }
  }
}
</script>
