<template>
  <div class="content-wrapper">
    <breadcrumb
      header="Dashboard"
      :items="[
        { text: 'Home', to: '/'},
        { text: 'Dashboard' }
      ]"
    />
    <section class="content">
      <div class="container-fluid">
        <h5>{{ $t('form.today_events') }}</h5>
        <ejs-schedule
          id="Schedule"
          ref="scheduleObj"
          height="auto"
          :selected-date="selectedDate"
          :event-settings="eventSettings"
          :current-view="scheduleView"
          :quick-info-templates="quickInfoTemplates"
          :show-header-bar="false"
        >
          <e-views>
            <e-view option="Agenda" />
          </e-views>
          <e-resources>
            <e-resource
              field="status"
              title="Status"
              name="Statuses"
              text-field="color"
              id-field="status"
              color-field="color"
              :data-source="statusColors"
            />
          </e-resources>
        </ejs-schedule>

        <h5 class="mt-3">
          {{ $t('form.pending_bookings') }}
        </h5>
        <b-table
          id="bookings-table"
          :items="mBookings"
          :fields="bookingFields"
          :outlined="true"
          :busy="isBusy"
          responsive
          show-empty
          selectable
          select-mode="single"
          striped
          @row-selected="onBookingRowSelected"
          @row-dblclicked="onBookingRowDblClicked"
        >
          <template #table-busy>
            <div class="text-center my-2">
              <b-spinner class="align-middle" />
              <strong>Loading...</strong>
            </div>
          </template>
          <template #cell(id)="data">
            <label class="mb-0 hov-pointer text-primary" @click="showBookingDetails(data.item.id)">
              {{ "B-" + data.item.id }}
            </label>
          </template>
          <template #cell(sessions)="data">
            <div v-for="(session, i) in data.item.sessions" :key="i" class="e-date-time-wrapper e-text-ellipsis">
              {{ getTimeRange(session) }}
              <span v-if="['coming','arrived','start_training','finished_training'].includes(session.status.toLowerCase())" class="text-success small">
                <i v-if="session.status.toLowerCase() === 'coming'" class="fas fa-shipping-fast fa-blink" />
                <i v-else-if="session.status.toLowerCase() === 'arrived'" class="fas fa-map-marker-alt fa-blink" />
                <i v-else-if="session.status.toLowerCase() === 'start_training'" class="fas fa-dumbbell fa-blink" />
                <i v-else-if="session.status.toLowerCase() === 'finished_training'" class="fas fa-flag-checkered" />
              </span>
            </div>
          </template>
          <template #cell(invitations)="data">
            <div v-for="(child, i) in data.item.invitations" :key="i" class="e-date-time-wrapper e-text-ellipsis">
              {{ child.client.name }}
              <i v-if="child.status.toLowerCase() === 'invited'" :id="`client-target-${child.id}`" class="fas fa-exclamation-circle text-warning small" />
              <i v-else-if="['cancelled', 'rejected', 'expired'].includes(child.status.toLowerCase())" :id="`client-target-${child.id}`" class="fas fa-stop-circle text-danger small" />
              <i v-else :id="`client-target-${child.id}`" :class="(child.status === 'accepted') ? 'text-success' : 'text-warning'" class="fas fa-check-circle small" />
              <b-tooltip :target="`client-target-${child.id}`" noninteractive triggers="hover">
                <span v-if="child.status.toLowerCase() === 'invited'" class="text-warning text-capitalize">
                  <i class="fas fa-exclamation-circle" /> {{ child.status }}
                </span>
                <span v-else-if="['cancelled', 'rejected', 'expired'].includes(child.status.toLowerCase())" class="text-danger text-capitalize">
                  <i class="fas fa-stop-circle" /> {{ child.status }}
                </span>
                <span v-else :class="(child.status === 'accepted') ? 'text-success' : 'text-warning'" class="text-capitalize">
                  <i class="fas fa-check-circle" /> {{ child.status }}
                </span>
              </b-tooltip>
            </div>
          </template>
          <template #cell(status)="data">
            <div>
              <span v-if="data.item.status.toLowerCase() === 'pending'" class="text-warning text-capitalize">
                <i class="fas fa-exclamation-circle" /> {{ data.item.status }}
              </span>
              <span v-else-if="['cancelled', 'rejected', 'expired'].includes(data.item.status.toLowerCase())" class="text-danger text-capitalize">
                <i class="fas fa-stop-circle" /> {{ data.item.status }}
              </span>
              <span v-else :class="(data.item.status === 'confirmed' || data.item.status === 'completed') ? 'text-success' : 'text-warning'" class="text-capitalize">
                <i class="fas fa-check-circle" /> {{ data.item.status }}
              </span>
              <i v-if="data.item.status.toLowerCase() === 'pending'" :id="`target-${data.item.id}`" class="fas fa-info-circle fa-sm text-muted align-middle" />
              <b-tooltip v-if="data.item.status.toLowerCase() === 'pending'" :target="`target-${data.item.id}`" noninteractive triggers="hover">
                {{ $t('form.trainer_state') }}
                <span v-if="data.item.trainer_state.toLowerCase() === 'pending'" class="text-warning text-capitalize">
                  <i class="fas fa-exclamation-circle" /> {{ data.item.trainer_state }}
                </span>
                <span v-else :class="(data.item.trainer_state === 'accepted') ? 'text-success' : 'text-warning'" class="text-capitalize">
                  <i class="fas fa-check-circle" /> {{ data.item.trainer_state }}
                </span>
                <br>
                {{ $t('form.client_state') }}
                <span class="text-warning text-capitalize">
                  <i class="fas fa-spinner" /> {{ data.item.client_state.split('_').join(' ') }}
                </span>
              </b-tooltip>
            </div>
          </template>
        </b-table>
      </div>
    </section>
  </div>
</template>

<script>
import { Internationalization } from '@syncfusion/ej2-base'
import { Agenda } from '@syncfusion/ej2-vue-schedule'
import contentTemplate from '~/components/calendar/ContentTemplate.vue'
import headerTemplate from '~/components/calendar/HeaderTemplate.vue'
import footerTemplate from '~/components/calendar/FooterTemplate.vue'
import statusColors from '@/constants/datasource'
export default {
  provide: {
    schedule: [Agenda]
  },
  async asyncData ({ $axios, $helper }) {
    let mBookings = []
    await $axios.$get('/trainer/bookings', {
      params: {
        per_page: 100,
        page: 1,
        types: 'pending',
        sort_by: 'created_at',
        sort_direction: 'desc'
      }
    })
      .then((res) => {
        mBookings = res.bookings
      })
      .catch(() => { })
    let calendarData = []
    await $axios
      .get(`/trainer/calendar?start_date=${$helper.formatDateTime(new Date('2022-01-01'))}&end_date=${$helper.formatDateTime(new Date())}`)
      .then((res) => {
        calendarData = res.data.sessions.concat(res.data.live_classes)
        calendarData.forEach((e) => {
          e.subject = e.event_type === 'booking' ? e.booking.client.name : e.name
        })
      })
      .catch(() => {})
    return { mBookings, calendarData }
  },
  data () {
    return {
      intl: new Internationalization(),
      loading: false,
      isPushEnabled: false,
      pushButtonDisabled: true,
      statusColors,
      eventSettings: {
        dataSource: this.calendarData,
        fields: {
          id: 'Id',
          subject: { name: 'subject' },
          startTime: { name: 'start_time' },
          endTime: { name: 'end_time' }
        }
      },
      selectedDate: new Date(),
      datas: ['Agenda'],
      scheduleView: 'Agenda',
      quickInfoTemplates: {
        header (e) {
          return {
            template: headerTemplate
          }
        },
        content (e) {
          return {
            template: {
              extends: contentTemplate,
              propsData: {
                test: 'Hello World'
              }
            }
          }
        },
        footer (e) {
          return {
            template: footerTemplate
          }
        }
      },
      isBusy: false,
      booking: null,
      bookingFields: [
        {
          key: 'id',
          class: 'w-5 text-truncate',
          thClass: 'text-center align-middle',
          label: this.$t('form.no'),
          sortable: true
        },
        {
          key: 'client.name',
          class: 'w-25 text-truncate',
          thClass: 'text-center align-middle',
          label: this.$t('form.client'),
          sortable: true
        },
        {
          key: 'sessions',
          class: 'w-30 text-truncate',
          thClass: 'text-center align-middle',
          label: this.$t('form.sessions')
        },
        {
          key: 'invitations',
          class: 'w-30 text-truncate',
          thClass: 'text-center align-middle',
          label: this.$t('form.invitations')
        },
        {
          key: 'status',
          class: 'w-10 text-nowrap',
          thClass: 'text-center align-middle',
          label: this.$t('form.status'),
          sortable: true
        }
      ]
    }
  },
  mounted () {
    this.$preloader.show()

    this.registerServiceWorker()
    this.eventSettings.dataSource = this.calendarData
    const scheduleObj = this.$refs.scheduleObj.ej2Instances
    scheduleObj.eventSettings = this.eventSettings

    setTimeout(() => {
      this.$preloader.hide()
    }, 500)
  },
  methods: {
    registerServiceWorker () {
      if (!('serviceWorker' in navigator)) {
        // eslint-disable-next-line no-console
        console.log("Service workers aren't supported in this browser.")
        return
      }
      // Production
      this.initialiseServiceWorker()
    },
    getTimeRange (data) {
      const start = new Date(data.session_date)
      const end = new Date(data.session_date)
      end.setMinutes(end.getMinutes() + data.duration)
      return (
        this.intl.formatDate(start, {
          type: 'date',
          skeleton: 'medium'
        }) +
        ' (' +
        this.intl.formatDate(start, { skeleton: 'hm' }) +
        ' - ' +
        this.intl.formatDate(end, { skeleton: 'hm' }) +
        ')'
      )
    },
    onBookingRowSelected (items) {
      if (items !== null && Array.isArray(items) && items.length === 1) {
        this.booking = items[0]
      } else {
        this.booking = null
      }
    },
    onBookingRowDblClicked (item, index, event) {
      this.$router.push(`/bookings/${item.id}`)
    },
    showBookingDetails (id) {
      this.$router.push(`/bookings/${id}`)
    },
    initialiseServiceWorker () {
      if (!('showNotification' in ServiceWorkerRegistration.prototype)) {
        // eslint-disable-next-line no-console
        console.log("Notifications aren't supported.")
        return
      }

      if (Notification.permission === 'denied') {
        // eslint-disable-next-line no-console
        console.log('The user has blocked notifications.')
        return
      }

      if (!('PushManager' in window)) {
        // eslint-disable-next-line no-console
        console.log("Push messaging isn't supported.")
        return
      }

      // // Listen to messages
      // navigator.serviceWorker.onmessage = (event) => {
      //   if (event.data && event.data.type === "MSG_ID") {
      //     // Process response
      //     console.log("Service worker sent message through client api");
      //     var myCustomEvent = new Event("noti-update");
      //     document.dispatchEvent(myCustomEvent);
      //   }
      // };

      navigator.serviceWorker.ready.then((registration) => {
        registration.pushManager
          .getSubscription()
          .then((subscription) => {
            this.pushButtonDisabled = false
            if (!subscription) {
              this.subscribe()
              return
            }

            this.updateSubscription(subscription)

            this.isPushEnabled = true
          })
          .catch((e) => {
            // eslint-disable-next-line no-console
            console.log('Error during getSubscription()', e)
          })

        registration.active.postMessage('Hi service worker')
      })
    },

    subscribe () {
      navigator.serviceWorker.ready.then((registration) => {
        const options = { userVisibleOnly: true }
        const vapidPublicKey = this.$config.vapidPublicKey

        if (vapidPublicKey) {
          options.applicationServerKey =
            this.urlBase64ToUint8Array(vapidPublicKey)
        }

        registration.pushManager
          .subscribe(options)
          .then((subscription) => {
            this.isPushEnabled = true
            this.pushButtonDisabled = false

            this.updateSubscription(subscription)

            // eslint-disable-next-line no-console
            console.log('Enabled push notification!')
          })
          .catch((e) => {
            if (Notification.permission === 'denied') {
              // eslint-disable-next-line no-console
              console.log('Permission for Notifications was denied')
              this.pushButtonDisabled = true
            } else {
              // eslint-disable-next-line no-console
              console.log('Unable to subscribe to push.', e)
              this.pushButtonDisabled = false
            }
          })
      })
    },

    unsubscribe () {
      navigator.serviceWorker.ready.then((registration) => {
        registration.pushManager
          .getSubscription()
          .then((subscription) => {
            if (!subscription) {
              this.isPushEnabled = false
              this.pushButtonDisabled = false
              return
            }

            subscription
              .unsubscribe()
              .then(() => {
                this.deleteSubscription(subscription)

                this.isPushEnabled = false
                this.pushButtonDisabled = false
              })
              .catch((e) => {
                // eslint-disable-next-line no-console
                console.log('Unsubscription error: ', e)
                this.pushButtonDisabled = false
              })
          })
          .catch((e) => {
            // eslint-disable-next-line no-console
            console.log('Error thrown while unsubscribing.', e)
          })
      })
    },

    togglePush () {
      if (this.isPushEnabled) {
        this.unsubscribe()
      } else {
        this.subscribe()
      }
    },

    updateSubscription (subscription) {
      const key = subscription.getKey('p256dh')
      const token = subscription.getKey('auth')
      const contentEncoding = (PushManager.supportedContentEncodings || [
        'aesgcm'
      ])[0]

      const data = {
        endpoint: subscription.endpoint,
        publicKey: key
          ? btoa(String.fromCharCode.apply(null, new Uint8Array(key)))
          : null,
        authToken: token
          ? btoa(String.fromCharCode.apply(null, new Uint8Array(token)))
          : null,
        contentEncoding
      }

      this.loading = true

      this.$axios.post('/trainer/subscribe', data).then(() => {
        this.loading = false
      }).catch(() => {})
    },

    deleteSubscription (subscription) {
      this.loading = true

      this.$axios
        .post('/trainer/unsubscribe', { endpoint: subscription.endpoint })
        .then(() => {
          this.loading = false
        })
    },

    sendNotification () {
      this.loading = true

      this.$axios
        .post('/trainer/notifications')
        .catch(() => {})
        .then(() => {
          this.loading = false
        })
    },

    urlBase64ToUint8Array (base64String) {
      const padding = '='.repeat((4 - (base64String.length % 4)) % 4)
      const base64 = (base64String + padding).replace(/-/g, '+').replace(/_/g, '/')
      const rawData = window.atob(base64)
      const outputArray = new Uint8Array(rawData.length)

      for (let i = 0; i < rawData.length; ++i) {
        outputArray[i] = rawData.charCodeAt(i)
      }

      return outputArray
    }
  }
}
</script>
