<template>
  <div class="login-box">
    <vue-snotify />
    <b-card no-body class="card-outline card-primary">
      <b-card-header class="text-center h1">
        <b>KMax</b>
      </b-card-header>
      <b-card-body>
        <p class="login-box-msg">
          Sign in to start your session.
        </p>
        <b-form @submit.prevent="login">
          <b-input-group class="mb-3">
            <b-form-input
              v-model="$v.form.login.email.$model"
              type="email"
              name="email"
              :state="form.submitted ? !$v.form.login.email.$error : null"
              :disabled="form.processing"
              autocomplete="off"
            />
            <b-input-group-append>
              <b-input-group-text>
                <i class="fas fa-envelope" />
              </b-input-group-text>
            </b-input-group-append>
          </b-input-group>
          <b-input-group class="mb-3">
            <b-form-input
              v-model="$v.form.login.password.$model"
              :state="form.submitted ? !$v.form.login.password.$error : null"
              :disabled="form.processing"
              type="password"
              name="password"
            />
            <b-input-group-append>
              <b-input-group-text>
                <i class="fas fa-lock" />
              </b-input-group-text>
            </b-input-group-append>
          </b-input-group>
          <div class="d-flex justify-content-end mb-3">
            <b-button variant="primary" type="submit" class="pl-5 pr-5" :disabled="form.processing">
              Sign In
            </b-button>
          </div>
        </b-form>
        <div class="d-flex justify-content-between mb-3">
          <nuxt-link to="/">
            Forgot Password?
          </nuxt-link>
        </div>
      </b-card-body>
    </b-card>
  </div>
</template>

<script>
const { required, email } = require('vuelidate/lib/validators')
export default {
  layout: 'blank',
  data () {
    return {
      form: {
        submitted: false,
        processing: false,
        login: {
          email: '',
          password: '',
          recaptcha: ''
        }
      }
    }
  },
  validations: {
    form: {
      login: {
        email: {
          required,
          email
        },
        password: {
          required
        }
      }
    }
  },
  head () {
    return {
      bodyAttrs: {
        class: ['login-page', this.mode]
      }
    }
  },
  computed: {
    mode () {
      return this.$store.state.theme.mode
    }
  },
  mounted () {
    try {
      this.$recaptcha.init()
    } catch (e) {
      this.$snotify.error('Recaptcha cannot be initialized.')
    }
  },
  beforeDestroy () {
    try {
      this.$recaptcha.destroy()
      document.querySelectorAll('div.grecaptcha-badge').forEach((a) => {
        a.parentElement.remove()
      })
    } catch (e) {}
  },
  methods: {
    async login () {
      this.form.submitted = true
      this.$v.form.login.$touch()
      if (!this.$v.form.login.$anyError) {
        this.form.processing = true
        this.form.login.recaptcha = await this.$recaptcha.execute('login').catch(() => {})
        await this.$auth
          .loginWith('local', { data: this.form.login })
          .then(() => {
            this.$router.push('/')
          })
          .catch(() => {})
        this.form.processing = false
      }
    }
  }
}
</script>

<style>
</style>
