<template>
  <!-- eslint-disable-next-line vue/no-v-html -->
  <div v-html="text" />
</template>

<script>
export default {
  layout: 'blank',
  data () {
    return {
      text: ''
    }
  },
  beforeMount () {
    this.text = this.$store.state.print.text
  },
  mounted () {
    setTimeout(() => {
      window.print()
    }, 500)
  }
}
</script>

<style>

</style>
