<template>
  <div class="content-wrapper">
    <breadcrumb :header="$t('menu.live_classes')" :items="[{ text: 'Home', to: '/' }, { text: $t('menu.live_classes') }]" />
    <section class="content">
      <div class="container-fluid">
        <b-carousel
          v-if="true"
          id="carouselLiveClasses"
          v-model="slide"
          :interval="4000"
          controls
          indicators
          background="#ababab"
          img-width="800"
          img-height="300"
          style="text-shadow: 1px 1px 2px #333;"
        >
          <b-carousel-slide
            v-for="(live_class, i) in mLiveClasses"
            :key="i"
            :img-blank="live_class.photo ? false : true"
          >
            <template #img>
              <vac v-if="live_class.status === 'active' || live_class.status === 'live'" :start-time="new Date(live_class.start_time).getTime() - 86399000" :end-time="live_class.start_time">
                <template
                  #process="{ timeObj }"
                >
                  <span class="text-white time-left text-shadow">
                    <h6 class="responsive-typo">{{ `${timeObj.h}:${timeObj.m}:${timeObj.s}` }}</h6>
                  </span>
                </template>
                <template
                  #finish
                >
                  <span v-if="new Date(live_class.end_time) > new Date()" class="bg-danger responsive-typo live time-left rounded px-1">
                    <i class="fa fa-circle responsive-typo d-inline" /><h6 class="d-inline responsive-typo"> Live</h6>
                  </span>
                  <span v-else class="text-white time-left text-shadow"><h6 class="responsive-typo">Finished</h6></span>
                </template>
              </vac>
              <b-img
                block
                fluid-grow
                width="800"
                height="300"
                :src="live_class.photo"
                :class="{ 'img-blank': live_class.photo ? false : true }"
                :blank="live_class.photo ? false : true"
                blank-color="#777"
                style="max-height:50vh;object-fit:cover;"
              />
            </template>
            <div class="text-left">
              <h3 class="responsive-typo">
                <b-link :to="`/live-classes/${live_class.id}`">
                  {{ live_class.name }}
                </b-link>
              </h3>
              <!-- <p>{{ live_class.description }}</p> -->
              <p class="m-0 text-shadow responsive-typo">
                <em>{{ $helper.reduceToString(live_class.training_types, 'name') }}</em>
              </p>
              <p class="m-0 text-shadow responsive-typo">
                {{ intl.formatDate(typeof live_class.start_time === 'string' ? new Date(live_class.start_time) : live_class.start_time, {
                  type: 'date',
                  skeleton: 'full'
                }) }} <br>
                {{ intl.formatDate(typeof live_class.start_time === 'string' ? new Date(live_class.start_time) : live_class.start_time, { skeleton: 'hm' }) + (live_class.duration % 60 === 0 ? ' - ' + (live_class.duration / 60) + ' Hr' : ' - ' + (live_class.duration % 60) + ' Min') }}
              </p>
            </div>
            <!-- <div class="text-right">
              <b-button>Book</b-button>
            </div> -->
          </b-carousel-slide>
        </b-carousel>

        <div>
          <b-card class="mt-2 card-primary card-outline">
            <div class="card-header pl-0 pr-0">
              <h3 class="card-title">
                {{ $t('menu.my_classes') }}
              </h3>
              <div class="card-tools mr-0">
                <div class="input-group input-group-sm">
                  <b-form-input v-model="filter" type="search" size="sm" placeholder="Search" debounce="750" />
                </div>
              </div>
              <!-- /.card-tools -->
            </div>
            <div v-for="(live_class, i) in mMyClasses" :key="i" class="list-group-item">
              <b-row>
                <b-col sm="6">
                  <vac v-if="live_class.status === 'active' || live_class.status === 'live'" :start-time="new Date(live_class.start_time).getTime() - 86399000" :end-time="live_class.start_time">
                    <template
                      #process="{ timeObj }"
                    >
                      <span class="text-white time-left text-shadow">{{ `${timeObj.h}:${timeObj.m}:${timeObj.s}` }}</span>
                    </template>
                    <template
                      #finish
                    >
                      <span v-if="new Date(live_class.end_time) > new Date()" class="bg-danger live time-left rounded px-1">
                        <i class="fa fa-circle" /> Live
                      </span>
                      <span v-else class="text-white time-left text-shadow">Finished</span>
                    </template>
                  </vac>
                  <b-img
                    :src="live_class.photo"
                    :class="live_class.photo ? 'img-fluid' : 'img-blank'"
                    :blank="live_class.photo ? false : true"
                    blank-color="#777"
                    alt="Photo"
                  />
                </b-col>
                <b-col>
                  <h5 class="mt-1 mt-sm-0">
                    <b-link :to="`/live-classes/${live_class.id}`">
                      {{ live_class.name }}
                    </b-link>
                    <span class="badge badge-secondary">{{ live_class.participants_count + '/' + live_class.capacity }}</span>
                  </h5>
                  <em>{{ $helper.reduceToString(live_class.training_types, 'name') }}</em>
                  <p class="text-muted">
                    {{ intl.formatDate(typeof live_class.start_time === 'string' ? new Date(live_class.start_time) : live_class.start_time, {
                      type: 'date',
                      skeleton: 'full'
                    }) }} <br>
                    {{ intl.formatDate(typeof live_class.start_time === 'string' ? new Date(live_class.start_time) : live_class.start_time, { skeleton: 'hm' }) + (live_class.duration % 60 === 0 ? ' - ' + (live_class.duration / 60) + ' Hr' : ' - ' + (live_class.duration % 60) + ' Min') }}
                  </p>
                  <p>
                    <span v-if="live_class.status.toLowerCase() === 'draft'" class="text-warning text-capitalize">
                      <i class="fas fa-exclamation-circle" /> {{ live_class.status }}
                    </span>
                    <span v-else-if="['cancelled'].includes(live_class.status.toLowerCase())" class="text-danger text-capitalize">
                      <i class="fas fa-stop-circle" /> {{ live_class.status }}
                    </span>
                    <span v-else :class="['active','live','finished'].includes(live_class.status.toLowerCase()) ? 'text-success' : 'text-warning'" class="text-capitalize">
                      <i class="fas fa-check-circle" /> {{ live_class.status }}
                    </span>
                  </p>
                </b-col>
              </b-row>
            </div>
            <!-- <b-table
              v-if="true"
              id="live_classes-table"
              :items="mMyClasses"
              :fields="myClassFields"
              :outlined="true"
              :per-page="perpage"
              :sort-by.sync="sortBy"
              :sort-desc.sync="isDesc"
              :sort-direction.sync="sortDirection"
              :no-local-sorting="true"
              :busy="isBusy"
              responsive
              show-empty
              selectable
              select-mode="single"
              @row-selected="onLiveClassRowSelected"
              @row-dblclicked="onLiveClassRowDblClicked"
              @sort-changed="sortChanged"
            >
              <template #table-busy>
                <div class="text-center my-2">
                  <b-spinner class="align-middle" />
                  <strong>Loading...</strong>
                </div>
              </template>
              <template #cell(name)="data">
                <span class="mb-0 text-primary hov-pointer" @click="showLiveClassDetails(data.item.id)">
                  {{ data.item.name }}
                </span>
              </template>
              <template #cell(status)="data">
                <span v-if="data.item.status.toLowerCase() === 'draft'" class="text-warning">
                  <i class="fas fa-exclamation-circle" /> {{ data.item.status.charAt(0).toUpperCase() + data.item.status.slice(1) }}
                </span>
                <span v-else-if="data.item.status.toLowerCase() === 'disposed' || data.item.status.toLowerCase() === 'sold'" class="text-danger">
                  <i class="fas fa-stop-circle" /> {{ data.item.status.charAt(0).toUpperCase() + data.item.status.slice(1) }}
                </span>
                <span v-else-if="data.item.status.toLowerCase() === 'repairing'" class="text-warning">
                  <i class="fas fa-pause-circle" /> {{ data.item.status.charAt(0).toUpperCase() + data.item.status.slice(1) }}
                </span>
                <span v-else :class="data.item.status === 'active' ? 'text-success' : 'text-warning'">
                  <i class="fas fa-check-circle" /> {{ data.item.status.charAt(0).toUpperCase() + data.item.status.slice(1) }}
                </span>
              </template>
            </b-table> -->
            <b-row class="mt-1">
              <b-col sm="5" />
              <b-col sm="7">
                <div class="float-sm-right">
                  <b-pagination v-model="currentpage" :per-page="perpage" :total-rows="totalrows" aria-controls="live_classes-table" />
                </div>
              </b-col>
            </b-row>
          </b-card>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { Internationalization } from '@syncfusion/ej2-base'
export default {
  async asyncData ({ $axios, store }) {
    let mLiveClasses = []
    let mMyClasses = []
    let totalrows = 0
    await $axios.$get('/trainer/liveclasses')
      .then((res) => {
        mLiveClasses = res.live_classes
      })
      .catch(() => { })
    await $axios.$get('/trainer/myclasses')
      .then((res) => {
        mMyClasses = res.my_classes
        totalrows = res.total_rows
      })
      .catch(() => { })
    return { mLiveClasses, mMyClasses, totalrows }
  },
  data () {
    return {
      intl: new Internationalization(),
      slide: 0,
      clickCount: 0,
      totalWidth: 0,
      carouselHover: false,
      timer: null,
      counter: 0,
      perpage: 3,
      currentpage: 1,
      filter: '',
      sortBy: 'live_class_date',
      sortDirection: 'desc',
      isDesc: true,
      isBusy: false,
      myClassFields: [
        {
          key: 'name',
          class: 'w-25 text-truncate',
          sortable: true,
          label: this.$t('form.name')
        },
        {
          key: 'live_class_date',
          class: 'w-15 text-truncate',
          sortable: true,
          label: this.$t('form.date'),
          formatter: (value, key, item) => {
            return this.intl.formatDate(new Date(value), { type: 'dateTime', skeleton: 'short' })
          }
        },
        {
          key: 'duration',
          class: 'text-right text-truncate w-15',
          sortable: true,
          label: this.$t('form.duration')
        },
        {
          key: 'status',
          class: 'w-15 text-nowrap',
          sortable: true,
          label: this.$t('form.status')
        },
        {
          key: 'description',
          class: 'w-30 text-truncate',
          sortable: false,
          label: this.$t('form.description')
        }
      ]
    }
  },
  watch: {
    perpage () {
      this.drawMyClasses()
    },
    currentpage () {
      this.drawMyClasses()
    },
    filter () {
      this.drawMyClasses()
    }
  },
  mounted () {
    // this.$preloader.show()
    // setTimeout(() => {
    //   this.$preloader.hide()
    // }, 500)
  },
  beforeDestroy () {
    clearInterval(this.timer)
  },
  methods: {
    async drawMyClasses () {
      this.isBusy = true
      await this.$axios.$get('/trainer/myclasses', {
        params: {
          per_page: this.perpage,
          page: this.currentpage,
          filter: this.filter,
          sort_by: this.sortBy,
          sort_direction: this.sortDirection
        }
      })
        .then((res) => {
          this.mMyClasses = res.my_classes
          this.totalrows = res.total_rows
        }).then(() => {
          this.isBusy = false
        })
        .catch(() => {
          this.isBusy = false
        })
    },
    onLiveClassRowSelected (items) {
      if (items !== null && Array.isArray(items) && items.length === 1) {
        this.live_class = items[0]
      } else {
        this.live_class = null
      }
    },
    onLiveClassRowDblClicked (item, index, event) {
      this.$router.push(`/live-classes/${item.id}`)
    },
    showLiveClassDetails (id) {
      this.$router.push(`/live-classes/${id}`)
    },
    sortChanged (ctx) {
      if (this.sortBy !== ctx.sortBy) {
        this.isDesc = false
        this.sortDirection = 'asc'
      } else {
        this.sortDirection = ctx.sortDesc ? 'desc' : 'asc'
      }
      this.sortBy = ctx.sortBy

      this.drawMyClasses()
    }
  }
}

</script>

<style scoped>
.time-left {margin-top: 1%;margin-left: 5%;position: absolute;font-size: clamp(12px, 1.1vw, 28px);}
.img-blank {min-height: clamp(200px, 18vw, 500px);width: 100%;}
.text-shadow {text-shadow: 0px 0px 10px black, 0px 0px 3px black;}

/* .flex { display: -webkit-flex; display: flex; -webkit-flex-direction: row;  flex-direction: row; -webkit-justify-content: flex-start; justify-content: flex-start;}

.slider-wrapper div {position: relative;}
.slider-wrapper {margin-top: 3%;  margin-left: 8%; margin-bottom: 3%;}
.nav_wrapper {margin-left: 55%;margin-top: 18%;position: absolute;z-index: 1;height: auto;}
.slide-image {height: 18vw; overflow-y: hidden;}
.slide-image img {width: 27vw; cursor: pointer;}
.img-blank {height: 18vw;}
.slide-content {width: 30vw; padding:3% 15% 3% 6%; color: #fff;}
.slide-date {color: #0a8acb; font-size: 1.1vw; font-weight: 400; letter-spacing: 0.1vw; padding-bottom: 1.4vw;}
.slide-title {font-size: clamp(12px, 1.2vw, 28px); font-weight: 400; letter-spacing: 0.1vw; line-height: 1.55vw; padding-bottom: 0.1vw;}
.slide-text {font-size: clamp(8px, 0.8vw, 24px); line-height: 1.2vw; opacity: 0.8; margin-bottom: 2vw; max-height: 3.6vw; text-overflow: ellipsis;overflow: hidden;}
.slide-trainers {font-size: 0.90vw; line-height: 1.2vw; opacity: 0.9; padding-bottom: 1.8vw;}
.slide-more {font-weight: 400; letter-spacing: 0.1vw; float: left; font-size: 0.9vw;}
.slide-bullet {width: 0.5vw; height: 0.5vw; background-color: #0b8bcc; border-radius: 200%; position: relative; margin-left: 1.2vw;}
.slide-nav {margin-left: 64vw; margin-top: -5.5vw;}

div.overlay-blue {width: 100%; height: 100%; position: absolute; top: 0; transition: 0.5s ease all;}
div.overlay-blue:hover {background-color: rgba(13, 27, 43, 0.5);}

.arrows{width: 3.5vw; margin-top: -5.8vw; margin-left: 72vw; position: relative;z-index: 99;}
.arrow {display: inline-block; position: absolute; width: 1.2vw; height: 1.2vw; background: transparent; text-indent: -9999px; border-top: 0.15vw solid #fff; border-left: 0.15vw solid #fff; transition: all .1s ease-in-out; text-decoration: none; color: transparent;
}
.arrow:hover {border-color: #0A8ACB; border-width: 0.25vw;
}
.arrow:before {display: block; height: 200%; width: 200%; margin-left: -50%; margin-top: -50%; content: ""; transform: rotate(45deg);}
.arrow.prev {transform: rotate(-45deg); left: 0;}
.arrow.next {transform: rotate(135deg); right: 0;}

.slider-wrapper .time-left {margin-top: 1%;margin-left: 5%;position: absolute;font-size: 1.1vw;z-index: 2;} */
</style>
