<template>
  <div class="content-wrapper">
    <breadcrumb :header="$t('menu.calendar')" :items="[{ text: 'Home', to: '/' }, { text: $t('menu.calendar') }]" />
    <section class="content">
      <div class="container-fluid">
        <b-row class="card-body bg-primary p-1" style="margin-left: 1px; margin-right: 1px;">
          <b-col />
          <b-col class="text-right">
            <div class="btn btn-primary" @click="printSchedule">
              <i class="fa fa-print mr-1" />{{ $t('form.print') }}
            </div>
            <b-dropdown id="dropdown-dropup" variant="primary">
              <template #button-content>
                <i class="fa fa-file-export mr-1" />{{ $t('form.export') }}
              </template>
              <b-dropdown-item @click="exportICalendar">
                iCalendar
              </b-dropdown-item>
              <b-dropdown-item @click="exportExcel">
                Excel
              </b-dropdown-item>
            </b-dropdown>
          </b-col>
        </b-row>
        <div>
          <ejs-schedule
            id="Schedule"
            ref="scheduleObj"
            :height="height"
            :width="width"
            :current-view="currentView"
            :work-hours="workHours"
            work-days="[0,1,2,3,4,5,6]"
            :start-hour="workHours.start"
            :end-hour="workHours.end"
            :event-settings="eventSettings"
            :row-auto-height="rowAutoHeight"
            :time-scale="timeScale"
            :show-time-indicator="showTimeIndicator"
            :quick-info-templates="quickInfoTemplates"
            :popup-open="onPopupOpen"
            :action-complete="onActionComplete"
            :action-failure="onActionFailure"
            :event-rendered="onEventRendered"
            :created="onCreated"
          >
            <e-views>
              <e-view option="Day" />
              <e-view option="Week" />
              <e-view option="Month" />
              <e-view option="Agenda" />
            </e-views>
            <e-resources>
              <e-resource
                field="status"
                title="Status"
                name="Statuses"
                text-field="color"
                id-field="status"
                color-field="color"
                :data-source="statusColors"
              />
            </e-resources>
          </ejs-schedule>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { Day, Week, Month, Agenda, ExcelExport, Print, ICalendarExport } from '@syncfusion/ej2-vue-schedule'
import contentTemplate from '~/components/calendar/ContentTemplate.vue'
import headerTemplate from '~/components/calendar/HeaderTemplate.vue'
import footerTemplate from '~/components/calendar/FooterTemplate.vue'
import statusColors from '@/constants/datasource'
export default {
  provide: {
    schedule: [Day, Week, Month, Agenda, ExcelExport, Print, ICalendarExport]
  },
  data () {
    const screenWidth = window.innerWidth
    const breakpoint = 576 // 576
    const currentView = screenWidth < breakpoint ? 'Day' : 'Week'
    return {
      test: 'test',
	  mSettings: null,
      screenWidth,
      breakpoint,
      height: 'auto',
      width: 'auto',
      rowAutoHeight: true,
      showTimeIndicator: true,
      currentView,
      lastBookingBeforeSession: 60,
      calendarData: null,
      statusColors,
      eventSettings: {
        dataSource: this.calendarData,
        allowAdding: false,
        allowEditing: false,
        allowDeleting: false,
        fields: {
          id: 'Id',
          subject: { name: 'subject' },
          startTime: { name: 'start_time' },
          endTime: { name: 'end_time' }
        }
      },
      workHours: {
        highlight: true,
        start: '06:30',
        end: '20:30'
      },
      timeScale: {
        enable: true,
        interval: 60,
        slotCount: 2
      },
      quickInfoTemplates: {
        header (e) {
          return {
            template: headerTemplate
          }
        },
        content (e) {
          return {
            template: {
              extends: contentTemplate,
              propsData: {
                test: 'Hello World'
              }
            }
          }
        },
        footer (e) {
          return {
            template: footerTemplate
          }
        }
      }
    }
  },
  mounted () {
    // this.$preloader.show()
    // setTimeout(() => {
    //   this.$preloader.hide()
    // }, 500)
  },
  methods: {
    async getData (startDate, endDate) {
      // this.$preloader.show()
      await this.$axios
        .get(`/trainer/calendar?start_date=${startDate}&end_date=${endDate}`)
        .then((res) => {
          this.calendarData = res.data.sessions.concat(res.data.live_classes)
          this.calendarData.forEach((e) => {
            e.subject = e.event_type === 'booking' ? e.booking.client.name : e.name
          })
          this.eventSettings.dataSource = this.calendarData
          const scheduleObj = this.$refs.scheduleObj.ej2Instances
          scheduleObj.eventSettings = this.eventSettings
        })
        .then(() => {
		  this.lastBookingBeforeSession = this.$helper.timeStringToMinutes(this.mSettings.last_booking_before_session)
          this.workHours.start = this.mSettings.booking_start
          this.workHours.end = this.mSettings.booking_end
          // this.$preloader.hide()
        })
        .catch(() => {})
    },
    printSchedule () {
      const scheduleObj = this.$refs.scheduleObj.ej2Instances
      scheduleObj.print()
    },
    exportICalendar () {
      const scheduleObj = this.$refs.scheduleObj.ej2Instances
      scheduleObj.exportToICalendar()
    },
    exportExcel () {
      const scheduleObj = this.$refs.scheduleObj.ej2Instances
      scheduleObj.exportToExcel()
      // let exportDatas = []
      // const eventCollection = scheduleObj.getEvents()
      // const resourceCollection = scheduleObj.getResourceCollections()
      // const resourceData = resourceCollection[0].dataSource
      // for (let i = 0; i < resourceData.length; i++) {
      //   const resource = resourceData[i]
      //   const data = eventCollection.filter(function (e) { return e.CalendarId === resource.CalendarId })
      //   exportDatas = exportDatas.concat(data)
      // }
      // scheduleObj.exportToExcel({
      //   exportType: 'xlsx',
      //   customData: exportDatas,
      //   fields: ['Id', 'Subject', 'StartTime', 'EndTime', 'CalendarId']
      // })
    },
    onPopupOpen (args) {
      if (args.type === 'QuickInfo' && !args.data.id) {
        let current = new Date()
        const minDate = new Date(args.data.startTime)
        if (args.data.isAllDay === false) {
          minDate.setMinutes(minDate.getMinutes() - this.lastBookingBeforeSession)
          if (current > minDate) {
            args.cancel = true
          }
        } else {
          current = new Date(current.getFullYear(), current.getMonth(), current.getDate())
          if (current > minDate) {
            args.cancel = true
          }
        }
      }
    },
    onActionComplete (args) {
      if (args.requestType === 'created' || args.requestType === 'dateNavigate' || args.requestType === 'viewNavigate') {
        const currentViewDates = this.$refs.scheduleObj.getCurrentViewDates()
        const startDate = currentViewDates[0]
        const endDate = currentViewDates[currentViewDates.length - 1]
        this.getData(this.$helper.formatDateTime(startDate), this.$helper.formatDateTime(endDate))
      }
    },
    onActionFailure (args) {
      // console.log(args)
      const span = document.createElement('span')
      const scheduleObj = this.$refs.scheduleObj.ej2Instances
      scheduleObj.element.parentNode.insertBefore(span, scheduleObj.element)
      span.style.color = '#FF0000'
      span.innerHTML = args.error
    },
    onEventRendered (args) {
      if (!args.element) {
        // return
      }
      // const statusColor = this.statusColorDataSource.filter(resource => resource.status === args.data.status)[0]
      // if (this.currentView === 'Agenda') {
      //   args.element.firstChild.style.borderLeftColor = statusColor.color
      // } else {
      //   args.element.style.backgroundColor = statusColor.color
      // }
    },
    onCreated (args) {
      const curr = new Date()
      if (this.currentView.toLowerCase() === 'day') {
        this.getData(this.$helper.formatDateTime(curr), this.$helper.formatDateTime(curr))
      } else if (this.currentView.toLowerCase() === 'week') {
        const first = curr.getDate() - curr.getDay() // First day is the day of the month - the day of the week
        const last = first + 6 // last day is the first day + 6

        const firstday = new Date(curr.setDate(first))
        const lastday = new Date(curr.setDate(last))
        this.getData(this.$helper.formatDateTime(firstday), this.$helper.formatDateTime(lastday))
      } else if (this.currentView.toLowerCase() === 'month') {
        const firstday = new Date(curr.getFullYear(), curr.getMonth(), 1)
        const lastday = new Date(curr.getFullYear(), curr.getMonth() + 1, 0)
        this.getData(this.$helper.formatDateTime(firstday), this.$helper.formatDateTime(lastday))
      } else if (this.currentView.toLowerCase() === 'agenda') {
        const lastday = new Date(curr.setDate(curr.getDate() + 6))
        this.getData(this.$helper.formatDateTime(new Date()), this.$helper.formatDateTime(lastday))
      }
    }
  }
}
</script>

<style>
/* prevent flicker when theme change BUT will stay white when dark mode on and new tab opened */
/* @import '~/node_modules/@syncfusion/ej2-base/styles/bootstrap.css';
@import '~/node_modules/@syncfusion/ej2-buttons/styles/bootstrap.css';
@import '~/node_modules/@syncfusion/ej2-calendars/styles/bootstrap.css';
@import '~/node_modules/@syncfusion/ej2-dropdowns/styles/bootstrap.css';
@import '~/node_modules/@syncfusion/ej2-inputs/styles/bootstrap.css';
@import '~/node_modules/@syncfusion/ej2-navigations/styles/bootstrap.css';
@import '~/node_modules/@syncfusion/ej2-popups/styles/bootstrap.css';
@import '~/node_modules/@syncfusion/ej2-vue-schedule/styles/bootstrap.css'; */

/* to correct color when theme change */
.e-appointment {
  color: #fff !important;
}

/* to correct font-family when theme change */
.e-schedule {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif, "-apple-system", "BlinkMacSystemFont" !important;
}

.e-quick-popup-wrapper {
    box-shadow: 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%), 0 11px 15px -7px rgb(0 0 0 / 20%) !important;
}

.ej2-icon{
    font-size: 15px;
    margin-right: 13px;
}
</style>
