<template>
  <div class="content-wrapper">
    <breadcrumb :header="$t('menu.settings')" :items="[{ text: 'Home', to: '/' }, { text: $t('menu.settings') }]" />
    <section class="content">
      <div class="container-fluid">
        <b-row>
          <b-col sm="4" class="mt-3">
            <b-card no-body class="card-primary card-outline">
              <b-form-group class="mb-0">
                <div class="avatar-upload">
                  <div class="avatar-edit">
                    <b-form-file
                      id="avatar-input"
                      v-model="avatar"
                      plain
                      type="file"
                      accept="image/*"
                      :disabled="processing"
                    />
                    <label id="avatar-input-label" :class="['fas fa-pencil-alt', form.data.avatar ? 'd-none' : 'd-block']" for="avatar-input" />
                    <label
                      id="avatar-remove-label"
                      :class="['fas fa-times avatar-remove', form.data.avatar ? 'd-block' : 'd-none']"
                      @click="form.data.avatar = null"
                    />
                  </div>
                  <div class="avatar-preview">
                    <div
                      id="avatarPreview"
                      :style="form.data.avatar ? `background-image: url('${form.data.avatar}')` : `background-image: url('${$auth.user.avatar}')`"
                    />
                  </div>
                  <div class="text-center mt-3">
                    <label>{{ $t('form.profile_photo') }}</label> (256 x 256)
                  </div>
                </div>
              </b-form-group>
              <b-form-group>
                <div style="max-width:400px;margin:1rem auto;">
                  <div class="photo-upload">
                    <div class="photo-edit">
                      <b-form-file
                        id="photo-input"
                        v-model="photo"
                        plain
                        type="file"
                        accept="image/*"
                        :disabled="processing"
                      />
                      <label id="photo-input-label" :class="['fas fa-pencil-alt', form.data.photo ? 'd-none' : 'd-block']" for="photo-input" />
                      <label
                        id="photo-remove-label"
                        :class="['fas fa-times photo-remove', form.data.photo ? 'd-block' : 'd-none']"
                        @click="form.data.photo = null"
                      />
                    </div>
                    <div class="photo-preview">
                      <!-- <div
                        id="photoPreview"
                        style="background-origin: content-box;"
                        :style="form.data.photo ? `background-image: url('${form.data.photo}')` : `background-image: url('${$auth.user.photo}')`"
                      /> -->
                      <b-img
                        block
                        fluid-grow
                        :src="form.data.photo ? form.data.photo: $auth.user.photo"
                      />
                    </div>
                  </div>
                  <div class="text-center mt-3">
                    <label>{{ $t('form.full_body') }}</label> (400 x 600)
                  </div>
                  <div class="text-center">
                    Max File Size : 2MB
                  </div>
                </div>
              </b-form-group>
            </b-card>
          </b-col>
          <b-col sm="8" class="mt-3">
            <b-card no-body class="card-primary card-outline">
              <b-form class="av-tooltip tooltip-label-bottom" @submit.prevent="updateProfile">
                <b-tabs pills card>
                  <b-tab :title="$t('form.general')" active>
                    <b-form-fieldset :label="$t('form.account')">
                      <b-form-group :label="$t('form.display_name')" label-cols-sm="3">
                        <b-form-input
                          v-model.trim="$v.form.data.name.$model"
                          :state="submitted ? !$v.form.data.name.$error : null"
                          :disabled="processing"
                        />
                        <b-form-invalid-feedback
                          v-if="!$v.form.data.name.required"
                        >
                          {{ $t('form.validations.required', { 'name': $t('form.display_name')}) }}
                        </b-form-invalid-feedback>
                      </b-form-group>
                      <b-form-group :label="$t('form.email')" label-cols-sm="3">
                        <b-input-group>
                          <b-form-input :value="$auth.user.email" readonly autocomplete="off" />
                          <b-input-group-append>
                            <b-input-group-text>
                              <i class="fas fa-pencil-alt" @click="editEmail" />
                            </b-input-group-text>
                          </b-input-group-append>
                        </b-input-group>
                      </b-form-group>
                      <b-form-group :label="$t('form.password')" label-cols-sm="3">
                        <b-form-input
                          :id="dynamicID()"
                          v-model.trim="$v.form.data.password.$model"
                          type="password"
                          :state="submitted? !$v.form.data.password.$error : null"
                          :disabled="processing"
                          autocomplete="off"
                        />
                        <b-form-invalid-feedback
                          v-if="(!$v.form.data.password.minLength || !$v.form.data.password.maxLength)"
                        >
                          {{ $t('form.validations.betweenchars', { 'name': $t('form.password'), 'min': 6, 'max': 16 }) }}
                        </b-form-invalid-feedback>
                      </b-form-group>
                      <b-form-group :label="$t('form.password_confirmation')" label-cols-sm="3">
                        <b-form-input
                          :id="dynamicID()"
                          v-model.trim="$v.form.data.password_confirmation.$model"
                          type="password"
                          name="password_confirmation"
                          :state="submitted? !$v.form.data.password_confirmation.$error : null"
                          :disabled="processing"
                          autocomplete="off"
                        />
                        <b-form-invalid-feedback
                          v-if="!$v.form.data.password_confirmation.sameAsPassword"
                        >
                          {{ $t('form.validations.sameas', { 'name': $t('form.password_confirmation'), 'sameas': $t('form.password') }) }}
                        </b-form-invalid-feedback>
                      </b-form-group>
                      <b-form-group>
                        <b-form-checkbox v-model="form.data.logout_others" :value="true" :unchecked-value="false">
                          {{ $t('form.logout_others') }}
                        </b-form-checkbox>
                      </b-form-group>
                    </b-form-fieldset>

                    <b-form-fieldset :label="$t('form.my_infos')" class="mb-0">
                      <b-form-group :label="$t('form.gender')" label-cols-sm="3">
                        <b-form-select v-model="$v.form.data.gender.$model" :options="[{text: 'Male', value: 'male'}, {text: 'Female', value: 'female'}]" :state="submitted? !$v.form.data.gender.$error : null" :disabled="processing" />
                        <b-form-invalid-feedback
                          v-if="!$v.form.data.gender"
                        >
                          {{ $t('form.validations.required', { 'name': $t('form.gender') }) }}
                        </b-form-invalid-feedback>
                      </b-form-group>
                      <b-form-group :label="$t('form.dob')" label-cols-sm="3">
                        <datetimepicker
                          v-model="form.data.dob"
                          :disabled="processing"
                          :only-date="true"
                          :auto-close="true"
                        />
                      </b-form-group>
                      <b-form-group :label="$t('form.weight')" label-cols-sm="3">
                        <b-input-group>
                          <b-form-input
                            v-model="form.data.weight"
                            name="weight"
                            type="number"
                            step="1"
                            min="0"
                            :disabled="processing"
                          />
                          <b-input-group-append>
                            <b-input-group-text>
                              {{ mSettings.weight_unit }}
                            </b-input-group-text>
                          </b-input-group-append>
                        </b-input-group>
                      </b-form-group>
                      <b-form-group :label="$t('form.height')" label-cols-sm="3">
                        <b-input-group>
                          <b-form-input v-model="form.data.height" type="number" step="1" min="0" :disabled="processing" />
                          <b-input-group-append>
                            <b-input-group-text>
                              {{ mSettings.height_unit }}
                            </b-input-group-text>
                          </b-input-group-append>
                        </b-input-group>
                      </b-form-group>
                      <b-form-group :label="$t('form.mobile')" label-cols-sm="3">
                        <b-input-group>
                          <b-form-input
                            v-model="$v.form.data.phone.$model"
                            autocomplete="phone"
                            name="phone"
                            type="text"
                            placeholder="+"
                            :state="submitted? !$v.form.data.phone.$error : null"
                          />
                          <b-input-group-append>
                            <b-input-group-text>
                              <i class="fas fa-pencil-alt" @click="editEmail" />
                            </b-input-group-text>
                          </b-input-group-append>
                          <b-form-invalid-feedback
                            v-if="!$v.form.data.phone.mobileNo"
                          >
                            {{ $t('form.validations.invalidformat', { 'name': $t('form.mobile') }) }}
                          </b-form-invalid-feedback>
                        </b-input-group>
                      </b-form-group>
                      <b-form-group :label="$t('form.address')" label-cols-sm="3">
                        <b-form-group>
                          <b-form-input v-model="form.data.address" name="address" :placeholder="$t('form.street')" :disabled="processing" />
                        </b-form-group>
                      </b-form-group>
                    </b-form-fieldset>
                  </b-tab>
                  <b-tab :title="$t('form.profile')" class="p-2">
                    <client-only>
                      <quill-editor
                        ref="editor"
                        v-model="form.data.profile"
                        :options="editorOption"
                        @blur="onEditorBlur($event)"
                        @focus="onEditorFocus($event)"
                        @ready="onEditorReady($event)"
                      />
                    </client-only>
                  </b-tab>
                </b-tabs>
                <div class="d-flex justify-content-end" style="margin-right: 1.25rem;margin-bottom: 1.25rem;">
                  <spinner-button
                    type="submit"
                    varient="primary"
                    size="md"
                    label-class="pr-3 pl-3"
                    :disabled="processing"
                    :processing="processing"
                    :success="updateError === false"
                    :failed="updateError"
                  >
                    {{ $t('form.update') }}
                  </spinner-button>
                </div>
              </b-form>
            </b-card>
          </b-col>
        </b-row>
        <b-modal
          id="avatar-edit"
          size="lg"
          title="Crop Image"
          no-close-on-backdrop
          ok-title="Crop Image"
          @ok="cropAvatar"
          @shown="initCropper"
          @hidden="destroyCropper"
        >
          <div class="img-container">
            <img id="avatar-image" alt="Picture" class="align-middle">
          </div>
        </b-modal>
        <b-modal
          id="photo-edit"
          size="lg"
          title="Crop Image"
          no-close-on-backdrop
          ok-title="Crop Image"
          @ok="cropPhoto"
          @shown="initPhotoCropper"
          @hidden="destroyPhotoCropper"
        >
          <div class="img-container">
            <img id="photo-image" alt="Picture" class="align-middle">
          </div>
        </b-modal>
      </div>
    </section>
  </div>
</template>

<script>
import Cropper from 'cropperjs/src/index'
import 'cropperjs/dist/cropper.min.css'
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'

import { quillEditor } from 'vue-quill-editor'
const {
  required,
  maxLength,
  minLength,
  sameAs,
  helpers
} = require('vuelidate/lib/validators')
const mobileNo = helpers.regex('mobileNo', /(\+)[0-9]*$/)
export default {
  components: {
    quillEditor
  },
  async asyncData ({ $axios }) {
    let mUser = null
    let mSettings = null
    await $axios.$get('/trainer')
      .then((res) => {
        mUser = res.user
        mSettings = res.settings
      })
      .catch(() => { })
    return { mUser, mSettings }
  },
  data () {
    return {
      editorOption: {
        // Some Quill options...
        theme: 'snow'
        // modules: {
        //   toolbar: [
        //     ['bold', 'italic', 'underline', 'strike'],
        //     ['blockquote', 'code-block']
        //   ]
        // }
      },
      submitted: false,
      processing: false,
      updateError: null,
      avatar: null,
      photo: null,
      cropper: null,
      photoCropper: null,
      qrtitle: '',
      qrvalue: '',
      form: {
        data: {
          name: this.$auth.user.name,
          password: '',
          password_confirmation: '',
          logout_others: false,
          avatar: null,
          photo: null,
          gender: this.$auth.user.gender,
          weight: this.$auth.user.weight,
          height: this.$auth.user.height,
          dob: this.$auth.user.dob,
          phone: this.$auth.user.phone,
          address: this.$auth.user.address,
          profile: this.$auth.user.profile
        }
      }
    }
  },
  validations: {
    form: {
      data: {
        name: {
          required
        },
        password: {
          maxLength: maxLength(16),
          minLength: minLength(6)
        },
        password_confirmation: {
          sameAsPassword: sameAs('password')
        },
        phone: {
          mobileNo
        },
        gender: {
          required
        }
      }
    }
  },
  watch: {
    async avatar (file) {
      if (file !== null) {
        if (file.size / 1024 / 1024 > 2) {
          this.$snotify.warning(
            'Image file size must be less than 2MB.'
          )
          this.avatar = null
          return
        }

        const reader = new FileReader()
        reader.onload = (e) => {
          document.getElementById('avatar-image').src = e.target.result
        }
        await reader.readAsDataURL(file)
        this.$bvModal.show('avatar-edit')
      }
    },
    async photo (file) {
      if (file !== null) {
        if (file.size / 1024 / 1024 > 2) {
          this.$snotify.warning(
            'Image file size must be less than 2MB.'
          )
          this.photo = null
          return
        }

        const reader = new FileReader()
        reader.onload = (e) => {
          document.getElementById('photo-image').src = e.target.result
        }
        await reader.readAsDataURL(file)
        this.$bvModal.show('photo-edit')
      }
    },
    processing (val) {
      if (val) {
        this.$nuxt.$loading.start()
      } else {
        this.$nuxt.$loading.finish()
      }
    }
  },
  mounted () {
  },
  methods: {
    onEditorBlur (editor) {
    },
    onEditorFocus (editor) {
    },
    onEditorReady (editor) {
    },
    async updateProfile () {
      this.submitted = true
      this.$v.form.data.$touch()
      if (!this.$v.form.data.$anyError) {
        this.processing = true
        await this.$axios.$put('/trainer', { data: JSON.stringify(this.form.data) })
          .then((res) => {
            this.$auth.setUser(res.user)
            this.reset()
            this.updateError = false
            this.$snotify.success('Successfully updated profile.')
          })
          .catch(() => {
            this.processing = false
            this.updateError = true
          })
      }
    },
    editEmail () {
    },
    editPhone () {
    },
    initCropper () {
      const image = document.getElementById('avatar-image')
      this.cropper = new Cropper(image, {
        aspectRatio: 1,
        viewMode: 1,
        dragMode: 'move',
        cropBoxResizable: false,
        setCropBoxData: {
          width: 200,
          height: 200
        }
      })
    },
    cropAvatar () {
      if (this.cropper !== null) {
        this.form.data.avatar = this.cropper.getCroppedCanvas(
          {
            width: 256,
            height: 256
          }
        ).toDataURL(this.avatar.type)
      }
    },
    destroyCropper () {
      if (this.cropper !== null) {
        this.cropper.destroy()
      }
      this.avatar = null
      this.cropper = null
    },
    initPhotoCropper () {
      const image = document.getElementById('photo-image')
      this.photoCropper = new Cropper(image, {
        aspectRatio: 4 / 6,
        viewMode: 1,
        dragMode: 'move',
        cropBoxResizable: false,
        setCropBoxData: {
          width: 400,
          height: 600
        }
      })
    },
    cropPhoto () {
      if (this.photoCropper !== null) {
        this.form.data.photo = this.photoCropper.getCroppedCanvas(
          {
            width: 380,
            height: 570
          }
        ).toDataURL(this.photo.type)
      }
    },
    destroyPhotoCropper () {
      if (this.photoCropper !== null) {
        this.photoCropper.destroy()
      }
      this.photo = null
      this.photoCropper = null
    },
    reset () {
      this.updateError = null
      this.submitted = false
      this.processing = false
      this.form.data.logout_others = false
      this.form.data.password = ''
      this.form.data.password_confirmation = ''
      this.form.data.avatar = null
      this.form.data.photo = null
    },
    dynamicID () { return 'dynamicID-' + Math.floor(Math.random() * Date.now().toString()) }
  }
}
</script>

<style lang="scss" scoped>
.quill-editor {
      min-height: 400px;
      max-height: 100%;
      height: 100%;
      overflow-y: auto;
    }

.img-container img {
  max-width: 100%;
  height: 360px;
}
.avatar-upload {
  position: relative;
  max-width: 170px;
  margin: 20px auto;

  .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;

    input {
      display: none;

      + label {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #ffffff;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          background: #f1f1f1;
          border-color: #d6d6d6;
        }

        &:before {
          font-size: 18px;
          color: #757575;
          position: absolute;
          top: 5px;
          left: 0;
          right: 0;
          text-align: center;
          margin: auto;
        }
      }
    }

    .avatar-remove {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-bottom: 0;
      border-radius: 100%;
      background: #ffffff;
      border: 1px solid transparent;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        background: #f1f1f1;
        border-color: #d6d6d6;
      }

      &:before {
        font-size: 18px;
        color: #ff3d3d;
        position: absolute;
        top: 5px;
        left: 0;
        right: 0;
        text-align: center;
        margin: auto;
      }
    }
  }

  .avatar-preview {
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #f8f8f8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);

    > div {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.photo-upload {
  width: calc(100% - 10px);
  padding-top: 150%; /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
  margin: 5px;

  .photo-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;

    input {
      display: none;

      + label {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #ffffff;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          background: #f1f1f1;
          border-color: #d6d6d6;
        }

        &:before {
          font-size: 18px;
          color: #757575;
          position: absolute;
          top: 5px;
          left: 0;
          right: 0;
          text-align: center;
          margin: auto;
        }
      }
    }

    .photo-remove {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-bottom: 0;
      border-radius: 100%;
      background: #ffffff;
      border: 1px solid transparent;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        background: #f1f1f1;
        border-color: #d6d6d6;
      }

      &:before {
        font-size: 18px;
        color: #ff3d3d;
        position: absolute;
        top: 5px;
        left: 0;
        right: 0;
        text-align: center;
        margin: auto;
      }
    }
  }

  .photo-preview {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 6px solid #f8f8f8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);

    > div {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
</style>
