<template>
  <div class="content-wrapper">
    <breadcrumb :header="$t('menu.documents')" :items="[{ text: 'Home', to: '/' }, { text: $t('menu.documents') }]" />
    <section class="content">
      <div class="container-fluid">
        <b-card class="card-primary card-outline">
          <b-row>
            <b-col sm="6">
              <b-button size="sm" variant="primary" class="text-right mb-2" @click="addDocument">
                <i class="fas fa-plus mr-1" />
                {{ $t('form.add') }}
              </b-button>
              <b-button size="sm" variant="primary" class="text-right mb-2" @click="refreshDocuments">
                <i class="fas fa-sync mr-1" />
                {{ $t('form.refresh') }}
              </b-button>
            </b-col>
            <b-col sm="6">
              <div class="form-inline float-sm-right">
                <b-form-input v-model="filter" type="search" size="sm" placeholder="Search" debounce="750" />
              </div>
            </b-col>
          </b-row>
          <b-table
            :items="documents"
            :fields="documentFields"
            :outlined="true"
            :busy="isBusy"
            responsive="sm"
            class="projects"
          >
            <template #cell(clients)="item">
              <ul class="list-inline">
                <li v-for="(client, i) in item.value" :id="`client-${client.id}`" :key="i" class="list-inline-item" style="width: 2.5rem;">
                  <b-img
                    v-b-tooltip.hover
                    alt="avatar"
                    class="img-circle elevation-2"
                    :src="client.avatar"
                    :blank="client.avatar ? false : true"
                    :title="client.name"
                    fluid-grow
                  />
                </li>
              </ul>
            </template>
            <template #cell(url)="data">
              <b-dropdown variant="link" class="d-block d-md-none" dropleft toggle-class="text-decoration-none" no-caret>
                <template #button-content>
                  <i class="fas fa-ellipsis-h text-secondary" />
                  <span class="sr-only">Menu</span>
                </template>
                <b-dropdown-item @click="assignDocument(data.item)">
                  {{ $t('form.assign_clients') }}
                </b-dropdown-item>
                <b-dropdown-item :href="data.item.url" target="_blank">
                  {{ $t('form.download') }}
                </b-dropdown-item>
                <b-dropdown-item @click="removeDocument(data.item.id)">
                  {{ $t('form.remove') }}
                </b-dropdown-item>
              </b-dropdown>
              <div class="text-right text-truncate d-none d-md-block">
                <b-link @click="assignDocument(data.item)">
                  <i class="fas fa-location-arrow fa-lg text-secondary" />
                </b-link>
                <a :href="data.item.url" target="_blank" title="Download" class="actions__item">
                  <i class="fas fa-cloud-download-alt fa-lg" />
                </a>
                <b-link class="text-danger" @click="removeDocument(data.item.code)">
                  <i class="fas fa-trash fa-lg" />
                </b-link>
              </div>
            </template>
          </b-table>
          <b-row>
            <b-col sm="5" />
            <b-col sm="7">
              <div class="float-sm-right">
                <b-pagination v-model="currentpage" :per-page="perpage" :total-rows="totalrows" aria-controls="live_classes-table" />
              </div>
            </b-col>
          </b-row>
        </b-card>
        <b-modal
          id="document-modal"
          :title="$t('form.document')"
          no-close-on-backdrop
          :ok-title="$t('form.upload')"
          @ok="saveDocument"
          @shown="bModalShow"
        >
          <template #modal-footer="{ ok, cancel }">
            <b-button variant="secondary" @click="cancel()">
              Cancel
            </b-button>
            <b-button variant="primary" :disabled="uploadError || processing" @click="ok()">
              Upload
            </b-button>
          </template>
          <b-form class="p-0">
            <b-form-group :label="$t('form.name')" label-cols-sm="3">
              <b-form-input
                v-model.trim="$v.form.name.$model"
                :state="submitted ? !$v.form.name.$error : null"
                :disabled="processing"
              />
              <b-form-invalid-feedback
                v-if="!$v.form.name.required"
              >
                {{ $t('form.validations.required', { 'name': $t('form.name')}) }}
              </b-form-invalid-feedback>
            </b-form-group>
            <b-form-group>
              <vue-dropzone
                id="dropzone"
                ref="dropzone"
                class="p-0 border-0"
                style="min-height:120px"
                :options="dropzoneOptions"
                :destroy-dropzone="false"
                @vdropzone-total-upload-progress="dropzoneUploadProgress"
                @vdropzone-success="dropzoneSuccess"
                @vdropzone-error="dropzoneError"
                @vdropzone-file-added="dropzoneFileAdded"
                @vdropzone-removed-file="dropzoneRemovedFile"
              />
              <b-col v-if="submitted && !fileAdded" offset-sm="3" class="invalid-feedback d-block">
                {{ $t('form.validations.required', { 'name': $t('form.document')}) }}
              </b-col>
            </b-form-group>
          </b-form>
        </b-modal>
        <b-modal
          id="assign-modal"
          :title="$t('form.assign_clients')"
          size="lg"
          no-close-on-backdrop
          :ok-title="$t('form.assign')"
          @ok="saveAssigns"
        >
          <template #modal-footer="{ ok, cancel }">
            <b-button variant="secondary" @click="cancel()">
              Cancel
            </b-button>
            <b-button variant="primary" :disabled="uploadError || processing" @click="ok()">
              {{ $t('form.assign') }}
            </b-button>
          </template>
          <div class="m-t-25 m-b-10">
            <document-client
              v-for="(item, i) in line_items"
              :key="i"
              :clients="mClients"
              :item="item"
              :disabled="processing"
              :label="$t('form.client')"
              class="m-b-15"
              @changed="clientChanged"
              @remove="removeClient"
            />
          </div>
          <b-row>
            <b-col sm="6">
              <b-button variant="outline-primary" :disabled="processing" class="m-b-20" @click.prevent="addClient">
                <i class="fas fa-plus" />
                {{ $t('form.add_client') }}
              </b-button>
            </b-col>
          </b-row>
        </b-modal>
      </div>
    </section>
  </div>
</template>

<script>
import { Internationalization } from '@syncfusion/ej2-base'
import vue2Dropzone from 'vue2-dropzone'
import DocumentClient from '~/components/DocumentClient.vue'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'
const {
  required
} = require('vuelidate/lib/validators')
export default {
  components: {
    vueDropzone: vue2Dropzone,
    DocumentClient
  },
  async asyncData ({ $axios }) {
    let mClients = []
    let mSettings = null
    await $axios.$get('/trainer/clients')
      .then((res) => {
        mClients = res.clients
        mSettings = res.settings
      })
      .catch(() => { })
    return { mClients, mSettings }
  },
  data () {
    return {
      intl: new Internationalization(),
      submitted: false,
      processing: false,
      totalrows: 0,
      perpage: 10,
      currentpage: 1,
      filter: '',
      sortBy: 'id',
      sortDirection: 'desc',
      isDesc: false,
      isBusy: false,
      documents: null,
      uploadError: false,
      fileAdded: false,
      selectedDocument: null,
      line_items: [],
      form: {
        clients: [],
        name: null,
        code: null
      },
      documentFields: [
        {
          key: 'name',
          class: 'w-25 text-truncate',
          sortable: true
        },
        {
          key: 'clients',
          class: 'w-65 text-truncate'
        },
        {
          key: 'url',
          label: '',
          class: 'text-right w-10',
          sortable: false
        }
      ],
      dropzoneOptions: {
        url: `${this.$axios.defaults.baseURL}/trainer/documents/upload?client=dropzone`,
        autoProcessQueue: false,
        thumbnailHeight: 160,
        maxFilesize: 10,
        previewTemplate: this.dropzoneTemplate(),
        dictDefaultMessage: "<i class='fas fa-cloud-upload-alt fa-2x mt-4'></i><br>Drop files here to upload",
        acceptedFiles: 'image/*,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.pdf,.txt,.zip,.rar',
        headers: {
          Authorization: localStorage.getItem('auth._token.local')
        }
      }
    }
  },
  validations: {
    form: {
      name: {
        required
      },
      code: {
        required
      }
    }
  },
  watch: {
    perpage () {
      this.drawDocuments()
    },
    currentpage () {
      this.drawDocuments()
    },
    filter () {
      this.drawDocuments()
    }
  },
  mounted () {
    this.drawDocuments()
  },
  methods: {
    async drawDocuments () {
      this.isBusy = true
      await this.$axios
        .$get('/trainer/documents', {
          params: {
            per_page: this.perpage,
            page: this.currentpage,
            filter: this.filter,
            sort_by: this.sortBy,
            sort_direction: this.sortDirection
          }
        })
        .then((res) => {
          this.documents = res.documents
          this.totalrows = res.total_rows
        })
        .then(() => {
          this.isBusy = false
        })
        .catch(() => {
          this.isBusy = false
        })
    },
    addDocument () {
      this.$bvModal.show('document-modal')
      this.submitted = false
      this.form.name = null
      this.form.code = null
      this.uploadError = false
      this.fileAdded = false
    },
    async saveDocument (e) {
      e.preventDefault()
      this.submitted = true
      this.$v.form.name.$touch()
      if (this.$v.form.name.$anyError || this.uploadError || !this.fileAdded) {
        return
      }
      this.processing = true
      this.uploadError = false
      if (this.fileAdded && !this.form.code) {
        this.$refs.dropzone.processQueue()
      } else if (this.uploadError === false) {
        await this.$axios.$put(`/trainer/documents/${this.form.code}`, { data: JSON.stringify(this.form) })
          .then((res) => {
            this.documents.push(res.document)
          })
          .then(() => {
            this.$bvModal.hide('document-modal')
          })
          .catch(() => {})
        this.processing = false
      }
    },
    assignDocument (document) {
      this.selectedDocument = document.code
      this.line_items = []
      document.clients.forEach((c) => {
        this.line_items.push({
          id: c.id,
          client_id: c.id,
          start_date: c.start_date,
          error: false
        })
      })
      if (this.line_items.length === 0) { this.addClient() }
      this.$bvModal.show('assign-modal')
    },
    async saveAssigns (e) {
      e.preventDefault()
      this.form.clients = this.line_items.filter(e => !e.error)
      if (this.form.clients.length === 0) {
        return
      }
      this.processing = true
      await this.$axios.$post(`/trainer/documents/${this.selectedDocument}/assign`, { data: JSON.stringify(this.form) })
        .then((res) => {
          const index = this.documents.findIndex(e => e.id === res.document.id)
          this.documents.splice(index, 1, res.document)
        })
        .then(() => {
          this.$bvModal.hide('assign-modal')
        })
        .catch(() => {})
      this.processing = false
    },
    removeClient (id) {
      if (this.line_items.length > 1) {
        this.line_items = this.line_items.filter(e => e.id !== id)
      }
    },
    clientChanged () {},
    removeDocument (code) {
      this.$confirm({
        title: 'Confirmation',
        message: this.$t('form.confirm_remove'),
        button: {
          no: 'No',
          yes: 'Yes'
        },
        callback: async (confirm) => {
          if (confirm) {
            await this.$axios
              .delete(`/trainer/documents/${code}`)
              .then(() => {
                const index = this.documents.findIndex(e => e.code === code)
                this.documents.splice(index, 1)
              })
              .catch(() => {})
          }
        }
      })
    },
    refreshDocuments () {
      this.currentpage = 1
      this.filter = ''
      this.drawDocuments()
    },
    addClient () {
      this.line_items.push({
        id: this.line_items.length === 0 ? 0 : this.line_items[this.line_items.length - 1].id + 1,
        client_id: null,
        start_date: null,
        error: true
      })
    },
    bModalShow () {
      const $el = document.getElementById('dropzone')
      const $msg = $el.querySelector('div.dz-message')
      if (!$msg.classList.contains('m-0')) {
        $msg.classList.add('m-0')
      }
    },
    dropzoneUploadProgress (progress) {
      this.uploading = progress !== 100
    },
    async dropzoneSuccess (file, res) {
      file.code = res.code
      this.form.code = res.code
      this.$v.form.code.$touch()
      if (this.$v.form.code.$anyError) {
        this.$snotify.error('code error')
        return
      }
      await this.$axios.$put(`/trainer/documents/${this.form.code}`, { data: JSON.stringify(this.form) })
        .then((res) => {
          this.documents.push(res.document)
        })
        .then(() => {
          this.$bvModal.hide('document-modal')
        })
        .catch(() => {})
      this.processing = false
    },
    dropzoneError (file, message, xhr) {
      this.uploadError = true
      this.processing = false
      this.$snotify.error(message.message)
    },
    dropzoneFileAdded (file) {
      this.fileAdded = true
    },
    dropzoneRemovedFile (file) {
      this.fileAdded = false
      this.uploadError = false
    },
    dropzoneTemplate () {
      return `<div class="dz-preview w-100 h-100 m-0 border-0 text-center" style="min-height:120px">
                <div class="mt-4"> <label data-dz-name /> </div>
                <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                <div class="btn btn-danger btn-sm rounded-pill" data-dz-remove>Remove</div>
              </div>`
    }
  }
}
</script>

<style></style>
