<template>
  <section class="content-header">
    <div class="container-fluid">
      <b-row class="mb-2">
        <b-col sm="6">
          <h1 class="m-0">
            {{ header }}
          </h1>
        </b-col>
        <b-col sm="6">
          <b-breadcrumb :items="items" class="float-sm-right" />
        </b-col>
      </b-row>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Breadcrumb',
  props: {
    header: {
      type: String,
      default: ''
    },
    items: {
      type: Array,
      default: null
    }
  }
}
</script>

<style>

</style>
