<template>
  <vue-ctk-datetimepicker
    :id="id"
    :value="value"
    :only-date="onlyDate"
    :only-time="onlyTime"
    :auto-close="autoClose"
    :minute-interval="minuteInterval"
    :no-value-to-custom-elem="noValueToCustomElem"
    :format="onlyDate? 'YYYY-MM-DD': 'YYYY-MM-DD HH:mm'"
    :button-color="color"
    :dark="dark"
    :range="range"
    :shortcut="shortcut"
    :min-date="minDate"
    :max-date="maxDate"
    :disabled="disabled"
    @input="$emit('input', $event)"
    @validate="$emit('validate', $event)"
  >
    <b-input-group>
      <b-form-input
        :state="state"
        :value="formatted"
        :disabled="disabled"
        :class="['cursor-pointer', {'bg-input' : !disabled}]"
        readonly
      />
      <b-input-group-append v-if="allowEmpty">
        <a class="input-group-text bg-input cursor-pointer fal fa-times" @click.stop="clear()" />
      </b-input-group-append>
    </b-input-group>
  </vue-ctk-datetimepicker>
</template>

<script>
// import dateformats from '@/data/dateformats'
export default {
  name: 'Datetimepicker',
  props: {
    id: {
      type: String,
      default: 'undefined'
    },
    allowEmpty: {
      type: Boolean,
      default: false
    },
    value: {
      type: [String, Object],
      default: null
    },
    state: {
      type: Boolean,
      default: null
    },
    disabled: {
      type: Boolean,
      default: false
    },
    minuteInterval: {
      type: String,
      default: '1'
    },
    onlyDate: {
      type: Boolean,
      default: false
    },
    onlyTime: {
      type: Boolean,
      default: false
    },
    autoClose: {
      type: Boolean,
      default: true
    },
    range: {
      type: Boolean,
      default: false
    },
    noValueToCustomElem: {
      type: Boolean,
      default: true
    },
    shortcut: {
      type: String,
      default: null
    },
    minDate: {
      type: String,
      default: null
    },
    maxDate: {
      type: String,
      default: null
    }
  },
  data () {
    // const organization = this.$store.state.organization.organization
    // let format = 'YYYY-MM-DD HH:mm'
    // const df = dateformats.find(e => e.php === organization.settings.date_format)
    // if (df) {
    //   if (this.onlyDate === true) {
    //     format = df.js_date
    //   } else {
    //     format = df.js_datetime
    //   }
    // } else if (this.onlyDate === true) {
    //   format = 'YYYY-MM-DD'
    // } else {
    //   format = 'YYYY-MM-DD HH:mm'
    // }
    // let formatted = ''
    // if (this.value) {
    //   if (this.range) {
    //     formatted = this.moment(this.value.start).format(format) + ' - ' + this.moment(this.value.end).format(format)
    //   } else {
    //     formatted = this.moment(this.value).format(format)
    //   }
    // }
    // return {
    //   format,
    //   formatted
    // }
    let format = 'YYYY-MM-DD HH:mm'
    if (this.onlyDate === true) {
      format = 'YYYY-MM-DD'
    }
    let formatted = ''
    if (this.value) {
      if (this.range) {
        formatted = this.$helper.formatDateTime(this.value.start) + ' - ' + this.$helper.formatDateTime(this.value.end)
      } else {
        formatted = this.$helper.formatDateTime(this.value)
      }
    }
    return {
      format,
      formatted
    }
  },
  computed: {
    color () {
      return getComputedStyle(document.documentElement).getPropertyValue('--theme-color-1')
    },
    dark () {
      return this.$store.state.theme.mode.startsWith('dark')
    }
  },
  watch: {
    value (val) {
      if (val) {
        if (this.range) {
          this.formatted = this.$helper.formatDateTime(this.value.start) + ' - ' + this.$helper.formatDateTime(this.value.end)
        } else {
          this.formatted = this.$helper.formatDateTime(this.value)
        }
      } else { this.formatted = null }
    }
  },
  methods: {
    clear () {
      !this.disabled && this.$emit('input', null)
    }
  }
}
</script>

<style>

</style>
