<template>
  <b-button
    :type="type"
    :variant="varient"
    :size="size"
    :disabled="disabled"
    :class="{'btn-multiple-state btn-shadow': true,
             'show-spinner': processing,
             'show-success': !processing && success,
             'show-fail': !processing && failed }"
  >
    <span class="spinner d-inline-block">
      <span class="bounce1" />
      <span class="bounce2" />
      <span class="bounce3" />
    </span>
    <span class="icon success">
      <i class="simple-icon-check" />
    </span>
    <span class="icon fail">
      <i class="simple-icon-exclamation" />
    </span>
    <span class="label" :class="labelClass"><slot /></span>
  </b-button>
</template>

<script>
export default {
  name: 'SpinnerButton',
  props: {
    type: {
      type: String,
      default: 'button'
    },
    varient: {
      type: String,
      default: ''
    },
    size: {
      type: String,
      default: 'lg'
    },
    disabled: {
      type: Boolean,
      default: false
    },
    processing: {
      type: Boolean,
      default: false
    },
    success: {
      type: Boolean,
      default: false
    },
    failed: {
      type: Boolean,
      default: false
    },
    labelClass: {
      type: String,
      default: ''
    }
  }
}
</script>

<style>

</style>
