<template>
  <div class="content-wrapper">
    <breadcrumb :header="$t('menu.wallet')" :items="[{ text: 'Home', to: '/' }, { text: $t('menu.wallet') }]" />
    <section class="content">
      <div class="container-fluid">
        <div class="callout callout-info">
          <h5><i class="fas fa-money-bill-wave" /> {{ $t('form.balance') }}</h5>{{ intl.formatNumber(mTotal, {format: '#,###.## Ks' }) }}
        </div>
        <b-card class="card-primary card-outline">
          <div class="card-header pl-0 pr-0">
            <h3 class="card-title">
              {{ $t('form.remaining_commissions') }}
            </h3>
            <div v-if="false" class="card-tools mr-0">
              <div class="input-group input-group-sm">
                <b-form-input v-model="remainingFilter" type="search" size="sm" placeholder="Search" debounce="750" />
              </div>
            </div>
          </div>

          <b-table
            id="remaining-commissions-table"
            :items="mRemainingCommissions"
            :fields="remainingCommissionFields"
            :outlined="true"
            :current-page="remainingCurrentPage"
            :per-page="remainingPerPage"
            :busy="isRemainingBusy"
            responsive
            show-empty
            selectable
            select-mode="single"
            striped
            @row-selected="onRemainingRowSelected"
            @row-dblclicked="onRemainingRowDblClicked"
          >
            <template #table-busy>
              <div class="text-center my-2">
                <b-spinner class="align-middle" />
                <strong>Loading...</strong>
              </div>
            </template>
            <template #cell(id)="data">
              <label class="mb-0 hov-pointer text-primary" @click="showRemainingDetails(data.item)">
                {{ (data.item.type === 'training' ? "B-" : "L-") + data.item.model_id }}
              </label>
            </template>
            <template #cell(date)="data">
              {{ intl.formatDate(new Date(data.item.date), {format:'MMM d, yyyy, h:mm a'}) }}
            </template>
            <template #cell(type)="data">
              <span class="text-capitalize">
                {{ data.item.type.split('_').join(' ') }}
              </span>
            </template>
            <template #cell(trainer_commission)="data">
              {{ intl.formatNumber(data.item.trainer_commission, {format: '#,###.## Ks' }) }}
            </template>
            <template #cell(status)="data">
              <div>
                <span v-if="['draft', 'pending'].includes(data.item.status.toLowerCase())" class="text-warning text-capitalize">
                  <i class="fas fa-exclamation-circle" /> {{ data.item.status }}
                </span>
                <span v-else-if="['cancelled', 'rejected', 'expired'].includes(data.item.status.toLowerCase())" class="text-danger text-capitalize">
                  <i class="fas fa-stop-circle" /> {{ data.item.status }}
                </span>
                <span v-else :class="(['confirmed', 'completed', 'coming', 'start_training', 'finished_training', 'finished'].includes(data.item.status.toLowerCase())) ? 'text-success' : 'text-warning'" class="text-capitalize">
                  <i class="fas fa-check-circle" /> {{ data.item.status.split('_').join(' ') }}
                </span>
              </div>
            </template>
          </b-table>
          <b-row class="mt-1">
            <b-col sm="5" />
            <b-col sm="7">
              <div class="float-sm-right">
                <b-pagination v-model="remainingCurrentPage" :per-page="remainingPerPage" :total-rows="remainingTotalRows" aria-controls="remaining-commissions-table" />
              </div>
            </b-col>
          </b-row>
        </b-card>
        <b-card class="card-primary card-outline">
          <div class="card-header pl-0 pr-0">
            <h3 class="card-title">
              {{ $t('form.payments') }}
            </h3>
            <div v-if="false" class="card-tools mr-0">
              <div class="input-group input-group-sm">
                <b-form-input v-model="filter" type="search" size="sm" placeholder="Search" debounce="750" />
              </div>
            </div>
          </div>
          <b-table
            id="payments-table"
            :items="mPayments"
            :fields="paymentFields"
            :outlined="true"
            :per-page="perpage"
            :sort-by.sync="sortBy"
            :sort-desc.sync="isDesc"
            :sort-direction.sync="sortDirection"
            :no-local-sorting="true"
            :busy="isBusy"
            responsive
            show-empty
            selectable
            select-mode="single"
            striped
            @row-selected="onPaymentRowSelected"
            @row-dblclicked="onPaymentRowDblClicked"
            @sort-changed="paymentSortChanged"
          >
            <template #table-busy>
              <div class="text-center my-2">
                <b-spinner class="align-middle" />
                <strong>Loading...</strong>
              </div>
            </template>
            <template #cell(id)="data">
              <label class="mb-0 hov-pointer text-primary" @click="$router.push(`/payments/${data.item.id}`)">
                {{ "P-" + data.item.id }}
              </label>
            </template>
            <template #cell(payment_date)="data">
              {{ intl.formatDate(new Date(data.item.payment_date), {format:'MMM d, yyyy'}) }}
            </template>
            <template #cell(total)="data">
              {{ intl.formatNumber(data.item.total, {format: '#,###.## Ks' }) }}
            </template>
            <template #cell(status)="data">
              <div>
                <span v-if="data.item.status.toLowerCase() === 'pending'" class="text-warning text-capitalize">
                  <i class="fas fa-exclamation-circle" /> {{ data.item.status }}
                </span>
                <span v-else :class="(data.item.status === 'confirmed' || data.item.status === 'completed') ? 'text-success' : 'text-warning'" class="text-capitalize">
                  <i class="fas fa-check-circle" /> {{ data.item.status }}
                </span>
              </div>
            </template>
          </b-table>
          <b-row class="mt-1">
            <b-col sm="5" />
            <b-col sm="7">
              <div class="float-sm-right">
                <b-pagination v-model="currentpage" :per-page="perpage" :total-rows="totalrows" aria-controls="live_classes-table" />
              </div>
            </b-col>
          </b-row>
        </b-card>
      </div>
    </section>
  </div>
</template>

<script>
import { Internationalization } from '@syncfusion/ej2-base'
export default {
  data () {
    return {
      intl: new Internationalization(),
      totalrows: 0,
      perpage: 10,
      currentpage: 1,
      filter: '',
      sortBy: 'payment_date',
      sortDirection: 'desc',
      isDesc: true,
      isBusy: false,
      mPayments: [],
      remainingTotalRows: 0,
      remainingCurrentPage: 1,
      remainingPerPage: 10,
      isRemainingBusy: false,
      mRemainingCommissions: [],
      mTotal: 0.0,
      selectedPayment: null,
      selectedRemaining: null,
      remainingCommissionFields: [
        {
          key: 'id',
          class: 'w-5 text-truncate',
          sortable: true,
          label: this.$t('form.no')
        },
        {
          key: 'date',
          class: 'w-15 text-truncate',
          sortable: true,
          label: this.$t('form.date')
        },
        {
          key: 'type',
          class: 'w-5 text-truncate',
          sortable: true,
          label: this.$t('form.type')
        },
        {
          key: 'name',
          class: 'w-15 text-nowrap',
          sortable: true,
          label: this.$t('form.name')
        },
        {
          key: 'trainer_commission',
          class: 'w-15 text-truncate',
          sortable: true,
          label: this.$t('form.commission')
        },
        {
          key: 'status',
          class: 'w-10 text-nowrap',
          sortable: true,
          label: this.$t('form.status')
        }
      ],
      paymentFields: [
        {
          key: 'id',
          class: 'w-5 text-truncate',
          sortable: true,
          label: this.$t('form.no')
        },
        {
          key: 'payment_date',
          class: 'w-15 text-truncate',
          sortable: true,
          label: this.$t('form.date')
        },
        {
          key: 'total',
          class: 'w-15 text-truncate',
          sortable: true,
          label: this.$t('form.total')
        },
        {
          key: 'status',
          class: 'w-10 text-nowrap',
          sortable: true,
          label: this.$t('form.status')
        }
      ]
    }
  },
  watch: {
    perpage () {
      this.drawPayments()
    },
    currentpage () {
      this.drawPayments()
    },
    filter () {
      this.drawPayments()
    }
  },
  mounted () {
    this.drawPayments()
    this.drawRemainingCommissions()
  },
  methods: {
    async drawPayments () {
      this.isBusy = true
      await this.$axios.$get('/trainer/payments', {
        params: {
          per_page: this.perpage,
          page: this.currentpage,
          filter: this.filter,
          sort_by: this.sortBy,
          sort_direction: this.sortDirection
        }
      })
        .then((res) => {
          this.mPayments = res.payments
          this.totalrows = res.total_rows
        }).then(() => {
          this.isBusy = false
        })
        .catch(() => {
          this.isBusy = false
        })
    },
    async drawRemainingCommissions () {
      this.isRemainingBusy = true
      await this.$axios.$get('/trainer/remainingcommissions')
        .then((res) => {
          this.mRemainingCommissions = res.commissions
          this.mTotal = res.total
          this.remainingTotalRows = this.mRemainingCommissions.length
        }).then(() => {
          this.isRemainingBusy = false
        })
        .catch(() => {
          this.isRemainingBusy = false
        })
    },
    refreshPayments () {
      this.currentpage = 1
      this.filter = ''
      this.drawPayments()
      this.drawRemainingCommissions()
    },
    showRemainingDetails (item) {
      if (item.type === 'training') {
        this.$router.push(`/bookings/${item.model_id}`)
      } else {
        this.$router.push(`/live-classes/${item.model_id}`)
      }
    },
    onPaymentRowSelected (items) {
      if (items !== null && Array.isArray(items) && items.length === 1) {
        this.selectedPayment = items[0]
      } else {
        this.selectedPayment = null
      }
    },
    onPaymentRowDblClicked (item, index, event) {
      this.$router.push(`/payments/${item.id}`)
    },
    paymentSortChanged (ctx) {
      if (this.sortBy !== ctx.sortBy) {
        this.isDesc = false
        this.sortDirection = 'asc'
      } else {
        this.sortDirection = ctx.sortDesc ? 'desc' : 'asc'
      }
      this.sortBy = ctx.sortBy

      this.drawPayments()
    },
    onRemainingRowSelected (items) {
      if (items !== null && Array.isArray(items) && items.length === 1) {
        this.selectedRemaining = items[0]
      } else {
        this.selectedRemaining = null
      }
    },
    onRemainingRowDblClicked (item, index, event) {
      if (item.type === 'training') {
        this.$router.push(`/bookings/${item.model_id}`)
      } else {
        this.$router.push(`/live-classes/${item.model_id}`)
      }
    }
  }
}
</script>

<style>

</style>
