<template>
  <div class="content-wrapper">
    <breadcrumb :header="$t('menu.progress_photos')" :items="[{ text: 'Home', to: '/' }, { text: $t('menu.progress_photos') }]" />
    <section class="content">
      <div class="container-fluid">
        <b-card class="card-primary card-outline">
          <b-row>
            <b-col>
              <b-form-row class="align-items-center">
                <b-col cols="12" sm="4">
                  <b-form-group>
                    <ejs-dropdownlist
                      v-model="$v.form.client_id.$model"
                      :data-source="mClients"
                      filter-type="contains"
                      filter-bar-placeholder="Search"
                      :popup-height="dd_height"
                      :allow-filtering="true"
                      placeholder="Select a client"
                      :css-class="(form.submitted && $v.form.client_id.$error)? 'e-error': null"
                      :fields="{ text: 'name', value: 'id' }"
                    />
                  </b-form-group>
                </b-col>
                <b-col cols="12" sm="4">
                  <b-form-group>
                    <datetimepicker
                      v-model="$v.form.date_range.$model"
                      :only-date="true"
                      :auto-close="true"
                      :state="(submitted && !processing) ? !$v.form.date_range.$error : null"
                      :range="true"
                      :shortcut="'thisMonth'"
                      @input="validated"
                    />
                  </b-form-group>
                </b-col>
                <b-col>
                  <b-form-group>
                    <b-button variant="primary" :disabled="processing" @click="addPhoto">
                      {{ $t('form.add_photo') }}
                    </b-button>
                  </b-form-group>
                </b-col>
              </b-form-row>
            </b-col>
          </b-row>
          <div class="row">
            <div v-for="(progress_photo, i) in photos" :key="i" class="col-12 col-sm-6 col-md-4 col-xl-3 d-flex align-items-stretch flex-column mt-1 mb-1">
              <div v-if="progress_photo.deleted === false" class="card d-flex flex-fill mb-0">
                <b-img class="h-100" style="object-fit: cover;max-height:300px;cursor: pointer;" :src="progress_photo.photo" @click="index=i" />
                <span class="my-2 ml-2">
                  {{ intl.formatDate(new Date(progress_photo.date), {type: 'date', skeleton: 'medium'}) }}
                  <span class="float-right text-danger">
                    <i class="fas fa-trash mr-2 hov-pointer" @click="removePhoto(progress_photo)" />
                  </span>
                </span>
              </div>
            </div>
            <CoolLightBox
              :items="photos"
              :index="index"
              :slideshow="false"
              :loop="true"
              :close-on-click-outside-mobile="true"
              @close="index = null"
            />
          </div>
        </b-card>
        <b-modal
          id="photo-modal"
          size="md"
          :title="$t('form.photo')"
          no-close-on-backdrop
          ok-title="Save"
          @ok="savePhoto"
        >
          <b-form>
            <b-form-group
              :label="$t('form.date')"
              label-cols-sm="2"
            >
              <datetimepicker
                v-model="$v.form.data.date.$model"
                :disabled="processing"
                :only-date="true"
                :auto-close="true"
                :state="(submitted && !processing) ? !$v.form.data.date.$error : null"
              />
            </b-form-group>
            <b-form-group
              :label="$t('form.client')"
              label-cols-sm="2"
            >
              <ejs-dropdownlist
                v-model="$v.form.data.client_id.$model"
                :data-source="mClients"
                filter-type="contains"
                filter-bar-placeholder="Search"
                :popup-height="dd_height"
                :allow-filtering="true"
                placeholder="Select a client"
                :css-class="(submitted && $v.form.data.client_id.$error)? 'e-error': null"
                :fields="{ text: 'name', value: 'id' }"
              />
            </b-form-group>
            <b-form-group>
              <div class="photo-upload">
                <div class="photo-edit">
                  <b-form-file
                    id="photo-input"
                    v-model="photo"
                    plain
                    type="file"
                    accept="image/*"
                    :disabled="processing"
                  />
                  <label id="photo-input-label" :class="['fas fa-pencil-alt', form.data.photo ? 'd-none' : 'd-block']" for="photo-input" />
                  <label
                    id="photo-remove-label"
                    :class="['fas fa-times photo-remove', form.data.photo ? 'd-block' : 'd-none']"
                    @click="form.data.photo = null"
                  />
                </div>
                <div class="photo-preview">
                  <!-- <div
                      id="photoPreview"
                      style="background-origin: content-box;"
                      :style="form.data.photo ? `background-image: url('${form.data.photo}')` : `background-image: url('${$auth.user.photo}')`"
                    /> -->
                  <b-img
                    block
                    class="h-100 mx-auto"
                    :src="form.data.photo"
                  />
                </div>
              </div>
              <div class="text-center">
                Max File Size : 2MB
              </div>
            </b-form-group>
          </b-form>
        </b-modal>
        <b-modal
          id="photo-edit"
          size="md"
          title="Crop Image"
          no-close-on-backdrop
          ok-title="Crop Image"
          @ok="cropPhoto"
          @shown="initPhotoCropper"
          @hidden="destroyPhotoCropper"
        >
          <div class="img-container">
            <img id="photo-image" alt="Picture" class="align-middle">
          </div>
        </b-modal>
      </div>
    </section>
  </div>
</template>

<script>
import Cropper from 'cropperjs/src/index'
import 'cropperjs/dist/cropper.min.css'
import { Internationalization } from '@syncfusion/ej2-base'
import CoolLightBox from 'vue-cool-lightbox'
import 'vue-cool-lightbox/dist/vue-cool-lightbox.min.css'
const {
  required
} = require('vuelidate/lib/validators')
export default {
  components: {
    CoolLightBox
  },
  async asyncData ({ $axios, $store }) {
    let mClients = null
    await $axios.$get('/trainer/allclients')
      .then((res) => {
        mClients = res.clients
      })
      .catch(() => {})
    return { mClients }
  },
  data () {
    return {
      intl: new Internationalization(),
      submitted: false,
      processing: false,
      uploading: false,
      dd_height: '220px',
      index: null,
      photoCropper: null,
      photo: null,
      photos: [],
      form: {
        date_range: null,
        client_id: null,
        data: {
          date: null,
          client_id: null,
          photo: null
        }
      }
    }
  },
  validations: {
    form: {
      date_range: {
        start: {
          required
        },
        end: {
          required
        }
      },
      client_id: {
        required
      },
      data: {
        date: {
          required
        },
        client_id: {
          required
        },
        photo: {
          required
        }
      }
    }
  },
  watch: {
    async photo (file) {
      if (file !== null) {
        if (file.size / 1024 / 1024 > 2) {
          this.$snotify.warning(
            'Image file size must be less than 2MB.'
          )
          this.photo = null
          return
        }

        const reader = new FileReader()
        reader.onload = (e) => {
          document.getElementById('photo-image').src = e.target.result
        }
        await reader.readAsDataURL(file)
        this.$bvModal.show('photo-edit')
      }
    },
    'form.client_id' (val) {
      if (val != null) {
        this.renderPhotos()
      }
    }
  },
  mounted () {
    // this.renderPhotos()
  },
  methods: {
    validated () {
      if (this.form.date_range.start === null || this.form.date_range.end === null) {
        return
      }
      this.renderPhotos()
    },
    async renderPhotos () {
      this.$v.form.client_id.$touch()
      this.$v.form.date_range.$touch()
      if (this.$v.form.client_id.$anyError || this.$v.form.date_range.$anyError) {
        return
      }
      this.submitted = true
      this.processing = true
      this.photos = []
      await this.$axios.$get(`/trainer/clients/${this.form.client_id}/progressphotos`, {
        params: {
          start_date: this.form.date_range.start,
          end_date: this.form.date_range.end
        }
      })
        .then((res) => {
          res.progress_photos.forEach((p) => {
            this.photos.push({
              type: 'image',
              id: p.id,
              thumb: p.photo,
              src: p.photo,
              photo: p.photo,
              date: p.measurement_date,
              deleted: false
            })
          })
        })
        .catch(() => { })
      this.processing = false
    },
    async savePhoto (e) {
      e.preventDefault()
      this.submitted = true
      this.$v.form.data.$touch()
      if (!this.$v.form.data.$anyError) {
        this.processing = true
        await this.$axios.post(`/trainer/clients/${this.form.data.client_id}/progressphotos`, { data: JSON.stringify(this.form.data) })
          .then((res) => {
            if (this.form.data.date >= this.form.date_range.start && this.form.data.date <= this.form.date_range.end) {
              this.renderPhotos()
            }
          })
          .then(() => {
            this.$bvModal.hide('photo-modal')
          })
          .catch(() => {})
        this.processing = false
      }
    },
    openGallery (index) {
      this.$refs.lightbox.showImage(index)
    },
    removePhoto (photo) {
      this.$confirm({
        title: 'Confirmation',
        message: this.$t('form.confirm_remove_photo'),
        button: {
          no: 'No',
          yes: 'Yes'
        },
        callback: async (confirm) => {
          if (confirm) {
            await this.$axios.delete(`/trainer/clients/${this.form.client_id}/progressphotos/${photo.id}`)
              .then((res) => {
                photo.deleted = true
                if (new Date(photo.date) >= new Date(this.form.date_range.start) && new Date(photo.date) <= new Date(this.form.date_range.end)) {
                  this.renderPhotos()
                }
              })
              .catch(() => {})
          }
        }
      })
    },
    addPhoto () {
      this.resetFormPhoto()
      this.$bvModal.show('photo-modal')
    },
    resetFormPhoto () {
      this.submitted = false
      this.form.data.date = this.$helper.formatDateTime(new Date())
      this.form.data.client_id = this.form.client_id
      this.form.data.photo = null
    },
    initPhotoCropper () {
      const image = document.getElementById('photo-image')
      this.photoCropper = new Cropper(image, {
        viewMode: 1,
        dragMode: 'move',
        cropBoxResizable: true
      })
    },
    cropPhoto () {
      if (this.photoCropper !== null) {
        this.form.data.photo = this.photoCropper.getCroppedCanvas().toDataURL(this.photo.type)
      }
    },
    destroyPhotoCropper () {
      if (this.photoCropper !== null) {
        this.photoCropper.destroy()
      }
      this.photo = null
      this.photoCropper = null
    }
  }
}
</script>

<style lang="scss" scoped>
.img-container img {
  max-width: 100%;
  height: 360px;
}

.photo-upload {
  position: relative;
  padding-top: 50%;
  margin: 10px auto;

  .photo-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;

    input {
      display: none;

      + label {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #ffffff;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          background: #f1f1f1;
          border-color: #d6d6d6;
        }

        &:before {
          font-size: 18px;
          color: #757575;
          position: absolute;
          top: 5px;
          left: 0;
          right: 0;
          text-align: center;
          margin: auto;
        }
      }
    }

    .photo-remove {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-bottom: 0;
      border-radius: 100%;
      background: #ffffff;
      border: 1px solid transparent;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        background: #f1f1f1;
        border-color: #d6d6d6;
      }

      &:before {
        font-size: 18px;
        color: #ff3d3d;
        position: absolute;
        top: 5px;
        left: 0;
        right: 0;
        text-align: center;
        margin: auto;
      }
    }
  }

  .photo-preview {
    position: absolute;
    height: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);

    > div {
      height: 100%;
      max-height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
</style>
